Repository openvinotoolkit/open_model_zoo, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, demo, documentation, model, accuracy checker, downloader

fix syntax errors
  demos/common/python/models/yolo.py
Labels: demo

AC: support deepwagrant dataset stored in pickle
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/wgs.py
Labels: documentation, accuracy checker

AC: fix yolov2 adapter if batch omitted
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
Labels: accuracy checker

optimize yolo adapter and change docs for yolov4-tiny (#2745)
  models/public/yolo-v4-tiny-tf/README.md
  models/public/yolo-v4-tiny-tf/accuracy-check.yml
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
Labels: documentation, model, accuracy checker

AC: support deepwagrant dataset stored in pickle (#2753)
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/wgs.py
Labels: documentation, accuracy checker

AC: fix yolov2 adapter if batch omitted (#2754)
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
Labels: accuracy checker

added dummy accuracy-check.yml file
  models/public/chest-xray-screening-eff/LICENSE.txt
  models/public/chest-xray-screening-eff/README.md
  models/public/chest-xray-screening-eff/accuracy-check.yml
  models/public/chest-xray-screening-eff/densenet_eff.yml
  models/public/chest-xray-screening-eff/media/class0.jpg
  models/public/chest-xray-screening-eff/media/class1.jpg
  models/public/chest-xray-screening-eff/media/class2.jpg
  models/public/chest-xray-screening-eff/media/efficientnet.png
  models/public/chest-xray-screening/README.md
  models/public/chest-xray-screening/accuracy-check.yml
  models/public/chest-xray-screening/dense_net_model.yml
  models/public/chest-xray-screening/densenet.yml
Labels: documentation, model

renamed config files
  models/public/chest-xray-screening-eff/model.yml
  models/public/chest-xray-screening/model.yml
Labels: model

Update demos/common/cpp/models/src/hpe_model_openpose.cpp
  demos/common/cpp/models/src/hpe_model_openpose.cpp
Labels: demo

Update demos/common/cpp/utils/include/utils/shared_blob_allocator.h
  demos/common/cpp/utils/include/utils/shared_blob_allocator.h
Labels: demo

updated Readme file
  models/public/chest-xray-screening-eff/README.md
  models/public/chest-xray-screening/README.md
Labels: documentation, model

Fix after #2716 PR
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo

fix
  demos/common/python/models/ssd.py
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo

Add license
  demos/common/python/models/detection_model.py
  demos/common/python/models/image_model.py
Labels: demo

Add segmentation model
  demos/common/python/models/segmentation.py
Labels: demo

resize_detections refactoring
  demos/common/python/models/detection_model.py
Labels: demo

Fix
  demos/common/python/models/centernet.py
  demos/common/python/models/detection_model.py
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/image_model.py
  demos/common/python/models/retinaface.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/yolo.py
Labels: demo

Remove unused code
  demos/common/python/models/ssd.py
Labels: demo

The postprocess method removed from DetectionModel
  demos/common/python/models/detection_model.py
  demos/common/python/models/detr.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/yolo.py
Labels: demo

Remove restriction for batch_size==1 and its setting
  demos/common/python/models/image_model.py
  demos/common/python/models/model.py
Labels: demo

Fix
  demos/common/python/models/image_model.py
Labels: demo

Fix
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/segmentation.py
Labels: demo

Refactoring
  demos/common/python/models/image_model.py
  demos/common/python/models/yolo.py
Labels: demo

Model API structure refactoring
  demos/common/python/models/centernet.py
  demos/common/python/models/detection_model.py
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/image_model.py
  demos/common/python/models/model.py
  demos/common/python/models/retinaface.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/utils.py
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo

ImageModel now supports several image inputs and several 2D info inputs
  demos/common/python/models/detection_model.py
  demos/common/python/models/image_model.py
  demos/common/python/models/ssd.py
Labels: demo

Fix to 0c6b8a0cd3257c6c8da0e7a4e9f2b36f51f4b9c2
  demos/common/python/models/segmentation.py
Labels: demo

Add documentation
  demos/common/python/models/detection_model.py
  demos/common/python/models/image_model.py
  demos/common/python/models/model.py
Labels: demo

Add the 'keep_aspect_ratio' bool parameter to ImageModel ctor.
  demos/common/python/models/centernet.py
  demos/common/python/models/detection_model.py
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/image_model.py
  demos/common/python/models/model.py
  demos/common/python/models/retinaface.py
  demos/common/python/models/segmentation.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo

Remove assert statements
  demos/common/python/models/centernet.py
  demos/common/python/models/ctpn.py
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/model.py
  demos/common/python/models/retinaface.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/yolo.py
Labels: demo

Fix after rebase
  demos/common/python/models/centernet.py
  demos/common/python/models/detection_model.py
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/image_model.py
  demos/common/python/models/model.py
  demos/common/python/models/retinaface.py
  demos/common/python/models/segmentation.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo

Remove keep_aspect_ratio_option
  demos/common/python/models/__init__.py
  demos/common/python/models/centernet.py
  demos/common/python/models/detection_model.py
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/image_model.py
  demos/common/python/models/retinaface.py
  demos/common/python/models/segmentation.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/utils.py
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo, documentation

Update demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/README.md
Labels: documentation

fix AC postprocess docs
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
Labels: documentation, accuracy checker

Update demos/common/python/models/centernet.py
  demos/common/python/models/centernet.py
Labels: demo

AC: update for support OCR models
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/bentham.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/geometric_transformations.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: documentation, accuracy checker

Added ViTSTR small model
  models/public/device_support.md
  models/public/index.md
  models/public/vitstr-small-patch16-224/README.md
  models/public/vitstr-small-patch16-224/accuracy-check.yml
  models/public/vitstr-small-patch16-224/model.py
  models/public/vitstr-small-patch16-224/model.yml
  models/public/vitstr-small-patch16-224/vocab.txt
  tools/accuracy_checker/configs/vitstr-small-patch16-224.yml
Labels: documentation, model, accuracy checker

Updated simple_decoder adapter
  models/public/vitstr-small-patch16-224/accuracy-check.yml
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
Labels: documentation, model, accuracy checker

Updated text detection demo
  demos/tests/cases.py
  demos/text_detection_demo/cpp/README.md
  demos/text_detection_demo/cpp/include/text_recognition.hpp
  demos/text_detection_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/models.lst
  demos/text_detection_demo/cpp/src/text_recognition.cpp
  demos/text_detection_demo/cpp/text_detection_demo.hpp
  models/public/vitstr-small-patch16-224/README.md
  models/public/vitstr-small-patch16-224/vocab.txt
Labels: demo, documentation, model

Update tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/README.md
Labels: documentation, accuracy checker

Update tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/README.md
Labels: documentation, accuracy checker

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - '**/*requirements*.*'
  - '**/setup.py'
demo:
  - any: ['demos/**/*', '!demos/**/*.md']
documentation:
  - '*.md'
  - '**/*.md'
model:
  - 'models/**/*'
accuracy checker:
  - 'tools/accuracy_checker/**/*'
  - 'models/**/accuracy_check.yml'
downloader:
  - 'tools/downloader/**/*'
  - 'tools/model_tools/**/*'
