Repository openvinotoolkit/open_model_zoo, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, demo, documentation, model, accuracy checker, downloader

AC: update for support OCR models (#2757)
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/bentham.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/geometric_transformations.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: documentation, accuracy checker

Added ViTSTR small model (#2584)
  demos/tests/cases.py
  demos/text_detection_demo/cpp/README.md
  demos/text_detection_demo/cpp/include/text_recognition.hpp
  demos/text_detection_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/models.lst
  demos/text_detection_demo/cpp/src/text_recognition.cpp
  demos/text_detection_demo/cpp/text_detection_demo.hpp
  models/public/device_support.md
  models/public/index.md
  models/public/vitstr-small-patch16-224/README.md
  models/public/vitstr-small-patch16-224/accuracy-check.yml
  models/public/vitstr-small-patch16-224/model.py
  models/public/vitstr-small-patch16-224/model.yml
  models/public/vitstr-small-patch16-224/vocab.txt
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/configs/vitstr-small-patch16-224.yml
Labels: demo, documentation, model, accuracy checker

AC: make undefined shapes compatible with new python api
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_config.py
Labels: accuracy checker

AC: make undefined shapes compatible with new python api (#2758)
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_config.py
Labels: accuracy checker

Update tools/accuracy_checker/accuracy_checker/postprocessor/nms.py
  tools/accuracy_checker/accuracy_checker/postprocessor/nms.py
Labels: accuracy checker

toc updates
  data/datasets.md
  demos/README.md
  models/intel/index.md
  models/public/index.md
  tools/accuracy_checker/README.md
Labels: documentation, model, accuracy checker

Use strict major version v0.24 for scikit-learn due to py3.6 support drop in v1.0 (#2744)
  demos/requirements.txt
  tools/accuracy_checker/requirements.in
Labels: dependencies, demo, accuracy checker

AC prevent device config loading for not current device
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker

Update tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker

AC prevent device config loading for not current device (#2759)
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker

Apply suggestions from code review
  demos/common/python/models/detection_model.py
  demos/common/python/models/image_model.py
  demos/common/python/models/model.py
Labels: demo

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - '**/*requirements*.*'
  - '**/setup.py'
demo:
  - any: ['demos/**/*', '!demos/**/*.md']
documentation:
  - '*.md'
  - '**/*.md'
model:
  - 'models/**/*'
accuracy checker:
  - 'tools/accuracy_checker/**/*'
  - 'models/**/accuracy_check.yml'
downloader:
  - 'tools/downloader/**/*'
  - 'tools/model_tools/**/*'
