Repository openvinotoolkit/open_model_zoo, pull requests merged in 2020-12, with the labels that each got.

#1813 AC: support speech to text evaluator
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/README.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
Labels: accuracy checker

#1865 AC: support retinanet from TF official
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
  tools/accuracy_checker/accuracy_checker/adapters/retinanet.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
Labels: accuracy checker

#1866 AC: initial version TF2 launcher
  tools/accuracy_checker/README.md
  tools/accuracy_checker/accuracy_checker/__init__.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/__init__.py
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/preprocessor/color_space_conversion.py
  tools/accuracy_checker/accuracy_checker/preprocessor/resize.py
  tools/accuracy_checker/data/test_models/samplenet_tf2/saved_model.pb
  tools/accuracy_checker/data/test_models/samplenet_tf2/variables/variables.data-00000-of-00001
  tools/accuracy_checker/data/test_models/samplenet_tf2/variables/variables.index
  tools/accuracy_checker/tests/test_tf_launcher.py
Labels: accuracy checker

#1879 AC: offline mode upgrade
  tools/accuracy_checker/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/accuracy_checker/adapters/attributes_recognition.py
  tools/accuracy_checker/accuracy_checker/adapters/audio_recognition.py
  tools/accuracy_checker/accuracy_checker/adapters/classification.py
  tools/accuracy_checker/accuracy_checker/adapters/dna_seq_recognition.py
  tools/accuracy_checker/accuracy_checker/adapters/face_recognition_quality_assessment.py
  tools/accuracy_checker/accuracy_checker/adapters/hit_ratio.py
  tools/accuracy_checker/accuracy_checker/adapters/image_inpainting.py
  tools/accuracy_checker/accuracy_checker/adapters/image_processing.py
  tools/accuracy_checker/accuracy_checker/adapters/mono_depth.py
  tools/accuracy_checker/accuracy_checker/adapters/nlp.py
  tools/accuracy_checker/accuracy_checker/adapters/optical_flow.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation.py
  tools/accuracy_checker/accuracy_checker/adapters/regression.py
  tools/accuracy_checker/accuracy_checker/adapters/reidentification.py
  tools/accuracy_checker/accuracy_checker/adapters/salient_objects_detection.py
  tools/accuracy_checker/accuracy_checker/adapters/segmentation.py
  tools/accuracy_checker/accuracy_checker/adapters/ssd.py
  tools/accuracy_checker/accuracy_checker/adapters/style_transfer.py
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dummy_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/loaders/__init__.py
  tools/accuracy_checker/accuracy_checker/launcher/loaders/json_loader.py
  tools/accuracy_checker/accuracy_checker/launcher/loaders/loader.py
  tools/accuracy_checker/accuracy_checker/launcher/loaders/pickle_loader.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/metrics/detection.py
  tools/accuracy_checker/accuracy_checker/postprocessor/align_prediction_depth_map.py
  tools/accuracy_checker/tests/test_dlsdk_launcher.py
  tools/accuracy_checker/tests/test_dummy_launcher.py
  tools/accuracy_checker/tests/test_model_evaluator.py
Labels: accuracy checker, refactoring

#1882 add classes description
  models/intel/person-vehicle-bike-detection-crossroad-0078/description/person-vehicle-bike-detection-crossroad-0078.md
Labels: documentation

#1887 AC: Update accuracy evaluation method for facenet model
  models/public/facenet-20180408-102900/accuracy-check.yml
  models/public/facenet-20180408-102900/facenet-20180408-102900.md
  models/public/index.md
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/reidentification.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/lfw.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/reid.py
  tools/accuracy_checker/dataset_definitions.yml
Labels: accuracy checker, documentation

#1725 AC: Added support for CRAFT model
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/text_detection.py
Labels: accuracy checker

#1857 Added SSH model
  demos/python_demos/common/models/__init__.py
  demos/python_demos/common/models/retinaface.py
  demos/python_demos/object_detection_demo/models.lst
  demos/python_demos/object_detection_demo/object_detection_demo.py
  models/public/index.md
  models/public/ssh-mxnet/accuracy-check.yml
  models/public/ssh-mxnet/model.yml
  models/public/ssh-mxnet/ssh-mxnet.md
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/retinaface.py
  tools/accuracy_checker/configs/ssh-mxnet.yml
Labels: model

#1932 AC: fix input feeding for caffe launcher
  tools/accuracy_checker/accuracy_checker/launcher/caffe_launcher.py
Labels: accuracy checker, bugfix

#1935 Updated description for SSD models
  models/public/ssd300/ssd300.md
  models/public/ssd512/ssd512.md
Labels: documentation

#1933 AC: fix relative path specification for saved model directory
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
Labels: accuracy checker, bugfix

#1906 Added ReXNet v1 1.0x model
  demos/classification_demo/models.lst
  models/public/index.md
  models/public/rexnet-v1-x1.0/accuracy-check.yml
  models/public/rexnet-v1-x1.0/model.yml
  models/public/rexnet-v1-x1.0/rexnet-v1-x1.0.md
  tools/accuracy_checker/configs/rexnet-v1-x1.0.yml
Labels: model

#1948 AC: added info about dumped annotation
  tools/accuracy_checker/accuracy_checker/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/tests/test_dataset.py
Labels: accuracy checker, feature

#1953 AC: support see in the dark task
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/see_in_the_dark.py
  tools/accuracy_checker/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/regression.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/preprocessor/raw_image_preprocessing.py
  tools/accuracy_checker/accuracy_checker/representation/image_processing.py
  tools/accuracy_checker/requirements.in
Labels: accuracy checker, feature

#1907 Add open_images_capture to image retrieval demo
  demos/python_demos/image_retrieval_demo/README.md
  demos/python_demos/image_retrieval_demo/image_retrieval_demo.py
  demos/python_demos/image_retrieval_demo/image_retrieval_demo/roi_detector_on_video.py
Labels: demo

#1959 AC: fix face reid quantization
  tools/accuracy_checker/accuracy_checker/adapters/reidentification.py
Labels: accuracy checker, bugfix

#1954 Add dla-34 model
  demos/classification_demo/models.lst
  models/public/dla-34/accuracy-check.yml
  models/public/dla-34/dla-34.md
  models/public/dla-34/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/dla-34.yml
Labels: model

#1958 Add LSTM inputs to TF_Launcher
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
Labels: accuracy checker, feature
