Repository openvinotoolkit/open_model_zoo, pull requests merged in 2020-10, with the labels that each got.

#1617 AC: support categorical segmentation labels
  tools/accuracy_checker/accuracy_checker/adapters/segmentation.py
  tools/accuracy_checker/accuracy_checker/metrics/semantic_segmentation.py
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/argmax_segmentation_mask.py
Labels: accuracy checker, feature

#1621 Fix the out of memory error in FramesThreadBody
  demos/python_demos/multi_camera_multi_target_tracking/multi_camera_multi_target_tracking.py
Labels: bugfix, demo

#1615 AC: support intermediate metric results logging
  tools/accuracy_checker/README.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/im2latex_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, feature

#1612 AC: Added support for BiDAF model
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/nlp.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/squad.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/squad_bidaf.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/launcher/onnx_launcher.py
  tools/accuracy_checker/accuracy_checker/metrics/question_answering.py
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/extract_answers_tokens.py
  tools/accuracy_checker/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/accuracy_checker/representation/nlp_representation.py
  tools/accuracy_checker/requirements.in
Labels: accuracy checker, feature

#1627 EfficientNets description fixes
  models/public/efficientnet-b0-pytorch/efficientnet-b0-pytorch.md
  models/public/efficientnet-b0/efficientnet-b0.md
  models/public/efficientnet-b0_auto_aug/efficientnet-b0_auto_aug.md
  models/public/efficientnet-b5-pytorch/efficientnet-b5-pytorch.md
  models/public/efficientnet-b5/efficientnet-b5.md
  models/public/efficientnet-b7-pytorch/efficientnet-b7-pytorch.md
  models/public/efficientnet-b7_auto_aug/efficientnet-b7_auto_aug.md
Labels: bugfix

#1633 AC: support different number of outputs from faster rcnn
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
Labels: accuracy checker, feature

#1641 AC docs: add missed variable and info how to run in IDE
  tools/accuracy_checker/README.md
  tools/accuracy_checker/configs/README.md
Labels: documentation

#1610 Add metrics for GAN models
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/gan_metrics.py
  tools/accuracy_checker/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/accuracy_checker/representation/raw_representation.py
Labels: accuracy checker, feature

#1604 Enable CoCoInstanceSegmentationRepresentation in mean_iou metric
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/ms_coco.py
Labels: accuracy checker, feature

#1648 AC: Updated TextClassificationAnnotation
  tools/accuracy_checker/accuracy_checker/representation/nlp_representation.py
Labels: accuracy checker

#1659 AC: fix precision setting for compiled networks
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker, bugfix

#1660 AC: support input precision setting via command line
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/tests/test_input_feeder.py
Labels: accuracy checker, feature

#1653 Added shufflenet-v2-x1.0 model
  demos/classification_demo/models.lst
  models/public/index.md
  models/public/shufflenet-v2-x1.0/accuracy-check.yml
  models/public/shufflenet-v2-x1.0/model.yml
  models/public/shufflenet-v2-x1.0/shufflenet-v2-x1.0.md
  tools/accuracy_checker/configs/shufflenet-v2-x1.0.yml
Labels: model

#1656 AC: support image based localization task
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/place_recognition.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/reid.py
  tools/accuracy_checker/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/accuracy_checker/representation/reid_representation.py
  tools/accuracy_checker/setup.cfg
Labels: accuracy checker, feature

#1670 added nyu fcrn depth prediction model
  demos/python_demos/monodepth_demo/models.lst
  demos/python_demos/monodepth_demo/monodepth_demo.py
  models/public/fcrn-dp-nyu-depth-v2-tf/accuracy-check.yml
  models/public/fcrn-dp-nyu-depth-v2-tf/fcrn-dp-nyu-depth-v2-tf.md
  models/public/fcrn-dp-nyu-depth-v2-tf/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/fcrn-dp-nyu-depth-v2-tf.yml
  tools/accuracy_checker/dataset_definitions.yml
Labels: model

#1674 AC: Added custom evaluator for two-stream I3D model
  models/public/i3d-rgb-tf/accuracy-check.yml
  tools/accuracy_checker/accuracy_checker/annotation_converters/action_recognition.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/README.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/accuracy_checker/metrics/classification.py
Labels: accuracy checker, feature

#1484 Add semantic-segmentation model HRNetV2
  models/public/hrnet-v2-c1-segmentation/accuracy-check.yml
  models/public/hrnet-v2-c1-segmentation/hrnet-v2-c1-segmentation.md
  models/public/hrnet-v2-c1-segmentation/model.yml
  models/public/index.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/shift.py
  tools/accuracy_checker/configs/hrnet-v2-c1-segmentation.yml
  tools/accuracy_checker/dataset_definitions.yml
  tools/downloader/pytorch_to_onnx.py
Labels: model

#1683 AC: Fix for metric calculation for two-stream I3D model
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
Labels: accuracy checker, bugfix

#1684 AC: Fix metrics profiling in case of multiple metrics
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/base_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/instance_segmentation_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/object_detection_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/profiling_executor.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/regression_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/segmentation_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/representation/segmentation_representation.py
Labels: accuracy checker

#1681 Add the possibility to set multiple inputs for PyTorch models
  tools/downloader/pytorch_to_onnx.py
Labels: downloader, feature

#1699 AC: support external reading in single image processor
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, feature

#1698 AC: extend postprocessing behavior cover more single image tasks
  tools/accuracy_checker/accuracy_checker/postprocessor/postprocessor.py
  tools/accuracy_checker/accuracy_checker/postprocessor/resize.py
  tools/accuracy_checker/accuracy_checker/postprocessor/resize_style_transfer.py
  tools/accuracy_checker/accuracy_checker/postprocessor/resize_super_resolution.py
Labels: accuracy checker, feature

#1628 Add YOLO v4 model
  models/public/index.md
  models/public/yolo-v4-tf/accuracy-check.yml
  models/public/yolo-v4-tf/model.yml
  models/public/yolo-v4-tf/pre-convert.py
  models/public/yolo-v4-tf/yolo-v4-tf.md
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
  tools/accuracy_checker/configs/yolo-v4-tf.yml
Labels: model

#1701 switch to shebang to python3
  demos/python_demos/speech_recognition_demo/speech_recognition_demo.py
Labels: community contribution

#1669 Add colorization-v2 model PyTorch version
  demos/python_demos/colorization_demo/README.md
  demos/python_demos/colorization_demo/colorization_demo.py
  demos/python_demos/colorization_demo/models.lst
  models/public/colorization-v2-norebal/accuracy-check.yml
  models/public/colorization-v2-norebal/colorization-v2-norebal.md
  models/public/colorization-v2-norebal/model.yml
  models/public/colorization-v2/accuracy-check.yml
  models/public/colorization-v2/colorization-v2.md
  models/public/colorization-v2/model.yml
  models/public/index.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/configs/colorization-v2-norebal.yml
Labels: model
