Repository openvinotoolkit/open_model_zoo, pull requests merged in 2020-11, with the labels that each got.

#1720 AC: support multiple inputs nets in single image processor
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/preprocessor/inpainting_preprocessor.py
Labels: accuracy checker

#1723 AC: fix resize for inpainting case
  tools/accuracy_checker/accuracy_checker/postprocessor/resize.py
Labels: accuracy checker, bugfix

#1722 AC: improve error log
  tools/accuracy_checker/.pylintrc
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
  tools/accuracy_checker/accuracy_checker/dependency.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, refactoring

#1728 AC: improve work with prepared input mask in inpainting task
  tools/accuracy_checker/accuracy_checker/preprocessor/inpainting_preprocessor.py
Labels: accuracy checker

#1726 AC: align log loss metric output format
  tools/accuracy_checker/accuracy_checker/metrics/hit_ratio.py
Labels: accuracy checker

#1714 Move converters from other repository
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/cluttered_mnist.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/mpii.py
Labels: accuracy checker

#1730 AC: subset selection for place recognition task
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/place_recognition.py
  tools/accuracy_checker/accuracy_checker/dataset.py
Labels: accuracy checker

#1601 VideoCapWrapper refactoring
  demos/common/src/images_capture.cpp
Labels: demo, refactoring

#1727 AC: support initial shape for network in dlsdk launcher
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_readme.md
Labels: accuracy checker

#1735 AC: add Mapillary dataset support
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/mapillary_20.py
  tools/accuracy_checker/dataset_definitions.yml
Labels: accuracy checker

#1682 add yolact-resnet50-fpn support
  demos/python_demos/instance_segmentation_demo/README.md
  demos/python_demos/instance_segmentation_demo/instance_segmentation_demo.py
  demos/python_demos/instance_segmentation_demo/instance_segmentation_demo/model_utils.py
  demos/python_demos/instance_segmentation_demo/models.lst
  models/public/index.md
  models/public/yolact-resnet50-fpn-pytorch/accuracy-check.yml
  models/public/yolact-resnet50-fpn-pytorch/model.py
  models/public/yolact-resnet50-fpn-pytorch/model.yml
  models/public/yolact-resnet50-fpn-pytorch/yolact-resnet50-fpn-pytorch.md
  tools/accuracy_checker/configs/yolact-resnet50-fpn-pytorch.yml
  tools/downloader/common.py
Labels: model

#1691 Add colorization-siggraph model
  demos/python_demos/colorization_demo/README.md
  demos/python_demos/colorization_demo/colorization_demo.py
  demos/python_demos/colorization_demo/models.lst
  models/public/colorization-siggraph/accuracy-check.yml
  models/public/colorization-siggraph/colorization-siggraph.md
  models/public/colorization-siggraph/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/colorization-siggraph.yml
  tools/downloader/pytorch_to_onnx.py
Labels: model

#1713 Vloginov/add polynomials handwritten
  demos/python_demos/formula_recognition_demo/models.lst
  models/intel/formula-recognition-polynomials-handwritten-0001/accuracy-check.yml
  models/intel/formula-recognition-polynomials-handwritten-0001/description/formula-recognition-polynomials-handwritten-0001.md
  models/intel/formula-recognition-polynomials-handwritten-0001/description/formula-recognition-polynomials-handwritten-0001.png
  models/intel/formula-recognition-polynomials-handwritten-0001/vocab.json
  models/intel/index.md
  tools/accuracy_checker/accuracy_checker/metrics/im2latex_images_match.py
  tools/accuracy_checker/configs/formula-recognition-polynomials-handwritten-0001.yml
  tools/accuracy_checker/dataset_definitions.yml
Labels: model

#1754 AC: Fix for extract_result in print_vector presenter
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker, bugfix

#1753 Docs: update links on retinaface
  models/public/retinaface-anti-cov/model.yml
  models/public/retinaface-anti-cov/retinaface-anti-cov.md
  models/public/retinaface-resnet50/model.yml
  models/public/retinaface-resnet50/retinaface-resnet50.md
Labels: documentation

#1716 Adds common-sign-language-0001 model
  models/public/common-sign-language-0001/accuracy-check.yml
  models/public/common-sign-language-0001/common-sign-language-0001.md
  models/public/common-sign-language-0001/model.yml
  tools/accuracy_checker/configs/common-sign-language-0001.yml
  tools/accuracy_checker/dataset_definitions.yml
Labels: accuracy checker, model

#1703 add antispoofing model
  models/public/anti-spoof-mn3/accuracy-check.yml
  models/public/anti-spoof-mn3/anti-spoof-mn3.md
  models/public/anti-spoof-mn3/model.yml
  models/public/index.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/antispoofing.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/classification.py
  tools/accuracy_checker/configs/anti-spoof-mn3.yml
  tools/accuracy_checker/dataset_definitions.yml
Labels: model

#1724 Updated gesture recognition demo
  demos/README.md
  demos/python_demos/gesture_recognition_demo/README.md
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo.jpg
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo.py
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo/__init__.py
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo/action_recognizer.py
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo/common.py
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo/person_detector.py
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo/tracker.py
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo/video_library.py
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo/video_stream.py
  demos/python_demos/gesture_recognition_demo/gesture_recognition_demo/visualizer.py
  demos/python_demos/gesture_recognition_demo/jester27-classes.json
  demos/python_demos/gesture_recognition_demo/models.lst
  demos/python_demos/gesture_recognition_demo/msasl100-classes.json
Labels: demo

#1761 AC: Data readers refactoring, specific config validators replaced with parameters methods and default config validator
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
Labels: accuracy checker, refactoring

#1759 Updates gesture recognition demo model support
  demos/python_demos/gesture_recognition_demo/models.lst
Labels: demo

#1768 fixes after refactoring
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/preprocessor/inpainting_preprocessor.py
Labels: accuracy checker, bugfix

#1771 add accuracy checker config for aclnet
  models/public/aclnet/accuracy-check.yml
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/sound_classification_converter.py
  tools/accuracy_checker/configs/aclnet.yml
  tools/accuracy_checker/dataset_definitions.yml
Labels: accuracy checker

#1763 AC: support optical flow task
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/optical_flow.py
  tools/accuracy_checker/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/regression.py
  tools/accuracy_checker/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/accuracy_checker/representation/optical_flow.py
Labels: accuracy checker, feature

#1778 add bert-small-uncased-whole-word-masking-squad-int8-0002 model
  models/intel/bert-small-uncased-whole-word-masking-squad-int8-0002/accuracy-check.yml
  models/intel/bert-small-uncased-whole-word-masking-squad-int8-0002/description/bert-small-uncased-whole-word-masking-squad-int8-0002.md
  models/intel/bert-small-uncased-whole-word-masking-squad-int8-0002/vocab.txt
  models/intel/index.md
Labels: model

#1786 AC: restriction on parasail version
  tools/accuracy_checker/requirements.in
Labels: accuracy checker

#1785 AC: support forward tacotron
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/regression.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/features_regression.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/metrics/regression.py
  tools/accuracy_checker/accuracy_checker/representation/regression_representation.py
Labels: accuracy checker

#1782 AC: Added support for WFLW dataset
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/wflw.py
Labels: accuracy checker

#1792 Added link to used labels for driver-action-recognition-adas-0002
  models/intel/driver-action-recognition-adas-0002/description/driver-action-recognition-adas-0002.md
Labels: documentation

#1800 AC: Added support for Mapillary Vistas dataset
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/mapillary_20.py
  tools/accuracy_checker/accuracy_checker/representation/segmentation_representation.py
Labels: accuracy checker

#1671 AC: update affinity setting via ngraph
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/data/test_models/SampLeNet.bin
  tools/accuracy_checker/data/test_models/SampLeNet.xml
  tools/accuracy_checker/tests/test_dlsdk_launcher.py
Labels: accuracy checker, refactoring

#1807 AC: added adapter for 2 stage detector
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
Labels: accuracy checker

#1814 AC: Added support for output where len of shape is 4 for common_language_modeling adapter
  tools/accuracy_checker/accuracy_checker/adapters/nlp.py
Labels: accuracy checker, bugfix

#1817 AC: fix typo in asr evaluator
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
Labels: accuracy checker, bugfix

#1812 Corner crop of ground truth image
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/crop_ground_truth_image.py
Labels: accuracy checker

#1750 Add Efficientdet-d0, d1 models
  models/public/efficientdet-d0-tf/accuracy-check.yml
  models/public/efficientdet-d0-tf/efficientdet-d0-tf.md
  models/public/efficientdet-d0-tf/model.yml
  models/public/efficientdet-d0-tf/pre-convert.py
  models/public/efficientdet-d1-tf/accuracy-check.yml
  models/public/efficientdet-d1-tf/efficientdet-d1-tf.md
  models/public/efficientdet-d1-tf/model.yml
  models/public/efficientdet-d1-tf/pre-convert.py
  models/public/index.md
  models/public/licenses/APACHE-2.0-TF-AutoML.txt
  tools/accuracy_checker/configs/efficientdet-d0-tf.yml
  tools/accuracy_checker/configs/efficientdet-d1-tf.yml
  tools/accuracy_checker/dataset_definitions.yml
Labels: model

#1818 AC: Added check for existence of eos_index in best_sequence for nmt adapter
  tools/accuracy_checker/accuracy_checker/adapters/nlp.py
Labels: accuracy checker, bugfix

#1824 AC: update accuracy evaluation method for arcface models
  models/public/face-recognition-mobilefacenet-arcface/accuracy-check.yml
  models/public/face-recognition-mobilefacenet-arcface/face-recognition-mobilefacenet-arcface.md
  models/public/face-recognition-resnet100-arcface/accuracy-check.yml
  models/public/face-recognition-resnet100-arcface/face-recognition-resnet100-arcface.md
  models/public/face-recognition-resnet34-arcface/accuracy-check.yml
  models/public/face-recognition-resnet34-arcface/face-recognition-resnet34-arcface.md
  models/public/face-recognition-resnet50-arcface/accuracy-check.yml
  models/public/face-recognition-resnet50-arcface/face-recognition-resnet50-arcface.md
  tools/accuracy_checker/accuracy_checker/adapters/reidentification.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/lfw.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/geometric_transformations.py
  tools/accuracy_checker/dataset_definitions.yml
Labels: accuracy checker, documentation

#1774 Add monolithic CoCosNet model
  demos/README.md
  demos/python_demos/image_translation_demo/README.md
  demos/python_demos/image_translation_demo/image_translation_demo.py
  demos/python_demos/image_translation_demo/image_translation_demo/__init__.py
  demos/python_demos/image_translation_demo/image_translation_demo/models.py
  demos/python_demos/image_translation_demo/image_translation_demo/postprocessing.py
  demos/python_demos/image_translation_demo/image_translation_demo/preprocessing.py
  demos/python_demos/image_translation_demo/models.lst
  models/public/cocosnet/accuracy-check.yml
  models/public/cocosnet/cocosnet.md
  models/public/cocosnet/model.py
  models/public/cocosnet/model.yml
  models/public/index.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/ade20k_image_translation.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/preprocessor/one_hot_encoding.py
  tools/accuracy_checker/configs/cocosnet.yml
  tools/accuracy_checker/dataset_definitions.yml
  tools/downloader/README.md
  tools/downloader/common.py
Labels: model

#1704 Feature/ik/text spotting3
  demos/python_demos/text_spotting_demo/README.md
  demos/python_demos/text_spotting_demo/text_spotting_demo.py
  models/intel/index.md
  models/intel/text-spotting-0003/accuracy-check.yml
  models/intel/text-spotting-0003/description/text-spotting-0003.md
  models/intel/text-spotting-0003/description/text-spotting-0003.png
  tools/accuracy_checker/accuracy_checker/adapters/mask_rcnn_with_text.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/README.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/configs/text-spotting-0003.yml
Labels: model

#1721 Add the new person detection model (203)
  models/intel/index.md
  models/intel/person-detection-0203/accuracy-check.yml
  models/intel/person-detection-0203/description/person-detection-0203.md
  models/intel/person-detection-0203/description/person-detection-0203.png
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
  tools/accuracy_checker/configs/person-detection-0203.yml
Labels: model

#1450 Added model descriptions and configuration files for ForwardTacotron …
  models/public/forward-tacotron/description/forward-tacotron.md
  models/public/forward-tacotron/forward-tacotron-duration-prediction/accuracy-check.yml
  models/public/forward-tacotron/forward-tacotron-duration-prediction/model.yml
  models/public/forward-tacotron/forward-tacotron-regression/accuracy-check.yml
  models/public/forward-tacotron/forward-tacotron-regression/model.yml
  models/public/forward-tacotron/forward_to_onnx.py
  models/public/wavernn/0001-Added-batch-norm-fusing-to-conv-layers.patch
  models/public/wavernn/description/wavernn.md
  models/public/wavernn/wavernn-rnn/accuracy-check.yml
  models/public/wavernn/wavernn-rnn/model.yml
  models/public/wavernn/wavernn-upsampler/accuracy-check.yml
  models/public/wavernn/wavernn-upsampler/model.yml
  models/public/wavernn/wavernn_to_onnx.py
  tools/accuracy_checker/configs/forward-tacotron-duration-prediction.yml
  tools/accuracy_checker/configs/forward-tacotron-regression.yml
  tools/accuracy_checker/configs/wavernn-rnn.yml
  tools/accuracy_checker/configs/wavernn-upsampler.yml
  tools/downloader/README.md
  tools/downloader/common.py
Labels: model

#1833 AC: Fixed encoding for reference file in ade20k_image_translation converter
  tools/accuracy_checker/accuracy_checker/annotation_converters/ade20k_image_translation.py
Labels: accuracy checker, bugfix

#1834 AC: enable non-inferenece based metrics for colorization
  tools/accuracy_checker/accuracy_checker/adapters/image_processing.py
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
  tools/accuracy_checker/accuracy_checker/launcher/caffe_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/mxnet_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/onnx_runtime_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/opencv_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/pytorch_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/tf_lite_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/super_resolution_image_recovery.py
Labels: accuracy checker, refactoring

#1835 AC: Replace utf-8 with utf-8-sig encoding in ade20k_image_translation converter
  tools/accuracy_checker/accuracy_checker/annotation_converters/ade20k_image_translation.py
Labels: accuracy checker, bugfix

#1838 Updated AC documentation and dataset preparation guide
  datasets.md
  tools/accuracy_checker/README.md
Labels: documentation

#1752 add anti-spoof-mn3 model to interactive_face_detection_demo
  demos/interactive_face_detection_demo/README.md
  demos/interactive_face_detection_demo/detectors.cpp
  demos/interactive_face_detection_demo/detectors.hpp
  demos/interactive_face_detection_demo/face.cpp
  demos/interactive_face_detection_demo/face.hpp
  demos/interactive_face_detection_demo/interactive_face_detection.hpp
  demos/interactive_face_detection_demo/main.cpp
  demos/interactive_face_detection_demo/models.lst
  demos/interactive_face_detection_demo/visualizer.cpp
Labels: demo

#1779 Add mozilla-deepspeech-0.8.2 model and update Speech recognition demo
  demos/python_demos/speech_recognition_demo/README.md
  demos/python_demos/speech_recognition_demo/ctcdecode-numpy/README.md
  demos/python_demos/speech_recognition_demo/ctcdecode-numpy/ctcdecode_numpy/__init__.py
  demos/python_demos/speech_recognition_demo/ctcdecode-numpy/ctcdecode_numpy/binding.cpp
  demos/python_demos/speech_recognition_demo/ctcdecode-numpy/ctcdecode_numpy/binding.h
  demos/python_demos/speech_recognition_demo/ctcdecode-numpy/ctcdecode_numpy/decoders_wrap.cpp
  demos/python_demos/speech_recognition_demo/ctcdecode-numpy/ctcdecode_numpy/impl.py
  demos/python_demos/speech_recognition_demo/ctcdecode-numpy/setup.py
  demos/python_demos/speech_recognition_demo/default_alphabet_example.conf
  demos/python_demos/speech_recognition_demo/models.lst
  demos/python_demos/speech_recognition_demo/profile_example.yml
  demos/python_demos/speech_recognition_demo/requirements.txt
  demos/python_demos/speech_recognition_demo/speech_recognition_demo.py
  demos/python_demos/speech_recognition_demo/utils/audio_features.py
  demos/python_demos/speech_recognition_demo/utils/context_timer.py
  demos/python_demos/speech_recognition_demo/utils/ctcnumpy_beam_search_decoder.py
  demos/python_demos/speech_recognition_demo/utils/deep_speech_pipeline.py
  models/public/index.md
  models/public/mozilla-deepspeech-0.8.2/accuracy-check-fast.yml
  models/public/mozilla-deepspeech-0.8.2/accuracy-check.yml
  models/public/mozilla-deepspeech-0.8.2/mds_convert_utils/__init__.py
  models/public/mozilla-deepspeech-0.8.2/mds_convert_utils/memmapped_file_system_pb2.py
  models/public/mozilla-deepspeech-0.8.2/mds_convert_utils/parse_openfst.py
  models/public/mozilla-deepspeech-0.8.2/mds_convert_utils/parse_trie_v6.py
  models/public/mozilla-deepspeech-0.8.2/mds_convert_utils/struct_utils.py
  models/public/mozilla-deepspeech-0.8.2/model.yml
  models/public/mozilla-deepspeech-0.8.2/mozilla-deepspeech-0.8.2.md
  models/public/mozilla-deepspeech-0.8.2/pbmm_to_pb.py
  models/public/mozilla-deepspeech-0.8.2/pre-convert.py
  models/public/mozilla-deepspeech-0.8.2/scorer_to_kenlm.py
  tools/accuracy_checker/configs/mozilla-deepspeech-0.8.2.yml
Labels: demo, model

#1718 Human pose estimation models update
  demos/README.md
  demos/python_demos/human_pose_estimation_demo/README.md
  demos/python_demos/human_pose_estimation_demo/human_pose_estimation.py
  demos/python_demos/human_pose_estimation_demo/human_pose_estimation_demo/__init__.py
  demos/python_demos/human_pose_estimation_demo/human_pose_estimation_demo/decoder.py
  demos/python_demos/human_pose_estimation_demo/human_pose_estimation_demo/decoder_ae.py
  demos/python_demos/human_pose_estimation_demo/human_pose_estimation_demo/decoder_openpose.py
  demos/python_demos/human_pose_estimation_demo/human_pose_estimation_demo/model.py
  demos/python_demos/human_pose_estimation_demo/human_pose_estimation_demo/visualization.py
  demos/python_demos/human_pose_estimation_demo/models.lst
  models/intel/human-pose-estimation-0002/accuracy-check.yml
  models/intel/human-pose-estimation-0002/description/human-pose-estimation-0002.md
  models/intel/human-pose-estimation-0002/description/human-pose-estimation-0002.png
  models/intel/human-pose-estimation-0003/accuracy-check.yml
  models/intel/human-pose-estimation-0003/description/human-pose-estimation-0003.md
  models/intel/human-pose-estimation-0003/description/human-pose-estimation-0003.png
  models/intel/human-pose-estimation-0004/accuracy-check.yml
  models/intel/human-pose-estimation-0004/description/human-pose-estimation-0004.md
  models/intel/human-pose-estimation-0004/description/human-pose-estimation-0004.png
  models/intel/index.md
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation_associative_embedding.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation_openpose.py
  tools/accuracy_checker/configs/human-pose-estimation-0002.yml
  tools/accuracy_checker/configs/human-pose-estimation-0003.yml
  tools/accuracy_checker/configs/human-pose-estimation-0004.yml
  tools/accuracy_checker/dataset_definitions.yml
Labels: demo, model

#1854 AC: added alternatives sklearn for reid if it is not available
  tools/accuracy_checker/accuracy_checker/metrics/reid.py
Labels: accuracy checker

#1512 Forward tacotron wavernn demo
  demos/README.md
  demos/python_demos/text_to_speech_demo/README.md
  demos/python_demos/text_to_speech_demo/models.lst
  demos/python_demos/text_to_speech_demo/models/__init__.py
  demos/python_demos/text_to_speech_demo/models/forward_tacotron_ie.py
  demos/python_demos/text_to_speech_demo/models/mel2wave_ie.py
  demos/python_demos/text_to_speech_demo/requirements.txt
  demos/python_demos/text_to_speech_demo/text_to_speech_demo.py
  demos/python_demos/text_to_speech_demo/utils/__init__.py
  demos/python_demos/text_to_speech_demo/utils/numbers.py
  demos/python_demos/text_to_speech_demo/utils/text_preprocessing.py
  demos/python_demos/text_to_speech_demo/utils/wav_processing.py
  licensing/third-party-programs.txt
Labels: demo

#1816 Change python segmentation demo
  demos/python_demos/segmentation_demo/README.md
  demos/python_demos/segmentation_demo/models.lst
  demos/python_demos/segmentation_demo/segmentation_demo.py
  demos/segmentation_demo/models.lst
Labels: demo
