Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-04, with the labels that each got.

#2262 AC: allow getting dataset batch from config
  tools/accuracy_checker/accuracy_checker/dataset.py
Labels: accuracy checker, bugfix

#2174 Pipelines refactoring
  demos/classification_demo/cpp/main.cpp
  demos/common/cpp/models/include/models/classification_model.h
  demos/common/cpp/models/include/models/detection_model.h
  demos/common/cpp/models/include/models/hpe_model_associative_embedding.h
  demos/common/cpp/models/include/models/hpe_model_openpose.h
  demos/common/cpp/models/include/models/image_model.h
  demos/common/cpp/models/include/models/internal_model_data.h
  demos/common/cpp/models/include/models/model_base.h
  demos/common/cpp/models/include/models/segmentation_model.h
  demos/common/cpp/models/src/classification_model.cpp
  demos/common/cpp/models/src/detection_model.cpp
  demos/common/cpp/models/src/hpe_model_associative_embedding.cpp
  demos/common/cpp/models/src/hpe_model_openpose.cpp
  demos/common/cpp/models/src/image_model.cpp
  demos/common/cpp/models/src/model_base.cpp
  demos/common/cpp/models/src/segmentation_model.cpp
  demos/common/cpp/pipelines/include/pipelines/async_pipeline.h
  demos/common/cpp/pipelines/src/async_pipeline.cpp
  demos/common/cpp/utils/include/utils/config_factory.h
  demos/common/cpp/utils/src/config_factory.cpp
  demos/human_pose_estimation_demo/cpp/main.cpp
  demos/object_detection_demo/cpp/main.cpp
  demos/segmentation_demo/cpp/main.cpp
Labels: demo

#2261 Updated accuracy values for faster_rcnn and mask_rcnn models
  models/public/faster_rcnn_inception_resnet_v2_atrous_coco/faster_rcnn_inception_resnet_v2_atrous_coco.md
  models/public/faster_rcnn_inception_v2_coco/faster_rcnn_inception_v2_coco.md
  models/public/faster_rcnn_resnet101_coco/faster_rcnn_resnet101_coco.md
  models/public/faster_rcnn_resnet50_coco/faster_rcnn_resnet50_coco.md
  models/public/index.md
  models/public/mask_rcnn_inception_resnet_v2_atrous_coco/mask_rcnn_inception_resnet_v2_atrous_coco.md
  models/public/mask_rcnn_inception_v2_coco/mask_rcnn_inception_v2_coco.md
  models/public/mask_rcnn_resnet101_atrous_coco/mask_rcnn_resnet101_atrous_coco.md
  models/public/mask_rcnn_resnet50_atrous_coco/mask_rcnn_resnet50_atrous_coco.md
Labels: documentation

#2268 Expanded models argument to accept files and dirs
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/im2latex_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/caffe_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/mxnet_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/onnx_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/pdpd_launcher.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/tests/test_dlsdk_launcher.py
Labels: accuracy checker

#2259 Add QuartzNet model
  data/dataset_definitions.yml
  models/public/index.md
  models/public/quartznet-15x5-en/accuracy-check.yml
  models/public/quartznet-15x5-en/model.py
  models/public/quartznet-15x5-en/model.yml
  models/public/quartznet-15x5-en/quartznet-15x5-en.md
  tools/accuracy_checker/configs/quartznet-15x5-en.yml
Labels: model

#2275 AC: Enable setting device_config to AC configs
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_readme.md
  tools/accuracy_checker/tests/test_dlsdk_launcher.py
Labels: accuracy checker

#2287 AC: Fixed absolute paths mapping with command line in annotation conversion arguments
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
Labels: accuracy checker, bugfix

#2283 AC: support speech denoising
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/noise_suppression.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/noise_suppression_dataset.py
  tools/accuracy_checker/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/audio_processing.py
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/pad_signal.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing_ext.py
  tools/accuracy_checker/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/accuracy_checker/representation/image_processing.py
  tools/accuracy_checker/accuracy_checker/representation/noise_suppression.py
Labels: accuracy checker, feature

#2289 AC: fix data reading in single image mode if data postponed
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/tests/test_model_evaluator.py
Labels: accuracy checker

#2281 Added VOC2007 dataset, changed VOC2012 to VOC2007 for public models
  data/dataset_definitions.yml
  data/datasets.md
  models/public/index.md
  models/public/mobilenet-ssd/accuracy-check.yml
  models/public/mobilenet-ssd/mobilenet-ssd.md
  models/public/ssd300/accuracy-check.yml
  models/public/ssd300/ssd300.md
  models/public/ssd512/accuracy-check.yml
  models/public/ssd512/ssd512.md
  models/public/yolo-v1-tiny-tf/accuracy-check.yml
  models/public/yolo-v1-tiny-tf/yolo-v1-tiny-tf.md
Labels: documentation

#2270 object_detection_demo.py: add import of ONNX models
  demos/common/python/models/__init__.py
  demos/common/python/models/centernet.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/model.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/utils.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo

#2299 AC: Fixed name of CoCoInstanceSegmentationPrediction
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/mask_rcnn.py
  tools/accuracy_checker/accuracy_checker/adapters/yolact.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_orig_metrics.py
  tools/accuracy_checker/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/accuracy_checker/representation/segmentation_representation.py
  tools/accuracy_checker/tests/common.py
Labels: accuracy checker, bugfix

#2201 Add HRNet-w32-human-pose-estimation model
  demos/common/cpp/models/include/models/associative_embedding_decoder.h
  demos/common/cpp/models/include/models/hpe_model_associative_embedding.h
  demos/common/cpp/models/src/associative_embedding_decoder.cpp
  demos/common/cpp/models/src/hpe_model_associative_embedding.cpp
  demos/common/python/models/hpe_associative_embedding.py
  demos/human_pose_estimation_demo/cpp/README.md
  demos/human_pose_estimation_demo/cpp/main.cpp
  demos/human_pose_estimation_demo/cpp/models.lst
  demos/human_pose_estimation_demo/python/README.md
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/human_pose_estimation_demo/python/models.lst
  demos/tests/cases.py
  models/public/higher-hrnet-w32-human-pose-estimation/README.md
  models/public/higher-hrnet-w32-human-pose-estimation/accuracy-check.yml
  models/public/higher-hrnet-w32-human-pose-estimation/model.py
  models/public/higher-hrnet-w32-human-pose-estimation/model.yml
  models/public/index.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation_associative_embedding.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation_hrnet.py
  tools/accuracy_checker/accuracy_checker/preprocessor/geometric_transformations.py
  tools/accuracy_checker/accuracy_checker/utils.py
  tools/accuracy_checker/configs/higher-hrnet-w32-human-pose-estimation.yml
Labels: bugfix, demo, model

#2298 AC: Added coco_segm_precision metric
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
Labels: accuracy checker

#2301 AC: Added coco_segm_recall metric
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
Labels: accuracy checker

#2311 AC: fix encoding during tacotron annotation reading
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, bugfix

#2320 Fixed input/output info for license-plate-recognition-barrier-0007 in README
  models/public/license-plate-recognition-barrier-0007/README.md
Labels: bugfix, documentation

#2308 AC: extend image quality metrics support
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/image_quality_assessment.py
  tools/accuracy_checker/accuracy_checker/metrics/regression.py
Labels: accuracy checker, feature

#2322 AC: support max error in regression metrics
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/image_quality_assessment.py
  tools/accuracy_checker/accuracy_checker/metrics/regression.py
Labels: accuracy checker

#2303 demos: align C++ and Python IE configs
  demos/common/cpp/utils/src/args_helper.cpp
  demos/common/cpp/utils/src/config_factory.cpp
  demos/common/python/pipelines/__init__.py
  demos/common/python/pipelines/async_pipeline.py
  demos/deblurring_demo/python/deblurring_demo.py
  demos/human_pose_estimation_demo/cpp/main.cpp
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/object_detection_demo/cpp/main.cpp
  demos/object_detection_demo/python/object_detection_demo.py
  demos/segmentation_demo/cpp/main.cpp
  demos/segmentation_demo/python/segmentation_demo.py
Labels: demo

#2317 Add vimeo90k converter to repository
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/vimeo90k_sr.py
Labels: accuracy checker

#2325 AC: fix sr model quantization
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
Labels: accuracy checker, bugfix

#2280 add resnet fc text recognition
  ci/requirements-ac.txt
  data/dataset_definitions.yml
  models/public/index.md
  models/public/text-recognition-resnet-fc/README.md
  models/public/text-recognition-resnet-fc/accuracy-check.yml
  models/public/text-recognition-resnet-fc/model.py
  models/public/text-recognition-resnet-fc/model.yml
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/lmdb.py
  tools/accuracy_checker/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/utils.py
  tools/accuracy_checker/configs/text-recognition-resnet-fc.yml
  tools/accuracy_checker/requirements.in
Labels: model

#2291 add bert-base-ner
  data/dataset_definitions.yml
  demos/bert_named_entity_recognition_demo/python/README.md
  demos/bert_named_entity_recognition_demo/python/bert_named_entity_recognition_demo.py
  demos/bert_named_entity_recognition_demo/python/models.lst
  demos/tests/args.py
  demos/tests/cases.py
  demos/tests/run_tests.py
  models/public/bert-base-ner/README.md
  models/public/bert-base-ner/accuracy-check.yml
  models/public/bert-base-ner/model.py
  models/public/bert-base-ner/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/bert-base-ner.yml
  tools/downloader/README.md
  tools/downloader/common.py
  tools/downloader/pytorch_to_onnx.py
Labels: demo, model

#2321 Merge releases/2021/3
  demos/3d_segmentation_demo/python/README.md
  demos/README.md
  demos/action_recognition_demo/python/README.md
  demos/classification_demo/cpp/README.md
  demos/colorization_demo/python/README.md
  demos/crossroad_camera_demo/cpp/README.md
  demos/formula_recognition_demo/python/README.md
  demos/gaze_estimation_demo/cpp/README.md
  demos/gesture_recognition_demo/python/README.md
  demos/human_pose_estimation_3d_demo/python/README.md
  demos/human_pose_estimation_demo/cpp/README.md
  demos/human_pose_estimation_demo/python/README.md
  demos/image_inpainting_demo/python/README.md
  demos/image_retrieval_demo/python/README.md
  demos/image_translation_demo/python/README.md
  demos/instance_segmentation_demo/python/README.md
  demos/interactive_face_detection_demo/cpp/README.md
  demos/machine_translation_demo/python/README.md
  demos/mask_rcnn_demo/cpp/README.md
  demos/multi_channel_face_detection_demo/cpp/README.md
  demos/multi_channel_human_pose_estimation_demo/cpp/README.md
  demos/multi_channel_object_detection_demo_yolov3/cpp/README.md
  demos/object_detection_demo/cpp/README.md
  demos/pedestrian_tracker_demo/cpp/README.md
  demos/security_barrier_camera_demo/cpp/README.md
  demos/segmentation_demo/cpp/README.md
  demos/single_human_pose_estimation_demo/python/README.md
  demos/smart_classroom_demo/cpp/README.md
  demos/sound_classification_demo/python/README.md
  demos/super_resolution_demo/cpp/README.md
  demos/text_detection_demo/cpp/README.md
  demos/text_spotting_demo/python/README.md
  models/intel/index.md
  models/public/densenet-121-tf/README.md
  models/public/densenet-169-tf/README.md
  models/public/densenet-201-tf/README.md
  models/public/resnet-50-tf/README.md
  models/public/retinanet-tf/README.md
  models/public/yolo-v1-tiny-tf/README.md
  tools/accuracy_checker/README.md
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/downloader/README.md
Labels: documentation

#2330 Fix AC install after docs update
  tools/accuracy_checker/setup.py
Labels: accuracy checker, bugfix

#2297 Add tests for ONNX models in object_detection_demo.py
  demos/tests/cases.py
Labels: demo

#2266 AC: support kaldi asr models
  tools/accuracy_checker/accuracy_checker/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/accuracy_checker/adapters/audio_recognition.py
  tools/accuracy_checker/accuracy_checker/adapters/kaldi_asr_decoder.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/kaldi_speech_recognition_pipeline.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/speech_recognition.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing_ext.py
Labels: accuracy checker, feature

#2323 update supported devices
  demos/README.md
Labels: documentation

#2338 Support text-recognition-resnet-fc for text_detection_demo
  demos/tests/cases.py
  demos/text_detection_demo/cpp/README.md
  demos/text_detection_demo/cpp/include/text_recognition.hpp
  demos/text_detection_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/models.lst
  demos/text_detection_demo/cpp/src/text_recognition.cpp
  demos/text_detection_demo/cpp/text_detection_demo.hpp
  models/intel/text-recognition-0013/README.md
  models/public/text-recognition-resnet-fc/README.md
  models/public/text-recognition-resnet-fc/accuracy-check.yml
  models/public/text-recognition-resnet-fc/model.yml
Labels: demo

#2343 Replace IE exceptions
  demos/common/cpp/utils/include/utils/common.hpp
  demos/common/cpp/utils/include/utils/ocv_common.hpp
  demos/pedestrian_tracker_demo/cpp/main.cpp
  demos/pedestrian_tracker_demo/cpp/src/cnn.cpp
  demos/pedestrian_tracker_demo/cpp/src/detector.cpp
  demos/smart_classroom_demo/cpp/src/action_detector.cpp
  demos/smart_classroom_demo/cpp/src/cnn.cpp
  demos/smart_classroom_demo/cpp/src/detector.cpp
  demos/text_detection_demo/cpp/src/cnn.cpp
Labels: demo

#2349 AC: fix subset creation for kaldi data
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
Labels: accuracy checker, bugfix

#2350 AC: Fixed quantization_model_evaluator in the case when there is no need to calculate metric
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
Labels: accuracy checker, bugfix

#2351 AC: fix device config merge strategy
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
Labels: accuracy checker, bugfix

#2348 Replaced deprecated IE API
  demos/common/cpp/models/src/model_base.cpp
  demos/common/cpp/pipelines/src/requests_pool.cpp
  demos/crossroad_camera_demo/cpp/main.cpp
  demos/interactive_face_detection_demo/cpp/detectors.cpp
  demos/interactive_face_detection_demo/cpp/main.cpp
  demos/mask_rcnn_demo/cpp/main.cpp
  demos/multi_channel_common/cpp/graph.cpp
  demos/pedestrian_tracker_demo/cpp/src/detector.cpp
  demos/pedestrian_tracker_demo/cpp/src/utils.cpp
  demos/security_barrier_camera_demo/cpp/main.cpp
  demos/smart_classroom_demo/cpp/main.cpp
  demos/smart_classroom_demo/cpp/src/action_detector.cpp
  demos/smart_classroom_demo/cpp/src/detector.cpp
  demos/super_resolution_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/main.cpp
Labels: demo, refactoring

#2356 Add missing links to README.md files of demos and models
  demos/README.md
  models/public/index.md
Labels: documentation

#2203 Add PSPNet model
  demos/segmentation_demo/cpp/models.lst
  demos/segmentation_demo/python/models.lst
  demos/tests/cases.py
  models/public/index.md
  models/public/licenses/APACHE-2.0-MMSegmentation-Models.txt
  models/public/pspnet-pytorch/README.md
  models/public/pspnet-pytorch/accuracy-check.yml
  models/public/pspnet-pytorch/model.py
  models/public/pspnet-pytorch/model.yml
  tools/accuracy_checker/configs/pspnet-pytorch.yml
Labels: model

#2358 AC: reduce memory consumption during annotation feature reader work
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, bugfix, refactoring

#2352 Refactoring: init paramteres are added to the Results classes
  demos/common/cpp/models/include/models/results.h
  demos/common/cpp/models/src/classification_model.cpp
  demos/common/cpp/models/src/detection_model_centernet.cpp
  demos/common/cpp/models/src/detection_model_faceboxes.cpp
  demos/common/cpp/models/src/detection_model_retinaface.cpp
  demos/common/cpp/models/src/detection_model_ssd.cpp
  demos/common/cpp/models/src/detection_model_yolo.cpp
  demos/common/cpp/models/src/hpe_model_associative_embedding.cpp
  demos/common/cpp/models/src/hpe_model_openpose.cpp
  demos/common/cpp/models/src/segmentation_model.cpp
Labels: demo, refactoring

#2315 Demos: add output_resolution flag
  demos/common/cpp/utils/include/utils/default_flags.hpp
  demos/common/cpp/utils/include/utils/ocv_common.hpp
  demos/common/python/helpers.py
  demos/common/python/models/__init__.py
  demos/common/python/models/utils.py
  demos/human_pose_estimation_demo/cpp/README.md
  demos/human_pose_estimation_demo/cpp/main.cpp
  demos/human_pose_estimation_demo/python/README.md
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/cpp/main.cpp
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/object_detection_demo.py
  demos/segmentation_demo/cpp/README.md
  demos/segmentation_demo/cpp/main.cpp
  demos/segmentation_demo/python/README.md
  demos/segmentation_demo/python/segmentation_demo.py
Labels: demo
