Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-08, with the labels that each got.

#949 Add MRI Reconstruction Demo
  data/dataset_definitions.yml
  demos/README.md
  demos/mri_reconstruction_demo/cpp/CMakeLists.txt
  demos/mri_reconstruction_demo/cpp/README.md
  demos/mri_reconstruction_demo/cpp/main.cpp
  demos/mri_reconstruction_demo/cpp/models.lst
  demos/mri_reconstruction_demo/cpp/mri_reconstruction_demo.hpp
  demos/mri_reconstruction_demo/cpp/npy_reader.hpp
  demos/mri_reconstruction_demo/python/README.md
  demos/mri_reconstruction_demo/python/models.lst
  demos/mri_reconstruction_demo/python/mri_reconstruction_demo.py
  models/public/device_support.md
  models/public/hybrid-cs-model-mri/README.md
  models/public/hybrid-cs-model-mri/accuracy-check.yml
  models/public/hybrid-cs-model-mri/model.yml
  models/public/hybrid-cs-model-mri/pre-convert.py
  models/public/index.md
  tools/accuracy_checker/configs/hybrid-cs-model-mri.yml
Labels: demo, model

#2655 AC: G-API based launcher POC
  tools/accuracy_checker/README.md
  tools/accuracy_checker/accuracy_checker/adapters/segmentation.py
  tools/accuracy_checker/accuracy_checker/adapters/ssd.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/__init__.py
  tools/accuracy_checker/accuracy_checker/launcher/gapi_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/gapi_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/tests/test_gapi_launcher.py
Labels: accuracy checker, feature

#2661 cpp demos: removed using namespace ie
  demos/common/cpp/models/src/classification_model.cpp
  demos/common/cpp/models/src/deblurring_model.cpp
  demos/common/cpp/models/src/detection_model.cpp
  demos/common/cpp/models/src/detection_model_centernet.cpp
  demos/common/cpp/models/src/detection_model_faceboxes.cpp
  demos/common/cpp/models/src/detection_model_retinaface.cpp
  demos/common/cpp/models/src/detection_model_ssd.cpp
  demos/common/cpp/models/src/detection_model_yolo.cpp
  demos/common/cpp/models/src/hpe_model_associative_embedding.cpp
  demos/common/cpp/models/src/hpe_model_openpose.cpp
  demos/common/cpp/models/src/model_base.cpp
  demos/common/cpp/models/src/segmentation_model.cpp
  demos/common/cpp/models/src/super_resolution_model.cpp
  demos/common/cpp/pipelines/src/async_pipeline.cpp
  demos/common/cpp/utils/src/config_factory.cpp
  demos/crossroad_camera_demo/cpp/main.cpp
  demos/gaze_estimation_demo/cpp/main.cpp
  demos/gaze_estimation_demo/cpp/src/ie_wrapper.cpp
  demos/gaze_estimation_demo/cpp/src/utils.cpp
  demos/gaze_estimation_demo/cpp_gapi/include/stream_source.hpp
  demos/image_processing_demo/cpp/main.cpp
  demos/image_processing_demo/cpp/visualizer.hpp
  demos/interactive_face_detection_demo/cpp/detectors.cpp
  demos/interactive_face_detection_demo/cpp/main.cpp
  demos/mask_rcnn_demo/cpp/main.cpp
  demos/mri_reconstruction_demo/cpp/main.cpp
  demos/pedestrian_tracker_demo/cpp/main.cpp
  demos/pedestrian_tracker_demo/cpp/src/cnn.cpp
  demos/pedestrian_tracker_demo/cpp/src/detector.cpp
  demos/pedestrian_tracker_demo/cpp/src/utils.cpp
  demos/security_barrier_camera_demo/cpp/main.cpp
  demos/smart_classroom_demo/cpp/main.cpp
  demos/smart_classroom_demo/cpp/src/action_detector.cpp
  demos/smart_classroom_demo/cpp/src/cnn.cpp
  demos/smart_classroom_demo/cpp/src/detector.cpp
  demos/smart_classroom_demo/cpp_gapi/include/stream_source.hpp
  demos/social_distance_demo/cpp/main.cpp
  demos/speech_recognition_deepspeech_demo/python/ctcdecode-numpy/ctcdecode_numpy/decoders_wrap.cpp
  demos/text_detection_demo/cpp/include/cnn.hpp
  demos/text_detection_demo/cpp/include/text_detection.hpp
  demos/text_detection_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/src/cnn.cpp
  demos/text_detection_demo/cpp/src/text_detection.cpp
Labels: demo

#2667 C++ Model API support for retinaface resnet50 (to 2021.4.1 release), CVS-61892
  demos/common/cpp/models/include/models/detection_model_retinaface_pt.h
  demos/common/cpp/models/src/detection_model_retinaface_pt.cpp
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/cpp/main.cpp
  demos/object_detection_demo/cpp/models.lst
  demos/tests/cases.py
Labels: demo

#2675 AC: extend metric profiling info
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/metrics/detection.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/base_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/classifcation_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/profiling_executor.py
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker, refactoring

#2673 Add Caffe model shufflenet-v2-x0.5
  demos/classification_demo/cpp/README.md
  demos/classification_demo/cpp/models.lst
  models/public/device_support.md
  models/public/index.md
  models/public/shufflenet-v2-x0.5/README.md
  models/public/shufflenet-v2-x0.5/accuracy-check.yml
  models/public/shufflenet-v2-x0.5/model.yml
  tools/accuracy_checker/configs/shufflenet-v2-x0.5.yml
Labels: model

#2685 Define armv7 instruction set for OMZ demos built natively on x32 ARM
  demos/CMakeLists.txt
Labels: bugfix, ARM, RaspberryPi

#2686 AC: object detection profiling
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/metrics/classification.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
  tools/accuracy_checker/accuracy_checker/metrics/detection.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/classifcation_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/instance_segmentation_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/object_detection_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/profiling_executor.py
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker, feature

#2694 AC: fix coco metric (release)
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
Labels: accuracy checker, bugfix

#2693 AC: fix coco metric
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
  tools/accuracy_checker/accuracy_checker/metrics/detection.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/profiling_executor.py
Labels: accuracy checker, bugfix

#2696 Update accuracy for intel segmentation models
  models/intel/icnet-camvid-ava-0001/README.md
  models/intel/icnet-camvid-ava-0001/accuracy-check.yml
  models/intel/icnet-camvid-ava-sparse-30-0001/README.md
  models/intel/icnet-camvid-ava-sparse-30-0001/accuracy-check.yml
  models/intel/icnet-camvid-ava-sparse-60-0001/README.md
  models/intel/icnet-camvid-ava-sparse-60-0001/accuracy-check.yml
Labels: accuracy checker

#2699 Clarify Caffe wording
  tools/accuracy_checker/sample/README.md
Labels: accuracy checker, documentation

#2701 Added mxnet==1.2.0 to requirements-conversion.txt for Demos Windows 10 Job
  ci/requirements-conversion.txt
Labels: dependencies

#2705 AC: fix providing cmd arguments for quantization
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
Labels: accuracy checker, bugfix

#2706 AC: small refactoring for pytorch launcher
  tools/accuracy_checker/accuracy_checker/launcher/pytorch_launcher.py
Labels: accuracy checker, refactoring

#2707 AC: fix segmentation adapter for tiled out
  tools/accuracy_checker/accuracy_checker/adapters/segmentation.py
Labels: accuracy checker, bugfix

#2710 AC: fix for empty names in presenter
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker, bugfix

#2658 Added GPT-2 model
  data/dataset_definitions.yml
  demos/README.md
  demos/gpt2_text_prediction_demo/python/README.md
  demos/gpt2_text_prediction_demo/python/gpt2_text_prediction/generation_utils.py
  demos/gpt2_text_prediction_demo/python/gpt2_text_prediction_demo.py
  demos/gpt2_text_prediction_demo/python/models.lst
  demos/tests/cases.py
  models/public/device_support.md
  models/public/gpt-2/README.md
  models/public/gpt-2/accuracy-check.yml
  models/public/gpt-2/model.py
  models/public/gpt-2/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/gpt-2.yml
  tools/downloader/README.md
  tools/downloader/src/open_model_zoo/model_tools/_common.py
Labels: demo, model

#2691 Added Swin Transformer Tiny model
  demos/classification_demo/cpp/README.md
  demos/classification_demo/cpp/models.lst
  models/public/device_support.md
  models/public/index.md
  models/public/swin-tiny-patch4-window7-224/README.md
  models/public/swin-tiny-patch4-window7-224/accuracy-check.yml
  models/public/swin-tiny-patch4-window7-224/model.py
  models/public/swin-tiny-patch4-window7-224/model.yml
  tools/accuracy_checker/configs/swin-tiny-patch4-window7-224.yml
Labels: model

#2714 AC: support YoloR model
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
Labels: accuracy checker
