Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-09, with the labels that each got.

#2722 AC: reset dataset state if postprocessing applied
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/module_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/postprocessor/postprocessing_executor.py
Labels: accuracy checker

#2728 cstddef include added
  demos/speech_recognition_deepspeech_demo/python/ctcdecode-numpy/ctcdecode_numpy/word_prefix_set.h
Labels: demo

#2720 AC: Added support for YOLOX model
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
Labels: accuracy checker

#2731 AC: support custom column dataset converter
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/cifar.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/text_classification.py
Labels: accuracy checker, feature

#2732 Support for Criteo binary dataset
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/criteo_kaggle_dac.py
Labels: accuracy checker

#2725 Optimize yolo model postprocessing for python detection demo
  demos/common/python/models/yolo.py
Labels: demo

#2743 Use strict major version v0.24 for scikit-learn due to py3.6 support drop in v1.0 [develop]
  demos/requirements.txt
  tools/accuracy_checker/requirements.in
Labels: dependencies

#2750 ci: bump versions
  ci/dependencies.yml
  ci/requirements-ac-test.txt
  ci/requirements-ac.txt
  ci/requirements-check-basics.txt
  ci/requirements-conversion.txt
  ci/requirements-demos.txt
  ci/requirements-downloader.txt
  ci/requirements-quantization.txt
Labels: dependencies

#2752 Fixed link to jester dataset
  models/public/common-sign-language-0001/README.md
Labels: model, documentation

#2745 Optimize yolo adapter
  models/public/yolo-v4-tiny-tf/README.md
  models/public/yolo-v4-tiny-tf/accuracy-check.yml
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
Labels: accuracy checker

#2753 AC: support deepwagrant dataset stored in pickle
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/wgs.py
Labels: accuracy checker, documentation

#2754 AC: fix yolov2 adapter if batch omitted
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
Labels: accuracy checker, bugfix

#2716 Add ONNX support to object_detection_demo/cpp
  demos/common/cpp/models/include/models/detection_model_retinaface.h
  demos/common/cpp/models/include/models/detection_model_ssd.h
  demos/common/cpp/models/include/models/model_base.h
  demos/common/cpp/models/src/deblurring_model.cpp
  demos/common/cpp/models/src/detection_model_centernet.cpp
  demos/common/cpp/models/src/detection_model_faceboxes.cpp
  demos/common/cpp/models/src/detection_model_retinaface_pt.cpp
  demos/common/cpp/models/src/detection_model_ssd.cpp
  demos/common/cpp/models/src/image_model.cpp
  demos/common/cpp/models/src/super_resolution_model.cpp
  demos/common/cpp/utils/include/utils/ocv_common.hpp
  demos/common/python/models/centernet.py
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/model.py
  demos/common/python/models/retinaface.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/utils.py
  demos/crossroad_camera_demo/cpp/main.cpp
  demos/gaze_estimation_demo/cpp/src/ie_wrapper.cpp
  demos/interactive_face_detection_demo/cpp/detectors.cpp
  demos/mask_rcnn_demo/cpp/main.cpp
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/cpp/main.cpp
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/object_detection_demo.py
  demos/pedestrian_tracker_demo/cpp/src/cnn.cpp
  demos/pedestrian_tracker_demo/cpp/src/detector.cpp
  demos/security_barrier_camera_demo/cpp/net_wrappers.hpp
  demos/smart_classroom_demo/cpp/src/action_detector.cpp
  demos/smart_classroom_demo/cpp/src/cnn.cpp
  demos/smart_classroom_demo/cpp/src/detector.cpp
  demos/social_distance_demo/cpp/include/net_wrappers.hpp
  demos/tests/cases.py
  demos/text_detection_demo/cpp/src/cnn.cpp
Labels: demo, feature, documentation

#2756 YOLOX model wrapper update after ONNX support refactoring
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo

#2751 TensorFlow version to 2.5.0
  tools/downloader/requirements-tensorflow.in
Labels: dependencies, downloader

#2757 AC: update for support OCR models
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/bentham.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/geometric_transformations.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, documentation

#2584 Added ViTSTR small model
  demos/tests/cases.py
  demos/text_detection_demo/cpp/README.md
  demos/text_detection_demo/cpp/include/text_recognition.hpp
  demos/text_detection_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/models.lst
  demos/text_detection_demo/cpp/src/text_recognition.cpp
  demos/text_detection_demo/cpp/text_detection_demo.hpp
  models/public/device_support.md
  models/public/index.md
  models/public/vitstr-small-patch16-224/README.md
  models/public/vitstr-small-patch16-224/accuracy-check.yml
  models/public/vitstr-small-patch16-224/model.py
  models/public/vitstr-small-patch16-224/model.yml
  models/public/vitstr-small-patch16-224/vocab.txt
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/configs/vitstr-small-patch16-224.yml
Labels: demo, accuracy checker, model, documentation

#2758 AC: make undefined shapes compatible with new python api
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_config.py
Labels: accuracy checker

#2659 Add model API wrappers for Bert models
  demos/bert_named_entity_recognition_demo/python/README.md
  demos/bert_named_entity_recognition_demo/python/bert_named_entity_recognition_demo.py
  demos/bert_question_answering_demo/python/README.md
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
  demos/bert_question_answering_embedding_demo/python/README.md
  demos/bert_question_answering_embedding_demo/python/bert_question_answering_embedding_demo.py
  demos/common/python/models/__init__.py
  demos/common/python/models/bert.py
  demos/common/python/models/tokens_bert.py
Labels: demo

#2744 Use strict major version v0.24 for scikit-learn due to py3.6 support drop in v1.0 [release]
  demos/requirements.txt
  tools/accuracy_checker/requirements.in
Labels: dependencies

#2759 AC prevent device config loading for not current device
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker

#2762 AC: avoid async inference hang
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
Labels: accuracy checker, bugfix

#2765 Added mxnet==1.2.0 to requirements-conversion.txt for Demos Windows
  ci/requirements-conversion.txt
Labels: dependencies

#2767 fix for OpenVINO 2022.1 new layout
  demos/build_demos.sh
  demos/build_demos_msvc.bat
Labels: demo

#2703 Model API refactoring
  demos/common/python/models/__init__.py
  demos/common/python/models/centernet.py
  demos/common/python/models/ctpn.py
  demos/common/python/models/detection_model.py
  demos/common/python/models/detr.py
  demos/common/python/models/faceboxes.py
  demos/common/python/models/image_model.py
  demos/common/python/models/model.py
  demos/common/python/models/retinaface.py
  demos/common/python/models/segmentation.py
  demos/common/python/models/ssd.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/common/python/models/utils.py
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo, refactoring, documentation

#2763 AC: port important bugfixes to release
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_orig_metrics.py
  tools/accuracy_checker/accuracy_checker/metrics/detection.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/base_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/object_detection_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/profiling_executor.py
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker, bugfix

#2770 Added fixes in models documentation
  data/dataset_definitions.yml
  models/intel/face-reidentification-retail-0095/README.md
  models/public/hybrid-cs-model-mri/README.md
  models/public/hybrid-cs-model-mri/model.yml
  models/public/index.md
Labels: model, documentation

#2769 Update documentation for retinanet-tf
  models/public/retinanet-tf/README.md
Labels: model, documentation

#2772 AC docs: fix link on OpenVINO ONNX Runtime Execution provider docs
  tools/accuracy_checker/accuracy_checker/launcher/onnx_runtime_launcher_readme.md
Labels: accuracy checker, documentation

#2761 AC: add prediction boxes for classed not in dataset
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
  tools/accuracy_checker/accuracy_checker/metrics/detection.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/base_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/object_detection_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/profiling_executor.py
Labels: accuracy checker

#2747 clipping is added to detection models
  demos/common/cpp/models/src/detection_model_centernet.cpp
  demos/common/cpp/models/src/detection_model_faceboxes.cpp
  demos/common/cpp/models/src/detection_model_retinaface.cpp
  demos/common/cpp/models/src/detection_model_retinaface_pt.cpp
  demos/common/cpp/models/src/detection_model_ssd.cpp
  demos/common/cpp/models/src/detection_model_yolo.cpp
  demos/common/cpp/utils/include/utils/common.hpp
  demos/object_detection_demo/cpp/main.cpp
Labels: demo, refactoring

#2737 Python Model API wheel
  demos/README.md
  demos/bert_named_entity_recognition_demo/python/bert_named_entity_recognition_demo.py
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
  demos/bert_question_answering_embedding_demo/python/bert_question_answering_embedding_demo.py
  demos/colorization_demo/python/colorization_demo.py
  demos/common/python/helpers.py
  demos/common/python/images_capture.py
  demos/common/python/openvino/__init__.py
  demos/common/python/openvino/model_zoo/__init__.py
  demos/common/python/openvino/model_zoo/model_api/__init__.py
  demos/common/python/openvino/model_zoo/model_api/models/__init__.py
  demos/common/python/openvino/model_zoo/model_api/models/bert.py
  demos/common/python/openvino/model_zoo/model_api/models/centernet.py
  demos/common/python/openvino/model_zoo/model_api/models/ctpn.py
  demos/common/python/openvino/model_zoo/model_api/models/deblurring.py
  demos/common/python/openvino/model_zoo/model_api/models/detection_model.py
  demos/common/python/openvino/model_zoo/model_api/models/detr.py
  demos/common/python/openvino/model_zoo/model_api/models/faceboxes.py
  demos/common/python/openvino/model_zoo/model_api/models/hpe_associative_embedding.py
  demos/common/python/openvino/model_zoo/model_api/models/image_model.py
  demos/common/python/openvino/model_zoo/model_api/models/model.py
  demos/common/python/openvino/model_zoo/model_api/models/open_pose.py
  demos/common/python/openvino/model_zoo/model_api/models/retinaface.py
  demos/common/python/openvino/model_zoo/model_api/models/segmentation.py
  demos/common/python/openvino/model_zoo/model_api/models/ssd.py
  demos/common/python/openvino/model_zoo/model_api/models/tokens_bert.py
  demos/common/python/openvino/model_zoo/model_api/models/ultra_lightweight_face_detection.py
  demos/common/python/openvino/model_zoo/model_api/models/utils.py
  demos/common/python/openvino/model_zoo/model_api/models/yolo.py
  demos/common/python/openvino/model_zoo/model_api/performance_metrics.py
  demos/common/python/openvino/model_zoo/model_api/pipelines/__init__.py
  demos/common/python/openvino/model_zoo/model_api/pipelines/async_pipeline.py
  demos/common/python/requirements.txt
  demos/common/python/setup.py
  demos/deblurring_demo/python/deblurring_demo.py
  demos/face_detection_mtcnn_demo/python/face_detection_mtcnn_demo.py
  demos/face_recognition_demo/python/face_recognition_demo.py
  demos/face_recognition_demo/python/utils.py
  demos/gesture_recognition_demo/python/gesture_recognition_demo.py
  demos/human_pose_estimation_3d_demo/python/human_pose_estimation_3d_demo.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/image_retrieval_demo/python/image_retrieval_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo/model_utils.py
  demos/multi_camera_multi_target_tracking_demo/python/multi_camera_multi_target_tracking_demo.py
  demos/object_detection_demo/python/object_detection_demo.py
  demos/place_recognition_demo/python/place_recognition_demo.py
  demos/segmentation_demo/python/segmentation_demo.py
  demos/single_human_pose_estimation_demo/python/single_human_pose_estimation_demo.py
  demos/text_spotting_demo/python/text_spotting_demo.py
  demos/whiteboard_inpainting_demo/python/whiteboard_inpainting_demo.py
Labels: dependencies, demo, documentation

#2561 Added YOLOF object detection model
  demos/common/cpp/models/include/models/detection_model_yolo.h
  demos/common/cpp/models/src/detection_model_yolo.cpp
  demos/common/python/openvino/model_zoo/model_api/models/__init__.py
  demos/common/python/openvino/model_zoo/model_api/models/yolo.py
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/cpp/models.lst
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/models.lst
  demos/object_detection_demo/python/object_detection_demo.py
  demos/tests/cases.py
  models/public/device_support.md
  models/public/index.md
  models/public/yolof/README.md
  models/public/yolof/accuracy-check.yml
  models/public/yolof/model.py
  models/public/yolof/model.yml
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/nms.py
  tools/accuracy_checker/configs/yolof.yml
Labels: demo, accuracy checker, model, documentation

#2724 modelAPI cpp refactoring - sharing mat data
  demos/common/cpp/models/include/models/internal_model_data.h
  demos/common/cpp/models/src/detection_model_centernet.cpp
  demos/common/cpp/models/src/hpe_model_associative_embedding.cpp
  demos/common/cpp/models/src/hpe_model_openpose.cpp
  demos/common/cpp/models/src/image_model.cpp
  demos/common/cpp/utils/include/utils/ocv_common.hpp
  demos/common/cpp/utils/include/utils/shared_blob_allocator.h
  demos/common/cpp/utils/src/shared_blob_allocator.cpp
Labels: demo, refactoring

#2773 AC: allow override inputs and outputs for rnnt evaluator
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
Labels: accuracy checker

#2735 AC support OV dynamic shapes
  tools/accuracy_checker/accuracy_checker/__init__.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator_utils.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/segnet_background_matting.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/caffe_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_config.py
  tools/accuracy_checker/accuracy_checker/launcher/gapi_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/mxnet_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/onnx_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/pdpd_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/pytorch_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/preprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing.py
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing_ext.py
  tools/accuracy_checker/accuracy_checker/preprocessor/brats_preprocessing.py
  tools/accuracy_checker/accuracy_checker/preprocessor/centernet_preprocessing.py
  tools/accuracy_checker/accuracy_checker/preprocessor/crop.py
  tools/accuracy_checker/accuracy_checker/preprocessor/geometric_transformations.py
  tools/accuracy_checker/accuracy_checker/preprocessor/nlp_preprocessors.py
  tools/accuracy_checker/accuracy_checker/preprocessor/preprocessing_executor.py
  tools/accuracy_checker/accuracy_checker/preprocessor/preprocessor.py
  tools/accuracy_checker/accuracy_checker/preprocessor/raw_image_preprocessing.py
  tools/accuracy_checker/accuracy_checker/preprocessor/resize.py
  tools/accuracy_checker/accuracy_checker/utils.py
  tools/accuracy_checker/tests/test_model_evaluator.py
  tools/accuracy_checker/tests/test_preprocessor.py
Labels: accuracy checker

#2777 AC: fix evaluator for POT
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
Labels: accuracy checker, bugfix

#2780 Fixed compilation with forward declaration
  demos/common/cpp/models/src/detection_model_yolo.cpp
Labels: demo

#2776 mobilenet-v3 tf models changed to tf2
  models/public/index.md
  models/public/mobilenet-v3-large-1.0-224-tf/README.md
  models/public/mobilenet-v3-large-1.0-224-tf/accuracy-check.yml
  models/public/mobilenet-v3-large-1.0-224-tf/model.yml
  models/public/mobilenet-v3-large-1.0-224-tf/pre-convert.py
  models/public/mobilenet-v3-large-1.0-224-tf/quantization.yml
  models/public/mobilenet-v3-small-1.0-224-tf/README.md
  models/public/mobilenet-v3-small-1.0-224-tf/accuracy-check.yml
  models/public/mobilenet-v3-small-1.0-224-tf/model.yml
  models/public/mobilenet-v3-small-1.0-224-tf/pre-convert.py
  models/public/mobilenet-v3-small-1.0-224-tf/quantization.yml
Labels: model, documentation

#2781 AC: fix reshaping for static input in async mode
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/quantization_model_evaluator.py
Labels: accuracy checker, bugfix

#2783 AC: fix custom evaluators launching
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
Labels: accuracy checker, bugfix

#2654 add modelAPI to pedestian_tracker_demo
  demos/common/cpp/models/src/detection_model_yolo.cpp
  demos/pedestrian_tracker_demo/cpp/CMakeLists.txt
  demos/pedestrian_tracker_demo/cpp/README.md
  demos/pedestrian_tracker_demo/cpp/include/cnn.hpp
  demos/pedestrian_tracker_demo/cpp/include/core.hpp
  demos/pedestrian_tracker_demo/cpp/include/descriptor.hpp
  demos/pedestrian_tracker_demo/cpp/include/detector.hpp
  demos/pedestrian_tracker_demo/cpp/include/pedestrian_tracker_demo.hpp
  demos/pedestrian_tracker_demo/cpp/include/tracker.hpp
  demos/pedestrian_tracker_demo/cpp/include/utils.hpp
  demos/pedestrian_tracker_demo/cpp/main.cpp
  demos/pedestrian_tracker_demo/cpp/models.lst
  demos/pedestrian_tracker_demo/cpp/src/cnn.cpp
  demos/pedestrian_tracker_demo/cpp/src/detector.cpp
  demos/pedestrian_tracker_demo/cpp/src/tracker.cpp
  demos/tests/cases.py
Labels: demo, documentation

#2788 Update tests for pedestrian_tracker_demo
  demos/tests/cases.py
Labels: demo

#2785 Raw comparison for reference
  models/public/human-pose-estimation-3d-0001/accuracy-check.yml
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/presenters.py
  tools/accuracy_checker/tests/test_presenter.py
Labels: accuracy checker, model, documentation

#2790 Model Quantizer: update pot import
  tools/model_tools/src/openvino/model_zoo/omz_quantizer.py
Labels: downloader

#2791 AC: port some missed bugfixes to new layout
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/icdar.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
Labels: accuracy checker, bugfix

#2742 [ModelAPI] monodepth_demo
  demos/common/python/openvino/model_zoo/model_api/models/__init__.py
  demos/common/python/openvino/model_zoo/model_api/models/monodepth.py
  demos/monodepth_demo/python/README.md
  demos/monodepth_demo/python/monodepth_demo.py
  demos/tests/cases.py
Labels: demo, documentation

#2793 AC: fix action detection adapter
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/action_recognition.py
Labels: accuracy checker, bugfix

#2794 demos/tests: resurrect missing tests
  demos/tests/cases.py
Labels: demo

#2795 AC: solve device selection if several devices available
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher_config.py
Labels: accuracy checker
