Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-06, with the labels that each got.

#2447 Added retinaface-resnet50-pytorch model
  demos/common/python/models/__init__.py
  demos/common/python/models/retinaface.py
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/models.lst
  demos/object_detection_demo/python/object_detection_demo.py
  demos/tests/cases.py
  models/public/device_support.md
  models/public/index.md
  models/public/retinaface-resnet50-pytorch/README.md
  models/public/retinaface-resnet50-pytorch/accuracy-check.yml
  models/public/retinaface-resnet50-pytorch/model.py
  models/public/retinaface-resnet50-pytorch/model.yml
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/retinaface.py
  tools/accuracy_checker/configs/retinaface-resnet50-pytorch.yml
Labels: model

#2454 [Docs]: update input/outputs for bert large
  models/intel/bert-large-uncased-whole-word-masking-squad-0001/README.md
  models/intel/bert-large-uncased-whole-word-masking-squad-0001/accuracy-check.yml
  models/intel/bert-large-uncased-whole-word-masking-squad-int8-0001/README.md
  models/intel/bert-large-uncased-whole-word-masking-squad-int8-0001/accuracy-check.yml
Labels: documentation

#2451 Added face-recognition-resnet100-arface model from ONNX Zoo
  demos/face_recognition_demo/python/README.md
  demos/face_recognition_demo/python/models.lst
  demos/smart_classroom_demo/cpp/README.md
  demos/smart_classroom_demo/cpp/models.lst
  demos/tests/cases.py
  models/public/device_support.md
  models/public/face-recognition-resnet100-arcface-onnx/README.md
  models/public/face-recognition-resnet100-arcface-onnx/accuracy-check.yml
  models/public/face-recognition-resnet100-arcface-onnx/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/face-recognition-resnet100-arcface-onnx.yml
Labels: model

#2459 AC: fix opencv reader if data_source not provided
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/preprocessor/inpainting_preprocessor.py
Labels: accuracy checker, bugfix

#2464 AC: support tab delimeter in text recognition
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/icdar.py
Labels: accuracy checker

#2465 AC: support ppocr_recognition model
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/character_recognition.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/resize.py
Labels: accuracy checker

#2469 AC: allow framework specific preprocessing for const inputs
  tools/accuracy_checker/accuracy_checker/launcher/caffe_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/mxnet_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/onnx_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/pdpd_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/pytorch_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
  tools/accuracy_checker/tests/test_input_feeder.py
Labels: accuracy checker, bugfix, refactoring

#2471 AC: fix list supported representations for LPIPS
  tools/accuracy_checker/accuracy_checker/metrics/image_quality_assessment.py
Labels: accuracy checker, bugfix

#2463 AC: Added Open Images Dataset support
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/open_images_converter.py
Labels: accuracy checker

#2481 AC: fix regex with nonlist
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
Labels: accuracy checker, bugfix

#2486 AC: align behaviour for data_source
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
Labels: accuracy checker, bugfix

#2485 AC: adopt custom text recognition evaluator for quantization
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
Labels: accuracy checker

#2439 tools/downloader: access composite models by composite model name
  tools/downloader/README.md
  tools/downloader/src/open_model_zoo/model_tools/_configuration.py
  tools/downloader/src/open_model_zoo/model_tools/info_dumper.py
  tools/downloader/tests/representative-models.lst
Labels: downloader

#2470 Support for k-spaced MRI datasets and models
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/calgarycampinas.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/interp.py
  tools/accuracy_checker/accuracy_checker/representation/image_processing.py
Labels: accuracy checker

#2506 Add determined seed for multinomial distribution to the LPCNetEvaluator
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
Labels: accuracy checker, bugfix

#2505 Demos: remove usage deprecated IE python API from BERT QA demo
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
Labels: demo, refactoring

#2513 AC: port bugfixes to release
  tools/accuracy_checker/.pylintrc
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/metrics/image_quality_assessment.py
  tools/accuracy_checker/requirements.in
  tools/accuracy_checker/setup.cfg
Labels: accuracy checker, bugfix

#2515 initial support pdpd detection models
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/caffe_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/mxnet_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/onnx_runtime_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/opencv_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/pdpd_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/pytorch_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/tf_lite_launcher_readme.md
  tools/accuracy_checker/tests/test_input_feeder.py
Labels: accuracy checker

#2514 Classification demo: fixed zero division exception, added feature to repeat testing.
  demos/classification_demo/cpp/README.md
  demos/classification_demo/cpp/grid_mat.hpp
  demos/classification_demo/cpp/main.cpp
Labels: bugfix, feature

#2526 Support for amazon product data dataset and DIEN model
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/classification.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/amazon.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/classification.py
Labels: accuracy checker

#2532 AC: support ppocr text detector
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/ctpn.py
  tools/accuracy_checker/accuracy_checker/adapters/text_detection.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/rctw.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/resize.py
  tools/accuracy_checker/requirements.in
Labels: accuracy checker

#2533 AC: fix image info input
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
Labels: accuracy checker, bugfix

#2535 Social distance demo fix
  demos/social_distance_demo/cpp/include/person_trackers.hpp
  demos/social_distance_demo/cpp/src/geodist.cpp
Labels: bugfix

#2527 AC: Added saving of intermediate metrics results to csv file
  tools/accuracy_checker/accuracy_checker/evaluators/base_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/module_evaluator.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker

#2538 AC: fix stored predictions loading
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/launcher/onnx_launcher.py
Labels: accuracy checker, bugfix

#2539 AC: extend support GLUE benchmark tasks and tokenizers from transformers
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/_nlp_common.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/text_classification.py
  tools/accuracy_checker/accuracy_checker/preprocessor/nlp_preprocessors.py
  tools/accuracy_checker/requirements.in
Labels: accuracy checker

#2548 AC: allow reshaping tacotron2 postnet
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
Labels: accuracy checker

#2550 AC: bugfixes for label me and interval metric
  tools/accuracy_checker/accuracy_checker/annotation_converters/label_me_converter.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
  tools/accuracy_checker/accuracy_checker/metrics/detection.py
  tools/accuracy_checker/accuracy_checker/metrics/regression.py
  tools/accuracy_checker/tests/test_regression_metrics.py
Labels: accuracy checker, bugfix

#2553 AC: support single value in text classification
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/nlp.py
Labels: accuracy checker

#2504 retinaface-resnet50-pytorch C++ model wrapper
  demos/common/cpp/models/include/models/detection_model_retinaface_pt.h
  demos/common/cpp/models/src/detection_model_retinaface_pt.cpp
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/cpp/main.cpp
  demos/object_detection_demo/cpp/models.lst
  demos/tests/cases.py
Labels: demo

#2555 AC: Added ignore_metric_reference flag
  tools/accuracy_checker/accuracy_checker/evaluators/base_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/module_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker

#2556 AC: support Wav2Vec model
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/audio_recognition.py
  tools/accuracy_checker/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
Labels: accuracy checker
