Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-12, with the labels that each got.

#2938 AC: add support OV2.0 in custom evaluators
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_custom_encoder_decoder_joint.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator_utils.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/segnet_background_matting.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher_config.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/utils.py
Labels: accuracy checker

#2946 AC: bump version
  tools/accuracy_checker/openvino/tools/accuracy_checker/__init__.py
Labels: accuracy checker

#2947 AC: fix paths in image search for VOC
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/pascal_voc.py
Labels: accuracy checker

#2924 Added requirements for openvino-dev python package.
  ci/requirements-openvino-dev.in
  ci/requirements-openvino-dev.txt
  ci/update-requirements.py
Labels: dependencies

#2847 Custom evaluator for Open-NMT2 model
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/opennmt_encoder_decoder_generator_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/preprocessor/nlp_preprocessors.py
Labels: accuracy checker, documentation

#2944 model_tools: fix mo location when entry point passed
  tools/model_tools/src/openvino/model_zoo/omz_converter.py
Labels: downloader

#2949 AC: get meta from converter
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/action_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/ade20k_dataset_converter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/amazon.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/antispoofing.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/background_matting.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/brats.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/camvid.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cifar.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cityscapes.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/coco_facial_landmarks.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/common_object_detection.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/common_semantic_segmentation.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/conll_ner.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/criteo_kaggle_dac.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cvat_age_gender_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cvat_attributes_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cvat_human_pose.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cvat_multilabel_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cvat_object_detection.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cvat_person_detection_action_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/cvat_text_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/dataset_folder.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/detection_opencv_storage.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/dna_seq.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/electricity_time_series_forecasting.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/fashion_mnist.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/format_converter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/icdar.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/im2latex.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/imagenet.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/label_me_converter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/lmdb.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/lpr.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/mapillary_20.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/mnist.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/mpii.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/mrlEyes_2018_01.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/ms_asl_continuous.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/ms_coco.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/nyu_depth.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/open_images_converter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/pascal_voc.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/sample_converter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/speaker_identification.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/style_transfer.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/text_classification.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/unicode_character_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/vgg_face_regression.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/wider.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/yolo_labeling_converter.py
Labels: accuracy checker, refactoring

#2950 AC: open nmt evaluator for api 2.0
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/opennmt_encoder_decoder_generator_evaluator.py
Labels: accuracy checker

#2917 Contribute the handwritten-english-recognition-0001 model
  data/dataset_classes/gnhk.txt
  data/dataset_definitions.yml
  demos/README.md
  demos/handwritten_text_recognition_demo/python/README.md
  demos/handwritten_text_recognition_demo/python/data/handwritten_english_test.png
  demos/handwritten_text_recognition_demo/python/handwritten_text_recognition_demo.py
  demos/handwritten_text_recognition_demo/python/models.lst
  models/intel/handwritten-english-recognition-0001/README.md
  models/intel/handwritten-english-recognition-0001/accuracy-check.yml
  models/intel/handwritten-english-recognition-0001/assets/handwritten-english-recognition-0001.jpg
  models/intel/handwritten-english-recognition-0001/preprocess_gnhk.py
  models/intel/index.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/unicode_character_recognition.py
Labels: demo, accuracy checker, model, documentation

#2927 demos/common/python/openvino/model_zoo/model_api: let openvino decide what it supports
  demos/common/python/openvino/model_zoo/model_api/adapters/openvino_adapter.py
  demos/common/python/openvino/model_zoo/model_api/models/detection_model.py
  demos/common/python/openvino/model_zoo/model_api/models/image_model.py
  demos/common/python/openvino/model_zoo/model_api/models/model.py
Labels: demo

#2925 Update reference collection according to feedback
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/module_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/audio_processing.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/classification.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/dna_seq_accuracy.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/gan_metrics.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/hit_ratio.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/image_quality_assessment.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/language_modeling.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/machine_translation.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/mpjpe_multiperson.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/multilabel_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/regression.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/reid.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/salient_objects_detection.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/score_class_comparison.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/speech_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/text_detection.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/time_series.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/misc.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/presenters.py
Labels: accuracy checker

#2954 models/intel/handwritten-english-recognition-0001 fix style
  ci/check-basics.py
  demos/handwritten_text_recognition_demo/python/handwritten_text_recognition_demo.py
  demos/handwritten_text_recognition_demo/python/models.lst
  models/intel/device_support.md
  models/intel/handwritten-english-recognition-0001/README.md
  models/intel/handwritten-english-recognition-0001/accuracy-check.yml
  models/intel/handwritten-english-recognition-0001/preprocess_gnhk.py
Labels: demo, model, documentation

#2900 Model API improvements
  demos/bert_named_entity_recognition_demo/python/bert_named_entity_recognition_demo.py
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
  demos/bert_question_answering_embedding_demo/python/bert_question_answering_embedding_demo.py
  demos/classification_demo/python/classification_demo.py
  demos/common/python/openvino/model_zoo/model_api/models/__init__.py
  demos/common/python/openvino/model_zoo/model_api/models/bert.py
  demos/common/python/openvino/model_zoo/model_api/models/centernet.py
  demos/common/python/openvino/model_zoo/model_api/models/classification.py
  demos/common/python/openvino/model_zoo/model_api/models/ctpn.py
  demos/common/python/openvino/model_zoo/model_api/models/deblurring.py
  demos/common/python/openvino/model_zoo/model_api/models/detection_model.py
  demos/common/python/openvino/model_zoo/model_api/models/detr.py
  demos/common/python/openvino/model_zoo/model_api/models/faceboxes.py
  demos/common/python/openvino/model_zoo/model_api/models/hpe_associative_embedding.py
  demos/common/python/openvino/model_zoo/model_api/models/image_model.py
  demos/common/python/openvino/model_zoo/model_api/models/model.py
  demos/common/python/openvino/model_zoo/model_api/models/monodepth.py
  demos/common/python/openvino/model_zoo/model_api/models/open_pose.py
  demos/common/python/openvino/model_zoo/model_api/models/retinaface.py
  demos/common/python/openvino/model_zoo/model_api/models/segmentation.py
  demos/common/python/openvino/model_zoo/model_api/models/ssd.py
  demos/common/python/openvino/model_zoo/model_api/models/types.py
  demos/common/python/openvino/model_zoo/model_api/models/ultra_lightweight_face_detection.py
  demos/common/python/openvino/model_zoo/model_api/models/yolo.py
  demos/deblurring_demo/python/deblurring_demo.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/object_detection_demo/python/object_detection_demo.py
  demos/segmentation_demo/python/segmentation_demo.py
Labels: demo

#2951 fix object_detection_demo/cpp for yolo models
  demos/common/cpp/models/src/detection_model_yolo.cpp
  demos/object_detection_demo/cpp/main.cpp
Labels: demo

#2963 AC: update for new infer api changes
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
Labels: accuracy checker

#2969 AC: support anomaly segmentation
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/classification.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/segmentation.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/mvtec.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/classification.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/resize.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/resize_segmentation_mask.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/representation/classification_representation.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/representation/nlp_representation.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/representation/segmentation_representation.py
Labels: accuracy checker

#2970 AC: fix for fp16 precision mapping
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
Labels: accuracy checker, bugfix

#2952 AC: Refactoring mtcnn models and init in cascade models
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_custom_encoder_decoder_joint.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator_utils.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/opennmt_encoder_decoder_generator_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/segnet_background_matting.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
Labels: accuracy checker, refactoring

#2974 OMZ converter fix path to extensions
  models/public/efficientdet-d0-tf/model.yml
  models/public/efficientdet-d1-tf/model.yml
  models/public/faster_rcnn_inception_resnet_v2_atrous_coco/model.yml
  models/public/faster_rcnn_inception_v2_coco/model.yml
  models/public/faster_rcnn_resnet101_coco/model.yml
  models/public/faster_rcnn_resnet50_coco/model.yml
  models/public/mask_rcnn_inception_resnet_v2_atrous_coco/model.yml
  models/public/mask_rcnn_inception_v2_coco/model.yml
  models/public/mask_rcnn_resnet101_atrous_coco/model.yml
  models/public/mask_rcnn_resnet50_atrous_coco/model.yml
  models/public/retinanet-tf/model.yml
  models/public/rfcn-resnet101-coco-tf/model.yml
  models/public/ssd_mobilenet_v1_coco/model.yml
  models/public/ssd_mobilenet_v1_fpn_coco/model.yml
  models/public/ssd_mobilenet_v2_coco/model.yml
  models/public/ssd_resnet50_v1_fpn_coco/model.yml
  models/public/ssdlite_mobilenet_v2/model.yml
  models/public/yolo-v1-tiny-tf/model.yml
  models/public/yolo-v2-tf/model.yml
  models/public/yolo-v2-tiny-tf/model.yml
  tools/model_tools/src/openvino/model_zoo/omz_converter.py
Labels: downloader

#2975 AC: update type import
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
Labels: accuracy checker

#2976 model_tools: fix subdirectory for composite models
  tools/model_tools/src/openvino/model_zoo/_configuration.py
Labels: downloader

#2958 Add new person instance segmentation model
  data/dataset_definitions.yml
  models/intel/device_support.md
  models/intel/index.md
  models/intel/instance-segmentation-person-0007/README.md
  models/intel/instance-segmentation-person-0007/accuracy-check.yml
  models/intel/instance-segmentation-person-0007/assets/instance-segmentation-person-0007-1.jpg
  models/intel/instance-segmentation-person-0007/assets/instance-segmentation-person-0007-2.jpg
Labels: model, documentation

#2909 add model to clean speech with low latency (delay<40ms)
  models/intel/index.md
  models/intel/noise-suppression-denseunet-ll-0001/README.md
  models/intel/noise-suppression-denseunet-ll-0001/accuracy-check.yml
  tools/accuracy_checker/configs/noise-suppression-denseunet-ll-0001.yml
Labels: accuracy checker, model, documentation

#2973 Replaced editdistance dependency with own implementation of editdistance algorithm
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/character_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/distance.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/speech_recognition.py
  tools/accuracy_checker/requirements.in
Labels: accuracy checker

#2980 model docs: fix typo
  models/intel/device_support.md
  models/intel/noise-suppression-denseunet-ll-0001/README.md
Labels: documentation

#2984 AC: fix metric reference
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/language_modeling.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/presenters.py
Labels: accuracy checker

#2988 AC: Fixed mask_rcnn adapter in case there is no raw_masks_out
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/mask_rcnn.py
Labels: accuracy checker, bugfix

#2989 AC: Fixed mask_rcnn adapter in case of using detection_out
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/mask_rcnn.py
Labels: accuracy checker, bugfix

#2987 MD accept select mode for model loading
  tools/model_tools/src/openvino/model_zoo/_configuration.py
Labels: downloader

#2991 AC: fix output blob selection for adapter
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
Labels: accuracy checker, bugfix

#2982 Added efficientnet v2 models
  demos/classification_demo/python/README.md
  demos/classification_demo/python/models.lst
  models/public/device_support.md
  models/public/efficientnet-v2-b0/README.md
  models/public/efficientnet-v2-b0/accuracy-check.yml
  models/public/efficientnet-v2-b0/model.yml
  models/public/efficientnet-v2-s/README.md
  models/public/efficientnet-v2-s/accuracy-check.yml
  models/public/efficientnet-v2-s/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/efficientnet-v2-b0.yml
  tools/accuracy_checker/configs/efficientnet-v2-s.yml
Labels: model

#2959 G-API: Adding anti spoofing scenario for IFD-GAPI
  demos/interactive_face_detection_demo/cpp/detectors.cpp
  demos/interactive_face_detection_demo/cpp_gapi/README.md
  demos/interactive_face_detection_demo/cpp_gapi/face.cpp
  demos/interactive_face_detection_demo/cpp_gapi/face.hpp
  demos/interactive_face_detection_demo/cpp_gapi/interactive_face_detection_gapi.hpp
  demos/interactive_face_detection_demo/cpp_gapi/main.cpp
  demos/interactive_face_detection_demo/cpp_gapi/models.lst
  demos/interactive_face_detection_demo/cpp_gapi/visualizer.cpp
  demos/interactive_face_detection_demo/cpp_gapi/visualizer.hpp
  demos/tests/cases.py
Labels: demo, documentation

#3009 AC: Added support for ssd-resnet-34-tf model
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/ssd.py
Labels: accuracy checker

#3011 AC: Fixed set_input_and_output in case exec_network is not set
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
Labels: accuracy checker, bugfix

#2837 G-API. Gesture recognition demo.
  demos/README.md
  demos/gesture_recognition_demo/cpp_gapi/CMakeLists.txt
  demos/gesture_recognition_demo/cpp_gapi/README.md
  demos/gesture_recognition_demo/cpp_gapi/create_list.py
  demos/gesture_recognition_demo/cpp_gapi/gesture_recognition_demo_gapi.hpp
  demos/gesture_recognition_demo/cpp_gapi/include/custom_kernels.hpp
  demos/gesture_recognition_demo/cpp_gapi/include/stream_source.hpp
  demos/gesture_recognition_demo/cpp_gapi/include/tracker.hpp
  demos/gesture_recognition_demo/cpp_gapi/include/utils.hpp
  demos/gesture_recognition_demo/cpp_gapi/include/visualizer.hpp
  demos/gesture_recognition_demo/cpp_gapi/main.cpp
  demos/gesture_recognition_demo/cpp_gapi/models.lst
  demos/gesture_recognition_demo/cpp_gapi/src/custom_kernels.cpp
  demos/gesture_recognition_demo/cpp_gapi/src/tracker.cpp
  demos/gesture_recognition_demo/cpp_gapi/src/utils.cpp
  demos/gesture_recognition_demo/cpp_gapi/src/visualizer.cpp
  demos/tests/cases.py
Labels: demo, documentation

#3018 AC: handle port name in sequence inference
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/utils.py
Labels: accuracy checker, bugfix

#2997 AC: improve logging initialization
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/logging.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/main.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/misc.py
Labels: accuracy checker, refactoring

#3025 AC: support image generation
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/gan_annotation_converter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/regression.py
Labels: accuracy checker

#3000 Adding style transfer functionality into "image_processing_demo"
  demos/common/cpp/models/include/models/style_transfer_model.h
  demos/common/cpp/models/src/style_transfer_model.cpp
  demos/image_processing_demo/cpp/README.md
  demos/image_processing_demo/cpp/assets/style_transfer.jpg
  demos/image_processing_demo/cpp/main.cpp
  demos/image_processing_demo/cpp/models.lst
Labels: demo
