Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-02, with the labels that each got.

#1719 Update instance segmentation
  demos/instance_segmentation_demo/python/instance_segmentation_demo/model_utils.py
  demos/multi_camera_multi_target_tracking_demo/python/utils/ie_tools.py
  demos/multi_camera_multi_target_tracking_demo/python/utils/network_wrappers.py
  demos/multi_camera_multi_target_tracking_demo/python/utils/segm_postprocess.py
  demos/tests/cases.py
  demos/whiteboard_inpainting_demo/python/utils/network_wrappers.py
  demos/whiteboard_inpainting_demo/python/utils/segm_postprocess.py
  models/intel/index.md
  models/intel/instance-segmentation-security-0002/accuracy-check.yml
  models/intel/instance-segmentation-security-0002/description/instance-segmentation-security-0002.md
  models/intel/instance-segmentation-security-0002/description/instance-segmentation-security-0002.png
  models/intel/instance-segmentation-security-0091/accuracy-check.yml
  models/intel/instance-segmentation-security-0091/description/instance-segmentation-security-0091.md
  models/intel/instance-segmentation-security-0091/description/instance-segmentation-security-0091.png
  models/intel/instance-segmentation-security-0228/accuracy-check.yml
  models/intel/instance-segmentation-security-0228/description/instance-segmentation-security-0228.md
  models/intel/instance-segmentation-security-0228/description/instance-segmentation-security-0228.png
  models/intel/instance-segmentation-security-1039/accuracy-check.yml
  models/intel/instance-segmentation-security-1039/description/instance-segmentation-security-1039.md
  models/intel/instance-segmentation-security-1039/description/instance-segmentation-security-1039.png
  models/intel/instance-segmentation-security-1040/accuracy-check.yml
  models/intel/instance-segmentation-security-1040/description/instance-segmentation-security-1040.md
  models/intel/instance-segmentation-security-1040/description/instance-segmentation-security-1040.png
  tools/accuracy_checker/accuracy_checker/adapters/mask_rcnn.py
  tools/accuracy_checker/configs/instance-segmentation-security-0002.yml
  tools/accuracy_checker/configs/instance-segmentation-security-0091.yml
  tools/accuracy_checker/configs/instance-segmentation-security-0228.yml
  tools/accuracy_checker/configs/instance-segmentation-security-1039.yml
  tools/accuracy_checker/configs/instance-segmentation-security-1040.yml
Labels: model

#2041 AC: support validation scheme API
  tools/accuracy_checker/accuracy_checker/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/format_converter.py
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_config.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/metrics/metric.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/accuracy_checker/postprocessor/postprocessor.py
  tools/accuracy_checker/accuracy_checker/preprocessor/preprocessor.py
  tools/accuracy_checker/tests/test_config_validator.py
Labels: accuracy checker, feature

#2046 AC: support YOLO V3 tf2
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
Labels: accuracy checker

#2053 AC: fix config validation for dict field
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
Labels: accuracy checker, bugfix

#2056 AC: support subset dumping/selection using file
  tools/accuracy_checker/accuracy_checker/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/tests/test_dataset.py
  tools/accuracy_checker/tests/test_model_evaluator.py
Labels: accuracy checker, feature, refactoring

#2021 Added NetVLAD model
  ci/prepare-documentation.py
  data/dataset_definitions.yml
  demos/place_recognition_demo/python/README.md
  demos/place_recognition_demo/python/models.lst
  demos/place_recognition_demo/python/place_recognition_demo.py
  demos/place_recognition_demo/python/place_recognition_demo/__init__.py
  demos/place_recognition_demo/python/place_recognition_demo/common.py
  demos/place_recognition_demo/python/place_recognition_demo/place_recognition.py
  demos/place_recognition_demo/python/place_recognition_demo/visualizer.py
  models/public/index.md
  models/public/netvlad-tf/accuracy-check.yml
  models/public/netvlad-tf/model.yml
  models/public/netvlad-tf/netvlad-tf.md
  models/public/netvlad-tf/pre-convert.py
  tools/accuracy_checker/configs/netvlad-tf.yml
  tools/downloader/README.md
  tools/downloader/common.py
Labels: model

#2024 Aa/melgan forward tacotron att
  data/dataset_definitions.yml
  models/intel/index.md
  models/intel/text-to-speech-en-0001/accuracy-check.yml
  models/intel/text-to-speech-en-0001/description/text-to-speech-en-0001.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
Labels: model

#2080 AC: fix single image processing
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
Labels: accuracy checker, bugfix

#2079 AC: fix identifier for bert emb
  tools/accuracy_checker/accuracy_checker/metrics/question_answering.py
Labels: accuracy checker, bugfix

#2081 AC: fix im2latex evaluator
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/im2latex_evaluator.py
Labels: accuracy checker, bugfix

#2077 AC: Added groups of arguments for AC
  tools/accuracy_checker/accuracy_checker/main.py
Labels: accuracy checker, refactoring

#2083 AC: update input configuration validation
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/tests/test_config_validator.py
Labels: accuracy checker

#2075 Text spotting 0004
  demos/text_spotting_demo/python/README.md
  models/intel/index.md
  models/intel/text-spotting-0004/accuracy-check.yml
  models/intel/text-spotting-0004/composite-model.yml
  models/intel/text-spotting-0004/description/text-spotting-0004.md
  models/intel/text-spotting-0004/description/text-spotting-0004.png
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/README.md
  tools/accuracy_checker/configs/text-spotting-0003.yml
  tools/accuracy_checker/configs/text-spotting-0004.yml
Labels: model

#2087 AC: adopt hit ratio representation to work with new identifier
  tools/accuracy_checker/accuracy_checker/representation/hit_ratio_representation.py
Labels: accuracy checker, bugfix

#2085 AC: Added field for normalization arguments
  tools/accuracy_checker/accuracy_checker/adapters/image_processing.py
  tools/accuracy_checker/accuracy_checker/config/__init__.py
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
  tools/accuracy_checker/accuracy_checker/preprocessor/normalization.py
Labels: accuracy checker

#2052 cpp object detection demo: ssh-mxnet support
  demos/common/cpp/models/include/models/detection_model_retinaface.h
  demos/common/cpp/models/src/detection_model_retinaface.cpp
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/cpp/main.cpp
  demos/object_detection_demo/cpp/models.lst
  demos/tests/cases.py
Labels: demo

#2091 AC: updated subword_option finding in WMT converter
  tools/accuracy_checker/accuracy_checker/annotation_converters/wmt.py
Labels: accuracy checker, bugfix

#2025 Aa/demo forward tacotron attention
  demos/text_to_speech_demo/python/README.md
  demos/text_to_speech_demo/python/models/forward_tacotron_ie.py
  demos/text_to_speech_demo/python/models/mel2wave_ie.py
  demos/text_to_speech_demo/python/text_to_speech_demo.py
Labels: demo

#2092 AC: fixed lpcnet evaluator
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
Labels: accuracy checker, bugfix

#2078 add text recognition 0013 model
  demos/text_detection_demo/cpp/README.md
  demos/text_detection_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/text_detection_demo.hpp
  models/intel/index.md
  models/intel/text-recognition-0013/accuracy-check.yml
  models/intel/text-recognition-0013/description/openvino.jpg
  models/intel/text-recognition-0013/description/text-recognition-0013.md
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
Labels: model

#2101 add class id to model description
  models/intel/person-detection-retail-0002/description/person-detection-retail-0002.md
Labels: documentation

#2103 py object detection demo: model type name retina changed to retinaface in args
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/models.lst
  demos/object_detection_demo/python/object_detection_demo.py
  demos/tests/cases.py
Labels: demo

#2063 Human pose estimation models update
  data/dataset_definitions.yml
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo/decoder_ae.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo/model.py
  demos/tests/cases.py
  models/intel/human-pose-estimation-0005/accuracy-check.yml
  models/intel/human-pose-estimation-0005/description/human-pose-estimation-0005.md
  models/intel/human-pose-estimation-0005/description/human-pose-estimation-0005.png
  models/intel/human-pose-estimation-0006/accuracy-check.yml
  models/intel/human-pose-estimation-0006/description/human-pose-estimation-0006.md
  models/intel/human-pose-estimation-0006/description/human-pose-estimation-0006.png
  models/intel/human-pose-estimation-0007/accuracy-check.yml
  models/intel/human-pose-estimation-0007/description/human-pose-estimation-0007.md
  models/intel/human-pose-estimation-0007/description/human-pose-estimation-0007.png
  models/intel/index.md
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation_associative_embedding.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/ms_coco.py
  tools/accuracy_checker/configs/human-pose-estimation-0005.yml
  tools/accuracy_checker/configs/human-pose-estimation-0006.yml
  tools/accuracy_checker/configs/human-pose-estimation-0007.yml
Labels: model

#2002 Add diou_nms for AC
  models/public/yolo-v4-tf/accuracy-check.yml
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/nms.py
Labels: accuracy checker, feature

#2105 AC: Added support for using COCO dataset with VOC labels
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/ms_coco.py
Labels: accuracy checker

#2082 Add new person-vehicle-bike detection models
  demos/tests/cases.py
  models/intel/index.md
  models/intel/person-vehicle-bike-detection-2003/accuracy-check.yml
  models/intel/person-vehicle-bike-detection-2003/description/person-vehicle-bike-detection-2003.md
  models/intel/person-vehicle-bike-detection-2003/description/person-vehicle-bike-detection-2003.png
  models/intel/person-vehicle-bike-detection-2004/accuracy-check.yml
  models/intel/person-vehicle-bike-detection-2004/description/person-vehicle-bike-detection-2004.md
  models/intel/person-vehicle-bike-detection-2004/description/person-vehicle-bike-detection-2004.png
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/configs/person-vehicle-bike-detection-2003.yml
  tools/accuracy_checker/configs/person-vehicle-bike-detection-2004.yml
Labels: model

#2126 Micro changes to simplify deblurring_demo py
  demos/README.md
  demos/common/python/models/deblurring.py
Labels: demo

#2094 py action recognition demo: added i3d-rgb-tf model support
  demos/action_recognition_demo/python/README.md
  demos/action_recognition_demo/python/action_recognition_demo.py
  demos/action_recognition_demo/python/action_recognition_demo/models.py
  demos/action_recognition_demo/python/action_recognition_demo/result_renderer.py
  demos/action_recognition_demo/python/action_recognition_demo/steps.py
  demos/action_recognition_demo/python/models.lst
  demos/tests/cases.py
Labels: demo

#1992 Yolov4 demo support
  demos/common/python/models/__init__.py
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/models.lst
  demos/object_detection_demo/python/object_detection_demo.py
  demos/tests/cases.py
Labels: demo

#2137 AC: Added age_recognition adapter
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/attributes_recognition.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker
