Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-11, with the labels that each got.

#2852 debug pickle loading
  tools/accuracy_checker/openvino/tools/accuracy_checker/dataset.py
Labels: accuracy checker

#2856 AC: fix coco orig metrics
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/coco_orig_metrics.py
Labels: accuracy checker, bugfix

#2857 AC: fix number fields for Amazon dataset
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/amazon.py
Labels: accuracy checker

#2858 AC: prevent devision by zero in wer metrics
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/speech_recognition.py
Labels: accuracy checker

#2859 AC: allow disabling comparing with ref
  tools/accuracy_checker/openvino/tools/accuracy_checker/argparser.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/main.py
Labels: accuracy checker

#2814 Add FBCNN jpeg artifact removal model
  demos/common/cpp/models/include/models/jpeg_restoration_model.h
  demos/common/cpp/models/src/jpeg_restoration.cpp
  demos/image_processing_demo/cpp/README.md
  demos/image_processing_demo/cpp/assets/parrots_restoration.png
  demos/image_processing_demo/cpp/main.cpp
  demos/image_processing_demo/cpp/models.lst
  demos/image_processing_demo/cpp/visualizer.cpp
  demos/tests/cases.py
  models/public/device_support.md
  models/public/fbcnn/README.md
  models/public/fbcnn/accuracy-check.yml
  models/public/fbcnn/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/fbcnn.yml
Labels: demo, accuracy checker, model, documentation

#2854 Add scipy to requirements of modelAPI
  demos/common/python/requirements.txt
Labels: dependencies, demo

#2861 AC: fix segment_ids for tokenized text
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/text_classification.py
Labels: accuracy checker

#2860 Demo docs: update link on openvino docs
  demos/3d_segmentation_demo/python/README.md
  demos/action_recognition_demo/python/README.md
  demos/classification_demo/cpp/README.md
  demos/crossroad_camera_demo/cpp/README.md
  demos/deblurring_demo/python/README.md
  demos/face_detection_mtcnn_demo/cpp_gapi/README.md
  demos/face_detection_mtcnn_demo/python/README.md
  demos/face_recognition_demo/python/README.md
  demos/formula_recognition_demo/python/README.md
  demos/gaze_estimation_demo/cpp/README.md
  demos/gaze_estimation_demo/cpp_gapi/README.md
  demos/gesture_recognition_demo/python/README.md
  demos/human_pose_estimation_3d_demo/python/README.md
  demos/human_pose_estimation_demo/cpp/README.md
  demos/human_pose_estimation_demo/python/README.md
  demos/image_processing_demo/cpp/README.md
  demos/image_retrieval_demo/python/README.md
  demos/instance_segmentation_demo/python/README.md
  demos/interactive_face_detection_demo/cpp/README.md
  demos/interactive_face_detection_demo/cpp_gapi/README.md
  demos/mask_rcnn_demo/cpp/README.md
  demos/monodepth_demo/python/README.md
  demos/multi_camera_multi_target_tracking_demo/python/README.md
  demos/multi_channel_face_detection_demo/cpp/README.md
  demos/multi_channel_human_pose_estimation_demo/cpp/README.md
  demos/multi_channel_object_detection_demo_yolov3/cpp/README.md
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/python/README.md
  demos/pedestrian_tracker_demo/cpp/README.md
  demos/place_recognition_demo/python/README.md
  demos/security_barrier_camera_demo/cpp/README.md
  demos/segmentation_demo/cpp/README.md
  demos/segmentation_demo/python/README.md
  demos/single_human_pose_estimation_demo/python/README.md
  demos/smart_classroom_demo/cpp/README.md
  demos/smart_classroom_demo/cpp_gapi/README.md
  demos/social_distance_demo/cpp/README.md
  demos/text_detection_demo/cpp/README.md
  demos/text_spotting_demo/python/README.md
  demos/whiteboard_inpainting_demo/python/README.md
Labels: documentation

#2867 AC: fix usage glob for kaldi feats
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/kaldi_speech_recognition_pipeline.py
Labels: accuracy checker, bugfix

#2869 AC: support labels shift for greedy search decoding
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/text_recognition.py
Labels: accuracy checker, documentation

#2873 demos/cpp/detection_model_yolo: use ngraph's alias
  demos/common/cpp/models/include/models/detection_model_yolo.h
Labels: demo

#2874 AC: support word embeddings similarity
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/reidentification.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/text_similarity_pooling.py
Labels: accuracy checker, documentation

#2879 AC: fix instance segmentation profiling for not matched
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/coco_metrics.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/coco_orig_metrics.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_profiler/instance_segmentation_metric_profiler.py
Labels: accuracy checker

#2877 demos: enable a custom build output folder
  demos/build_demos.sh
  demos/build_demos_msvc.bat
Labels: demo

#2870 models/public/drn-d-38/model.yml: update google_drive id
  models/public/drn-d-38/model.yml
Labels: model

#2881 AC: update segmentation profiling
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_profiler/segmentation_metric_profiler.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/semantic_segmentation.py
Labels: accuracy checker

#2878 AC: support speaker reidentification
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/speaker_identification.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/audio_readers.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/dataset.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/preprocessor/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/preprocessor/audio_preprocessing.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/preprocessor/audio_preprocessing_ext.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/preprocessor/geometric_transformations.py
  tools/accuracy_checker/tests/test_dataset.py
Labels: accuracy checker, documentation

#2882 AC: fix getting polygons in profiling
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/coco_metrics.py
Labels: accuracy checker

#2883 AC: move masks to per class results
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_profiler/segmentation_metric_profiler.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/semantic_segmentation.py
Labels: accuracy checker

#2887 AC: support explicit specifing undefined shapes in config
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker

#2868 model_tools: yaml validation
  ci/requirements-downloader.txt
  tools/model_tools/requirements.in
  tools/model_tools/setup.cfg
  tools/model_tools/src/openvino/model_zoo/_common.py
  tools/model_tools/src/openvino/model_zoo/_configuration.py
  tools/model_tools/src/openvino/model_zoo/schema.yml
Labels: dependencies, downloader

#2884 AC: deprocess prediction in profiling mode
  tools/accuracy_checker/openvino/tools/accuracy_checker/dataset.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_profiler/base_profiler.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_profiler/profiling_executor.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/metric_profiler/segmentation_metric_profiler.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/crop_segmentation_mask.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/extend_segmentation_mask.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/postprocessing_executor.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/postprocessor.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/resize_segmentation_mask.py
  tools/accuracy_checker/tests/test_model_evaluator.py
Labels: accuracy checker

#2778 G-API. Common StreamSource. IFD-GAPI small refactoring.
  demos/CMakeLists.txt
  demos/common/cpp_gapi/CMakeLists.txt
  demos/common/cpp_gapi/utils_gapi/CMakeLists.txt
  demos/common/cpp_gapi/utils_gapi/include/utils_gapi/stream_source.hpp
  demos/common/cpp_gapi/utils_gapi/src/stream_source.cpp
  demos/face_detection_mtcnn_demo/cpp_gapi/CMakeLists.txt
  demos/face_detection_mtcnn_demo/cpp_gapi/include/stream_source.hpp
  demos/face_detection_mtcnn_demo/cpp_gapi/main.cpp
  demos/gaze_estimation_demo/cpp_gapi/CMakeLists.txt
  demos/gaze_estimation_demo/cpp_gapi/include/stream_source.hpp
  demos/gaze_estimation_demo/cpp_gapi/main.cpp
  demos/interactive_face_detection_demo/cpp_gapi/CMakeLists.txt
  demos/interactive_face_detection_demo/cpp_gapi/face.hpp
  demos/interactive_face_detection_demo/cpp_gapi/main.cpp
  demos/interactive_face_detection_demo/cpp_gapi/utils.hpp
  demos/interactive_face_detection_demo/cpp_gapi/visualizer.cpp
  demos/smart_classroom_demo/cpp_gapi/CMakeLists.txt
  demos/smart_classroom_demo/cpp_gapi/include/initialize.hpp
  demos/smart_classroom_demo/cpp_gapi/include/stream_source.hpp
  demos/smart_classroom_demo/cpp_gapi/main.cpp
Labels: demo, refactoring

#2888 OMZ demo add check for minimal OpenCV version
  demos/CMakeLists.txt
  demos/face_detection_mtcnn_demo/cpp_gapi/CMakeLists.txt
  demos/gaze_estimation_demo/cpp_gapi/CMakeLists.txt
  demos/interactive_face_detection_demo/cpp_gapi/CMakeLists.txt
  demos/smart_classroom_demo/cpp_gapi/CMakeLists.txt
Labels: demo

#2840 human_pose_estimation_3d doc
  demos/README.md
  demos/human_pose_estimation_3d_demo/python/README.md
Labels: documentation

#2889 AC: fix quantization evaluator without adapter
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/quantization_model_evaluator.py
Labels: accuracy checker

#2890 model_tools: update calls of mo and pot executables
  tools/model_tools/src/openvino/model_zoo/omz_converter.py
  tools/model_tools/src/openvino/model_zoo/omz_quantizer.py
Labels: downloader

#2892 GAPI: Returning include to IFD GAPI.
  demos/interactive_face_detection_demo/cpp_gapi/face.hpp
Labels: bug, demo

#2896 G-API: Aligning test cases for g-api demos.
  demos/tests/cases.py
Labels: demo

#2901 demos/image_retrieval: update link to gallery.txt
  demos/image_retrieval_demo/python/README.md
Labels: documentation

#2902 AC: fix initial reshape for dynamic inputs case
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker

#2903 face-detection-adas-0001 interactive_face_detection_demo
  demos/tests/cases.py
Labels: demo

#2844 Introduce FrameworkAdapter
  demos/bert_named_entity_recognition_demo/python/bert_named_entity_recognition_demo.py
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
  demos/bert_question_answering_embedding_demo/python/bert_question_answering_embedding_demo.py
  demos/common/python/helpers.py
  demos/common/python/openvino/model_zoo/model_api/adapters/__init__.py
  demos/common/python/openvino/model_zoo/model_api/adapters/model_adapter.py
  demos/common/python/openvino/model_zoo/model_api/adapters/openvino_adapter.py
  demos/common/python/openvino/model_zoo/model_api/adapters/remote_adapter.py
  demos/common/python/openvino/model_zoo/model_api/models/bert.py
  demos/common/python/openvino/model_zoo/model_api/models/centernet.py
  demos/common/python/openvino/model_zoo/model_api/models/ctpn.py
  demos/common/python/openvino/model_zoo/model_api/models/deblurring.py
  demos/common/python/openvino/model_zoo/model_api/models/detection_model.py
  demos/common/python/openvino/model_zoo/model_api/models/detr.py
  demos/common/python/openvino/model_zoo/model_api/models/faceboxes.py
  demos/common/python/openvino/model_zoo/model_api/models/hpe_associative_embedding.py
  demos/common/python/openvino/model_zoo/model_api/models/image_model.py
  demos/common/python/openvino/model_zoo/model_api/models/model.py
  demos/common/python/openvino/model_zoo/model_api/models/open_pose.py
  demos/common/python/openvino/model_zoo/model_api/models/retinaface.py
  demos/common/python/openvino/model_zoo/model_api/models/segmentation.py
  demos/common/python/openvino/model_zoo/model_api/models/ssd.py
  demos/common/python/openvino/model_zoo/model_api/models/ultra_lightweight_face_detection.py
  demos/common/python/openvino/model_zoo/model_api/models/yolo.py
  demos/common/python/openvino/model_zoo/model_api/pipelines/async_pipeline.py
  demos/deblurring_demo/python/deblurring_demo.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/monodepth_demo/python/monodepth_demo.py
  demos/object_detection_demo/python/object_detection_demo.py
  demos/segmentation_demo/python/segmentation_demo.py
Labels: demo

#2904 AC: support label map from datumaro
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/pascal_voc.py
Labels: accuracy checker

#2906 CONTRIBUTING.md: develop->master
  CONTRIBUTING.md
Labels: documentation

#2908 AC: Fixed max_ind_range configuration in criteo converter
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/criteo_kaggle_dac.py
Labels: accuracy checker, bugfix

#2863 model_tools: update installation section
  tools/model_tools/README.md
Labels: downloader, documentation

#2910 correct output format for classification models
  models/public/dla-34/README.md
  models/public/googlenet-v3-pytorch/README.md
  models/public/googlenet-v3/README.md
  models/public/hbonet-0.25/README.md
  models/public/hbonet-0.5/README.md
  models/public/hbonet-1.0/README.md
  models/public/mobilenet-v1-0.25-128/README.md
  models/public/mobilenet-v1-0.50-160/README.md
  models/public/mobilenet-v1-0.50-224/README.md
  models/public/mobilenet-v1-1.0-224-tf/README.md
  models/public/mobilenet-v2-1.0-224/README.md
  models/public/mobilenet-v2-1.4-224/README.md
  models/public/mobilenet-v2-pytorch/README.md
  models/public/mobilenet-v2/README.md
  models/public/nfnet-f0/README.md
  models/public/regnetx-3.2gf/README.md
  models/public/repvgg-a0/README.md
  models/public/repvgg-b1/README.md
  models/public/repvgg-b3/README.md
  models/public/resnest-50-pytorch/README.md
  models/public/resnet-18-pytorch/README.md
  models/public/resnet-34-pytorch/README.md
  models/public/resnet-50-pytorch/README.md
  models/public/rexnet-v1-x1.0/README.md
  models/public/shufflenet-v2-x1.0/README.md
Labels: model, documentation

#2911 demos/cpp: fix warnings
  demos/common/cpp/monitors/src/cpu_monitor.cpp
  demos/common/cpp/monitors/src/memory_monitor.cpp
  demos/common/cpp/monitors/src/query_wrapper.cpp
  demos/common/cpp/monitors/src/query_wrapper.h
  demos/common/cpp/utils/src/images_capture.cpp
  demos/common/cpp/utils/src/w_dirent.hpp
Labels: demo

#2918 AC: allow resize if impossible extend mask
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/extend_segmentation_mask.py
  tools/accuracy_checker/tests/test_postprocessor.py
Labels: accuracy checker

#2920 AC: support different image types in voc segmentation
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/pascal_voc.py
Labels: accuracy checker

#2921 AC: fix segmentation masks in postprocessing
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/pascal_voc.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/postprocessor/extend_segmentation_mask.py
Labels: accuracy checker

#2928 AC: Added support for ssd-vgg model
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/ssd.py
Labels: accuracy checker, documentation

#2880 AC: Refactoring custom evaluators (models part)
  models/intel/formula-recognition-medium-scan-0001/accuracy-check.yml
  models/intel/formula-recognition-polynomials-handwritten-0001/accuracy-check.yml
  models/intel/text-recognition-0015/accuracy-check.yml
  models/intel/text-recognition-0016/accuracy-check.yml
  models/intel/text-spotting-0005/accuracy-check.yml
  models/intel/text-to-speech-en-0001/accuracy-check.yml
  models/intel/text-to-speech-en-multi-0001/accuracy-check.yml
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/audio_recognition.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_custom_encoder_decoder_joint.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/segnet_background_matting.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
Labels: accuracy checker, model, refactoring

#2932 AC: minor fixes
  tools/accuracy_checker/openvino/tools/accuracy_checker/argparser.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher_config.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
Labels: accuracy checker, refactoring

#2934 AC: fix for unknown lauouts pattern
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/input_feeder.py
Labels: accuracy checker

#2936 AC: fix prefix path if provided file
  tools/accuracy_checker/openvino/tools/accuracy_checker/config/config_reader.py
Labels: accuracy checker

#2915 GAPI: Returning include to IFD GAPI. Part 2. The std::map.
  demos/interactive_face_detection_demo/cpp_gapi/face.hpp
  demos/interactive_face_detection_demo/cpp_gapi/visualizer.cpp
  demos/interactive_face_detection_demo/cpp_gapi/visualizer.hpp
Labels: bug, demo

#2939 AC: accept namespace without definitions
  tools/accuracy_checker/openvino/tools/accuracy_checker/config/config_reader.py
Labels: accuracy checker

#2940 AC: fix dynamic shapes template resolving for CHW
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
Labels: accuracy checker

#2941 AC: fix input data providing for tensor
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
Labels: accuracy checker

#2942 AC: update imports for openvino 2.0
  tools/accuracy_checker/.pylintrc
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
Labels: accuracy checker

#2943 AC: fix ner adapter
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/nlp.py
Labels: accuracy checker
