Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-03, with the labels that each got.

#2146 provide coco labels for different model variants
  data/dataset_classes/coco_80cl.txt
  data/dataset_classes/coco_80cl_bkgr.txt
  data/dataset_classes/coco_91cl.txt
  data/dataset_classes/coco_91cl_bkgr.txt
  demos/tests/cases.py
  models/intel/faster-rcnn-resnet101-coco-sparse-60-0001/description/faster-rcnn-resnet101-coco-sparse-60-0001.md
  models/public/ctdet_coco_dlav0_384/ctdet_coco_dlav0_384.md
  models/public/ctdet_coco_dlav0_512/ctdet_coco_dlav0_512.md
  models/public/efficientdet-d0-tf/efficientdet-d0-tf.md
  models/public/efficientdet-d1-tf/efficientdet-d1-tf.md
  models/public/faster_rcnn_inception_resnet_v2_atrous_coco/faster_rcnn_inception_resnet_v2_atrous_coco.md
  models/public/faster_rcnn_inception_v2_coco/faster_rcnn_inception_v2_coco.md
  models/public/faster_rcnn_resnet101_coco/faster_rcnn_resnet101_coco.md
  models/public/faster_rcnn_resnet50_coco/faster_rcnn_resnet50_coco.md
  models/public/pelee-coco/pelee-coco.md
  models/public/retinanet-tf/retinanet-tf.md
  models/public/rfcn-resnet101-coco-tf/rfcn-resnet101-coco-tf.md
  models/public/ssd-resnet34-1200-onnx/ssd-resnet34-1200-onnx.md
  models/public/ssd_mobilenet_v1_coco/ssd_mobilenet_v1_coco.md
  models/public/ssd_mobilenet_v1_fpn_coco/ssd_mobilenet_v1_fpn_coco.md
  models/public/ssd_mobilenet_v2_coco/ssd_mobilenet_v2_coco.md
  models/public/ssd_resnet50_v1_fpn_coco/ssd_resnet50_v1_fpn_coco.md
  models/public/ssdlite_mobilenet_v2/ssdlite_mobilenet_v2.md
  models/public/yolo-v2-tf/yolo-v2-tf.md
  models/public/yolo-v2-tiny-tf/yolo-v2-tiny-tf.md
  models/public/yolo-v3-tf/yolo-v3-tf.md
  models/public/yolo-v3-tiny-tf/yolo-v3-tiny-tf.md
  models/public/yolo-v4-tf/yolo-v4-tf.md
Labels: documentation

#2162 demos: fix instance segmentation demo for yolact
  demos/instance_segmentation_demo/python/instance_segmentation_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo/model_utils.py
Labels: bugfix, demo

#2155 AC: Added adapter for Ultra-Lightweight Face Detection models
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
Labels: accuracy checker

#2164 AC fix batch in model
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
Labels: accuracy checker, bugfix

#2165 AC: fix text-to-speech quantization pipeline
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
Labels: accuracy checker, bugfix

#2160 Maskai processing implementation
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/image_processing.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/image_processing.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/super_resolution_converter.py
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/resize.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/preprocessor/resize.py
  tools/accuracy_checker/accuracy_checker/preprocessor/trimap.py
  tools/accuracy_checker/accuracy_checker/representation/image_processing.py
Labels: accuracy checker

#2153 Add CPU performance tuning 'KEY_CPU_THROUGHPUT_STREAMS' to multi_chan…
  demos/multi_channel_common/cpp/graph.cpp
Labels: community contribution

#2172 unify label files names
  data/dataset_classes/aclnet_53cl.txt
  data/dataset_classes/cityscapes_19cl.txt
  data/dataset_classes/voc_20cl.txt
  data/dataset_classes/voc_20cl_bkgr.txt
  models/intel/yolo-v2-ava-0001/description/yolo-v2-ava-0001.md
  models/intel/yolo-v2-ava-sparse-35-0001/description/yolo-v2-ava-sparse-35-0001.md
  models/intel/yolo-v2-ava-sparse-70-0001/description/yolo-v2-ava-sparse-70-0001.md
  models/intel/yolo-v2-tiny-ava-0001/description/yolo-v2-tiny-ava-0001.md
  models/intel/yolo-v2-tiny-ava-sparse-30-0001/description/yolo-v2-tiny-ava-sparse-30-0001.md
  models/intel/yolo-v2-tiny-ava-sparse-60-0001/description/yolo-v2-tiny-ava-sparse-60-0001.md
  models/public/aclnet-int8/aclnet-int8.md
  models/public/aclnet/aclnet.md
  models/public/fastseg-small/fastseg-small.md
  models/public/mobilenet-ssd/mobilenet-ssd.md
  models/public/ssd300/ssd300.md
  models/public/ssd512/ssd512.md
  models/public/yolo-v1-tiny-tf/yolo-v1-tiny-tf.md
Labels: documentation

#2173 camvid classes description
  models/intel/icnet-camvid-ava-0001/description/icnet-camvid-ava-0001.md
  models/intel/icnet-camvid-ava-sparse-30-0001/description/icnet-camvid-ava-sparse-30-0001.md
  models/intel/icnet-camvid-ava-sparse-60-0001/description/icnet-camvid-ava-sparse-60-0001.md
  models/intel/unet-camvid-onnx-0001/description/unet-camvid-onnx-0001.md
Labels: documentation

#2194 Fix Python's object detection demo for support person-detection-0203 model
  demos/common/python/models/ssd.py
Labels: bugfix, demo

#2196 AC: extend info stored in csv result with metric meta and dataset size
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/i3d_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/im2latex_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/module_evaluator.py
  tools/accuracy_checker/accuracy_checker/main.py
Labels: accuracy checker

#2140 AC: support paddle paddle launcher
  tools/accuracy_checker/.pylintrc
  tools/accuracy_checker/README.md
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/__init__.py
  tools/accuracy_checker/accuracy_checker/launcher/pdpd_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/pdpd_launcher_readme.md
  tools/accuracy_checker/data/test_models/samplenet.pdiparams
  tools/accuracy_checker/data/test_models/samplenet.pdmodel
  tools/accuracy_checker/tests/test_pdpd_launcher.py
Labels: accuracy checker, feature

#2199 Enable recursively list dataset files in data_dir subfolders in image_processing annotation converter
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/image_processing.py
Labels: accuracy checker

#2197 person-detection-0106, 0203 and ssd-resnet34-1200-onnx support in object_detection_demo
  demos/common/cpp/models/include/models/detection_model_ssd.h
  demos/common/cpp/models/src/detection_model_ssd.cpp
  demos/object_detection_demo/cpp/models.lst
Labels: demo

#2206 ACLNet update output
  models/public/aclnet/aclnet.md
  models/public/aclnet/model.yml
Labels: documentation

#2205 AC: fix output dtype for crop with scale
  tools/accuracy_checker/accuracy_checker/preprocessor/crop.py
Labels: accuracy checker, bugfix

#2208 AC: remove deprecated np.float usage
  tools/accuracy_checker/accuracy_checker/adapters/centernet.py
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
  tools/accuracy_checker/accuracy_checker/adapters/retinaface.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/oar3d.py
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
Labels: accuracy checker, refactoring

#2207 AC docs: fix converter name in description
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/im2latex.py
Labels: documentation

#2163 Added ultra-lightweight-face-detection models
  demos/common/python/models/__init__.py
  demos/common/python/models/ultra_lightweight_face_detection.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/models.lst
  demos/object_detection_demo/python/object_detection_demo.py
  demos/tests/cases.py
  models/public/index.md
  models/public/ultra-lightweight-face-detection-rfb-320/accuracy-check.yml
  models/public/ultra-lightweight-face-detection-rfb-320/model.yml
  models/public/ultra-lightweight-face-detection-rfb-320/ultra-lightweight-face-detection-rfb-320.md
  models/public/ultra-lightweight-face-detection-slim-320/accuracy-check.yml
  models/public/ultra-lightweight-face-detection-slim-320/model.yml
  models/public/ultra-lightweight-face-detection-slim-320/ultra-lightweight-face-detection-slim-320.md
  tools/accuracy_checker/configs/ultra-lightweight-face-detection-rfb-320.yml
  tools/accuracy_checker/configs/ultra-lightweight-face-detection-slim-320.yml
Labels: demo, model

#2215 AC: fix padding if resize enabled
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
  tools/accuracy_checker/accuracy_checker/postprocessor/resize_segmentation_mask.py
  tools/accuracy_checker/accuracy_checker/preprocessor/geometric_transformations.py
Labels: accuracy checker, bugfix

#2180 Added RepVGG models
  demos/classification_demo/cpp/models.lst
  demos/tests/cases.py
  models/public/index.md
  models/public/repvgg-a0/accuracy-check.yml
  models/public/repvgg-a0/model.yml
  models/public/repvgg-a0/pre-convert.py
  models/public/repvgg-a0/repvgg-a0.md
  models/public/repvgg-b1/accuracy-check.yml
  models/public/repvgg-b1/model.yml
  models/public/repvgg-b1/pre-convert.py
  models/public/repvgg-b1/repvgg-b1.md
  models/public/repvgg-b3/accuracy-check.yml
  models/public/repvgg-b3/model.yml
  models/public/repvgg-b3/pre-convert.py
  models/public/repvgg-b3/repvgg-b3.md
  tools/accuracy_checker/configs/repvgg-a0.yml
  tools/accuracy_checker/configs/repvgg-b1.yml
  tools/accuracy_checker/configs/repvgg-b3.yml
Labels: model

#2213 YOLO-v4-tiny model
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/models.lst
  demos/tests/cases.py
  models/public/index.md
  models/public/yolo-v4-tiny-tf/accuracy-check.yml
  models/public/yolo-v4-tiny-tf/model.yml
  models/public/yolo-v4-tiny-tf/pre-convert.py
  models/public/yolo-v4-tiny-tf/yolo-v4-tiny-tf.md
Labels: demo, model

#2250 AC: Imagenet converter behaviour for custom labels
  tools/accuracy_checker/accuracy_checker/annotation_converters/imagenet.py
Labels: accuracy checker, bugfix

#2218 Added NFNet F0 model
  demos/classification_demo/cpp/models.lst
  models/public/index.md
  models/public/licenses/APACHE-2.0-PyTorch-Image-Models.txt
  models/public/nfnet-f0/accuracy-check.yml
  models/public/nfnet-f0/model.py
  models/public/nfnet-f0/model.yml
  models/public/nfnet-f0/nfnet-f0.md
  tools/accuracy_checker/configs/nfnet-f0.yml
  tools/downloader/requirements-pytorch.in
Labels: model

#2228 add F3Net model to OMZ
  data/dataset_definitions.yml
  demos/common/python/models/__init__.py
  demos/common/python/models/segmentation.py
  demos/segmentation_demo/python/README.md
  demos/segmentation_demo/python/models.lst
  demos/segmentation_demo/python/segmentation_demo.py
  demos/tests/cases.py
  models/public/f3net/accuracy-check.yml
  models/public/f3net/f3net.md
  models/public/f3net/model.py
  models/public/f3net/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/f3net.yml
  tools/downloader/README.md
  tools/downloader/common.py
Labels: demo, model

#2256 AC: support tacotron2
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/tacotron2_test_data_converter.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/README.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/accuracy_checker/metrics/regression.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, feature

#2258 AC: allow postpone dataset loading
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/postprocessor/encode_segmentation_mask.py
  tools/accuracy_checker/tests/test_config_validator.py
Labels: accuracy checker, feature
