Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-10, with the labels that each got.

#2797 AC: support sentence similarity benchmarking
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/reidentification.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/sentence_similarity.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/dataset.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/metrics/reid.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/representation/nlp_representation.py
Labels: accuracy checker, documentation

#2798 AC: support reading npz data for speech regression pipeline
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/kaldi_speech_recognition_pipeline.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/numpy_readers.py
Labels: accuracy checker, documentation

#2800 AC: update convert for STS-B
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/sentence_similarity.py
Labels: accuracy checker

#2801 Python demos: minor fixes
  demos/common/python/openvino/model_zoo/model_api/models/ctpn.py
  demos/common/python/openvino/model_zoo/model_api/models/deblurring.py
  demos/common/python/openvino/model_zoo/model_api/models/hpe_associative_embedding.py
  demos/common/python/openvino/model_zoo/model_api/models/image_model.py
  demos/common/python/openvino/model_zoo/model_api/models/model.py
  demos/common/python/openvino/model_zoo/model_api/models/open_pose.py
  demos/common/python/openvino/model_zoo/model_api/models/ssd.py
  demos/common/python/openvino/model_zoo/model_api/models/yolo.py
  demos/gpt2_text_prediction_demo/python/README.md
  demos/gpt2_text_prediction_demo/python/gpt2_text_prediction_demo.py
  demos/tests/cases.py
  demos/whiteboard_inpainting_demo/python/cityscapes_labels.txt
  demos/whiteboard_inpainting_demo/python/coco_labels.txt
  demos/whiteboard_inpainting_demo/python/whiteboard_inpainting_demo.py
Labels: demo, documentation

#2779 [Tests] Set precisions for model testing via --precisions parameter
  demos/tests/args.py
  demos/tests/cases.py
  demos/tests/run_tests.py
Labels: demo

#2657 G-API. Face detection MTCNN demo.
  demos/README.md
  demos/face_detection_mtcnn_demo/cpp_gapi/CMakeLists.txt
  demos/face_detection_mtcnn_demo/cpp_gapi/README.md
  demos/face_detection_mtcnn_demo/cpp_gapi/face_detection_mtcnn_demo.hpp
  demos/face_detection_mtcnn_demo/cpp_gapi/fdmtcnn.jpg
  demos/face_detection_mtcnn_demo/cpp_gapi/include/custom_kernels.hpp
  demos/face_detection_mtcnn_demo/cpp_gapi/include/stream_source.hpp
  demos/face_detection_mtcnn_demo/cpp_gapi/include/utils.hpp
  demos/face_detection_mtcnn_demo/cpp_gapi/main.cpp
  demos/face_detection_mtcnn_demo/cpp_gapi/models.lst
  demos/face_detection_mtcnn_demo/cpp_gapi/src/custom_kernels.cpp
  demos/gaze_estimation_demo/cpp_gapi/src/custom_kernels.cpp
  demos/gaze_estimation_demo/cpp_gapi/src/results_marker.cpp
  demos/interactive_face_detection_demo/cpp_gapi/main.cpp
  demos/smart_classroom_demo/cpp_gapi/include/initialize.hpp
  demos/smart_classroom_demo/cpp_gapi/src/custom_kernels.cpp
  demos/tests/cases.py
Labels: demo, refactoring, documentation

#2807 AC: remove all mentions about FPGA
  tools/accuracy_checker/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher_config.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher_readme.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/main.py
  tools/accuracy_checker/tests/test_config_reader.py
  tools/accuracy_checker/tests/test_dlsdk_launcher.py
Labels: accuracy checker, documentation

#2808 AC: skip G-API launcher tests if opencv without OV
  tools/accuracy_checker/tests/test_gapi_launcher.py
Labels: accuracy checker
