Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-01, with the labels that each got.

#1891 Normalize arXiv links
  models/public/aclnet/aclnet.md
  models/public/aclnet/model.yml
  models/public/cocosnet/cocosnet.md
  models/public/cocosnet/model.yml
  models/public/faceboxes-pytorch/faceboxes-pytorch.md
  models/public/faceboxes-pytorch/model.yml
  models/public/fast-neural-style-mosaic-onnx/fast-neural-style-mosaic-onnx.md
  models/public/fast-neural-style-mosaic-onnx/model.yml
  models/public/faster_rcnn_inception_resnet_v2_atrous_coco/faster_rcnn_inception_resnet_v2_atrous_coco.md
  models/public/faster_rcnn_inception_resnet_v2_atrous_coco/model.yml
  models/public/faster_rcnn_inception_v2_coco/faster_rcnn_inception_v2_coco.md
  models/public/faster_rcnn_inception_v2_coco/model.yml
  models/public/faster_rcnn_resnet101_coco/faster_rcnn_resnet101_coco.md
  models/public/faster_rcnn_resnet101_coco/model.yml
  models/public/faster_rcnn_resnet50_coco/faster_rcnn_resnet50_coco.md
  models/public/faster_rcnn_resnet50_coco/model.yml
  models/public/forward-tacotron/description/forward-tacotron.md
  models/public/mobilefacedet-v1-mxnet/mobilefacedet-v1-mxnet.md
  models/public/mobilefacedet-v1-mxnet/model.yml
  models/public/pelee-coco/model.yml
  models/public/pelee-coco/pelee-coco.md
  models/public/resnest-50-pytorch/model.yml
  models/public/resnest-50-pytorch/resnest-50-pytorch.md
  models/public/shufflenet-v2-x1.0/model.yml
  models/public/shufflenet-v2-x1.0/shufflenet-v2-x1.0.md
  models/public/wavernn/description/wavernn.md
  tools/accuracy_checker/accuracy_checker/metrics/README.md
Labels: documentation

#1964 AC: config validation API
  tools/accuracy_checker/accuracy_checker/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/action_recognition.py
  tools/accuracy_checker/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/accuracy_checker/adapters/attribute_classification.py
  tools/accuracy_checker/accuracy_checker/adapters/attributes_recognition.py
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
  tools/accuracy_checker/accuracy_checker/adapters/image_processing.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation_3d.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation_associative_embedding.py
  tools/accuracy_checker/accuracy_checker/adapters/pose_estimation_openpose.py
  tools/accuracy_checker/accuracy_checker/adapters/segmentation.py
  tools/accuracy_checker/accuracy_checker/adapters/ssd.py
  tools/accuracy_checker/accuracy_checker/adapters/text_detection.py
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
  tools/accuracy_checker/accuracy_checker/adapters/yolo.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/format_converter.py
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/caffe_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_config.py
  tools/accuracy_checker/accuracy_checker/launcher/dummy_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/mxnet_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/onnx_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/opencv_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/pytorch_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/tf_lite_launcher.py
  tools/accuracy_checker/accuracy_checker/metrics/metric.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/accuracy_checker/metrics/multilabel_recognition.py
  tools/accuracy_checker/accuracy_checker/postprocessor/postprocessing_executor.py
  tools/accuracy_checker/accuracy_checker/postprocessor/postprocessor.py
  tools/accuracy_checker/accuracy_checker/preprocessor/preprocessing_executor.py
  tools/accuracy_checker/accuracy_checker/preprocessor/preprocessor.py
  tools/accuracy_checker/tests/test_config_validator.py
Labels: accuracy checker, feature, refactoring

#1972 AC: fix data reader with empty configuration
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
Labels: accuracy checker, bugfix

#1976 AC: Replace use of os.path with pathlib, fix im2latex metric calculation on Linux
  tools/accuracy_checker/accuracy_checker/metrics/im2latex_images_match.py
Labels: accuracy checker, bugfix, refactoring

#1980 Updated accuracy value for midasnet model
  models/public/index.md
  models/public/midasnet/midasnet.md
Labels: bugfix, documentation

#1974 Fix bug of colorization demo for siggraph model
  demos/python_demos/colorization_demo/colorization_demo.py
  models/public/colorization-siggraph/accuracy-check.yml
  models/public/colorization-siggraph/colorization-siggraph.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
Labels: bugfix, demo

#1984 AC: fix uri tracing
  tools/accuracy_checker/accuracy_checker/annotation_converters/format_converter.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/mxnet_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/opencv_launcher.py
  tools/accuracy_checker/accuracy_checker/metrics/metric.py
  tools/accuracy_checker/accuracy_checker/postprocessor/postprocessor.py
  tools/accuracy_checker/accuracy_checker/preprocessor/preprocessor.py
  tools/accuracy_checker/tests/test_config_validator.py
Labels: accuracy checker, bugfix

#1967 Add RegNetX-3.2GF model
  ci/requirements-conversion.txt
  demos/classification_demo/models.lst
  models/public/index.md
  models/public/regnetx-3.2gf/accuracy-check.yml
  models/public/regnetx-3.2gf/model.yml
  models/public/regnetx-3.2gf/regnetx-3.2gf.md
  tools/accuracy_checker/configs/regnetx-3.2gf.yml
  tools/downloader/requirements-pytorch.in
Labels: model

#1987 AC: support named entity recognition pipeline
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/nlp.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/ner.py
  tools/accuracy_checker/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/accuracy_checker/representation/classification_representation.py
  tools/accuracy_checker/accuracy_checker/representation/nlp_representation.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, feature

#1989 AC: fix semantic segmentation adapter for 3D segmentation
  tools/accuracy_checker/accuracy_checker/adapters/segmentation.py
Labels: accuracy checker, bugfix

#1991 AC: Aligned name in AC configs, removed unnecessary sections
  models/intel/horizontal-text-detection-0001/accuracy-check.yml
  models/intel/person-detection-action-recognition-0005/accuracy-check.yml
  models/intel/product-detection-0001/accuracy-check.yml
  models/public/face-recognition-resnet34-arcface/accuracy-check.yml
  models/public/fast-neural-style-mosaic-onnx/accuracy-check.yml
  models/public/i3d-rgb-tf/accuracy-check.yml
  models/public/mobilenet-v1-0.50-224/accuracy-check.yml
  models/public/mozilla-deepspeech-0.6.1/accuracy-check.yml
  models/public/octave-resnext-50-0.25/accuracy-check.yml
  models/public/resnet-18-pytorch/accuracy-check.yml
  models/public/yolo-v1-tiny-tf/accuracy-check.yml
  models/public/yolo-v2-tiny-tf/accuracy-check.yml
  models/public/yolo-v3-tiny-tf/accuracy-check.yml
  models/public/yolo-v4-tf/accuracy-check.yml
Labels: accuracy checker

#2005 AC: allow const input filling with numiric value
  models/public/colorization-siggraph/accuracy-check.yml
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
Labels: accuracy checker, feature

#2012 AC: Absolute paths are replaced by relative paths during pickle saving
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/config/config_validator.py
Labels: accuracy checker

#2009 Updated audio normalization for sound classificaton demo
  demos/sound_classification_demo/python/README.md
  demos/sound_classification_demo/python/sound_classification_demo.py
Labels: bugfix, demo

#1990 Color palette for cpp object detection demo
  demos/object_detection_demo/cpp/main.cpp
Labels: demo

#2019 AC: fix storing conversion meta if multiple path provided
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker, bugfix

#1983 cpp object detection demo: wrapper for centernet models
  demos/common/cpp/models/include/models/detection_model_centernet.h
  demos/common/cpp/models/src/detection_model_centernet.cpp
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/cpp/main.cpp
  demos/object_detection_demo/cpp/models.lst
  demos/tests/cases.py
Labels: demo

#2026 fix input/output names for emotion recognition model
  models/intel/emotions-recognition-retail-0003/description/emotions-recognition-retail-0003.md
Labels: documentation

#1982 Add fastseg-small, fastseg-large models
  data/dataset_definitions.yml
  demos/segmentation_demo/cpp/models.lst
  demos/segmentation_demo/python/models.lst
  demos/tests/cases.py
  models/public/fastseg-large/accuracy-check.yml
  models/public/fastseg-large/fastseg-large.md
  models/public/fastseg-large/model.yml
  models/public/fastseg-large/pre-convert.py
  models/public/fastseg-small/accuracy-check.yml
  models/public/fastseg-small/fastseg-small.md
  models/public/fastseg-small/model.yml
  models/public/fastseg-small/pre-convert.py
  models/public/index.md
  tools/accuracy_checker/configs/fastseg-large.yml
  tools/accuracy_checker/configs/fastseg-small.yml
Labels: model

#2028 AC: fix annotation conversion via command line
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
Labels: accuracy checker, bugfix

#1962 cpp object detection demo: add wrapper for retinaface models
  demos/common/cpp/models/include/models/detection_model_retinaface.h
  demos/common/cpp/models/include/models/results.h
  demos/common/cpp/models/src/detection_model_retinaface.cpp
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/cpp/main.cpp
  demos/object_detection_demo/cpp/models.lst
  demos/tests/cases.py
Labels: demo

#2030 AC: fix ID search logic for super resolution directory based conversion
  tools/accuracy_checker/accuracy_checker/annotation_converters/super_resolution_converter.py
Labels: accuracy checker, bugfix

#1993 Mzuevx/rnnt evaluator
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/audio_recognition.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/librispeech.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/README.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing.py
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing_ext.py
Labels: accuracy checker, feature

#1796 Vloginov/interactive formula recognition demo
  demos/formula_recognition_demo/python/README.md
  demos/formula_recognition_demo/python/formula_recognition_demo.py
  demos/formula_recognition_demo/python/formula_recognition_demo/demo_intro.gif
  demos/formula_recognition_demo/python/formula_recognition_demo/interactive_interface.png
  demos/formula_recognition_demo/python/formula_recognition_demo/requirements.txt
  demos/formula_recognition_demo/python/utils.py
Labels: demo
