Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-05, with the labels that each got.

#2366 AC: support image processing with variable parameters
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/image_processing.py
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/input_feeder.py
  tools/accuracy_checker/accuracy_checker/preprocessor/normalization.py
  tools/accuracy_checker/tests/test_preprocessor.py
Labels: accuracy checker

#2371 AC: fix VIF metric
  tools/accuracy_checker/accuracy_checker/metrics/image_quality_assessment.py
Labels: accuracy checker, bugfix

#2377 fix vector presenter 0-dim arrays
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker, bugfix

#2370 AC: improve kaldi models support
  tools/accuracy_checker/accuracy_checker/adapters/adapter.py
  tools/accuracy_checker/accuracy_checker/adapters/kaldi_asr_decoder.py
  tools/accuracy_checker/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/launcher/launcher.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/metric.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/accuracy_checker/presenters.py
  tools/accuracy_checker/tests/test_metric_evaluator.py
  tools/accuracy_checker/tests/test_presenter.py
  tools/accuracy_checker/tests/test_regression_metrics.py
  tools/accuracy_checker/tests/test_segmentation_metrics.py
Labels: accuracy checker

#2159 Option to specify demos to build in build scripts
  demos/README.md
  demos/build_demos.sh
  demos/build_demos_msvc.bat
Labels: demo, feature

#2381 AC: change default value for thresholds
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker

#2333 AC: Added converter from YOLO labeling format to DetectionAnnotation
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/yolo_labeling_converter.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker

#2384 Modify interactive_face_detection_demo
  demos/interactive_face_detection_demo/cpp/detectors.cpp
  demos/interactive_face_detection_demo/cpp_gapi/README.md
  demos/interactive_face_detection_demo/cpp_gapi/interactive_face_detection_gapi.hpp
  demos/interactive_face_detection_demo/cpp_gapi/main.cpp
  demos/object_detection_demo/python/README.md
Labels: demo

#2367 update OMZ 2021.4 documentation
  README.md
  demos/3d_segmentation_demo/python/README.md
  demos/README.md
  demos/action_recognition_demo/python/README.md
  demos/bert_named_entity_recognition_demo/python/README.md
  demos/bert_question_answering_demo/python/README.md
  demos/bert_question_answering_embedding_demo/python/README.md
  demos/classification_demo/cpp/README.md
  demos/colorization_demo/python/README.md
  demos/crossroad_camera_demo/cpp/README.md
  demos/deblurring_demo/python/README.md
  demos/face_detection_mtcnn_demo/python/README.md
  demos/formula_recognition_demo/python/README.md
  demos/gaze_estimation_demo/cpp/README.md
  demos/gesture_recognition_demo/python/README.md
  demos/handwritten_text_recognition_demo/python/README.md
  demos/human_pose_estimation_3d_demo/python/README.md
  demos/human_pose_estimation_demo/cpp/README.md
  demos/human_pose_estimation_demo/python/README.md
  demos/image_inpainting_demo/python/README.md
  demos/image_inpainting_demo/python/car_1_example.png
  demos/image_inpainting_demo/python/image_inpainting_demo.py
  demos/image_retrieval_demo/python/README.md
  demos/image_translation_demo/python/README.md
  demos/instance_segmentation_demo/python/README.md
  demos/interactive_face_detection_demo/cpp/README.md
  demos/interactive_face_detection_demo/cpp_gapi/README.md
  demos/machine_translation_demo/python/README.md
  demos/mask_rcnn_demo/cpp/README.md
  demos/monodepth_demo/python/README.md
  demos/monodepth_demo/python/disp.png
  demos/multi_camera_multi_target_tracking_demo/python/README.md
  demos/multi_channel_face_detection_demo/cpp/README.md
  demos/multi_channel_human_pose_estimation_demo/cpp/README.md
  demos/multi_channel_object_detection_demo_yolov3/cpp/README.md
  demos/object_detection_demo/cpp/README.md
  demos/object_detection_demo/python/README.md
  demos/pedestrian_tracker_demo/cpp/README.md
  demos/place_recognition_demo/python/README.md
  demos/security_barrier_camera_demo/cpp/README.md
  demos/segmentation_demo/cpp/README.md
  demos/segmentation_demo/python/README.md
  demos/single_human_pose_estimation_demo/python/README.md
  demos/smart_classroom_demo/cpp/README.md
  demos/sound_classification_demo/python/README.md
  demos/speech_recognition_demo/python/README.md
  demos/speech_recognition_offline_demo/python/README.md
  demos/super_resolution_demo/cpp/README.md
  demos/text_detection_demo/cpp/README.md
  demos/text_detection_demo/cpp/models.lst
  demos/text_detection_demo/cpp/text_detection_demo.jpg
  demos/text_spotting_demo/python/README.md
  demos/text_spotting_demo/python/text_spotting_demo.jpg
  demos/text_to_speech_demo/python/README.md
  demos/whiteboard_inpainting_demo/python/README.md
  models/intel/device_support.md
  models/intel/index.md
  models/public/device_support.md
  models/public/index.md
Labels: documentation

#2382 Modify machine_translation_demo
  demos/machine_translation_demo/python/README.md
  demos/machine_translation_demo/python/machine_translation_demo.py
Labels: demo

#2393 Changed yolo-v4-tf model to tf2
  models/public/index.md
  models/public/yolo-v4-tf/README.md
  models/public/yolo-v4-tf/accuracy-check.yml
  models/public/yolo-v4-tf/model.yml
  models/public/yolo-v4-tf/pre-convert.py
Labels: model

#2400 AC: Fixed nyu_depth_v2 converter
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/nyu_depth.py
Labels: accuracy checker, bugfix

#2402 AC: update framework installation readmes
  tools/accuracy_checker/README.md
  tools/accuracy_checker/accuracy_checker/launcher/caffe_installation_readme.md
Labels: accuracy checker, documentation

#2401 AC: move LPIPS installation check before configuration
  tools/accuracy_checker/accuracy_checker/metrics/image_quality_assessment.py
Labels: accuracy checker, refactoring

#2405 AC: Fixed continuous_clip_action_recognition to process images without img_ prefix
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/ms_asl_continuous.py
Labels: accuracy checker

#2362 Sb/time series checker
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/time_series.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/electricity_time_series_forecasting.py
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/__init__.py
  tools/accuracy_checker/accuracy_checker/metrics/time_series.py
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/__init__.py
  tools/accuracy_checker/accuracy_checker/postprocessor/time_series_denormalize.py
  tools/accuracy_checker/accuracy_checker/representation/__init__.py
  tools/accuracy_checker/accuracy_checker/representation/time_series_representation.py
  tools/accuracy_checker/requirements.in
Labels: accuracy checker

#2409 AC: make optional packages optional
  tools/accuracy_checker/accuracy_checker/annotation_converters/electricity_time_series_forecasting.py
Labels: accuracy checker, refactoring

#2410 AC: Updated README for metrics
  tools/accuracy_checker/accuracy_checker/metrics/README.md
Labels: accuracy checker, documentation

#2383 Sb/time series electricity 0001
  data/dataset_definitions.yml
  demos/README.md
  demos/machine_translation_demo/python/README.md
  demos/time_series_forecasting_demo/python/README.md
  demos/time_series_forecasting_demo/python/models.lst
  demos/time_series_forecasting_demo/python/requirements.txt
  demos/time_series_forecasting_demo/python/time_series_forecasting_demo.py
  models/intel/index.md
  models/intel/time-series-forecasting-electricity-0001/README.md
  models/intel/time-series-forecasting-electricity-0001/accuracy-check.yml
Labels: demo, model

#2404 Text spotting 0005
  demos/text_spotting_demo/python/README.md
  models/intel/device_support.md
  models/intel/index.md
  models/intel/text-spotting-0005/README.md
  models/intel/text-spotting-0005/accuracy-check.yml
  models/intel/text-spotting-0005/assets/text-spotting-0005.png
  models/intel/text-spotting-0005/composite-model.yml
  tools/accuracy_checker/configs/text-spotting-0005.yml
Labels: model

#2398 Adds the common-sign-language-0002 model
  data/dataset_classes/common_sign_language12.json
  data/dataset_definitions.yml
  demos/gesture_recognition_demo/python/README.md
  models/intel/common-sign-language-0002/README.md
  models/intel/common-sign-language-0002/accuracy-check.yml
  models/intel/index.md
  tools/accuracy_checker/configs/common-sign-language-0002.yml
Labels: model

#2403 Add text recognition 0014 and 0015 models
  models/intel/formula-recognition-medium-scan-0001/accuracy-check.yml
  models/intel/formula-recognition-polynomials-handwritten-0001/accuracy-check.yml
  models/intel/index.md
  models/intel/text-recognition-0014/README.md
  models/intel/text-recognition-0014/accuracy-check.yml
  models/intel/text-recognition-0014/assets/openvino.jpg
  models/intel/text-recognition-0015/README.md
  models/intel/text-recognition-0015/accuracy-check.yml
  models/intel/text-recognition-0015/assets/openvino.jpg
  models/intel/text-recognition-0015/composite-model.yml
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/README.md
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
Labels: model

#2424 AC: Fixed link to docs for cvat xml_format in converter README
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
Labels: accuracy checker, documentation

#2426 AC: fix for grayscale gt for image processing
  tools/accuracy_checker/accuracy_checker/metrics/image_quality_assessment.py
  tools/accuracy_checker/accuracy_checker/representation/image_processing.py
Labels: accuracy checker, bugfix

#2427 AC: improve mnist dataset support
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/cifar.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/fashion_mnist.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/mnist.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker

#2423 AC: Added LabelMe converter to DetectionAnnotation and SegmentationAnnotation
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/label_me_converter.py
Labels: accuracy checker

#2434 AC: Updated yolo_labeling converter
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/yolo_labeling_converter.py
Labels: accuracy checker

#2432 AC: add memory resetting option
  tools/accuracy_checker/accuracy_checker/adapters/kaldi_asr_decoder.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/metrics/speech_recognition.py
Labels: accuracy checker

#2436 Updated documentation for AC
  tools/accuracy_checker/README.md
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/accuracy_checker/launcher/caffe_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/mxnet_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/onnx_runtime_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/opencv_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/pdpd_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/pytorch_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/tf2_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/tf_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/launcher/tf_lite_launcher_readme.md
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
Labels: accuracy checker, documentation

#1359 Add classification model MixNet-L
  demos/classification_demo/cpp/models.lst
  demos/tests/cases.py
  models/public/index.md
  models/public/mixnet-l/README.md
  models/public/mixnet-l/accuracy-check.yml
  models/public/mixnet-l/model.yml
  tools/accuracy_checker/configs/mixnet-l.yml
Labels: model

#2391 add dns-poconet-like-0001 model
  data/dataset_definitions.yml
  demos/README.md
  demos/noise_suppression_demo/python/README.md
  demos/noise_suppression_demo/python/models.lst
  demos/noise_suppression_demo/python/noise_suppression_demo.py
  models/intel/index.md
  models/intel/noise-suppression-poconetlike-0001/README.md
  models/intel/noise-suppression-poconetlike-0001/accuracy-check.yml
  tools/accuracy_checker/configs/noise-suppression-poconetlike-0001.yml
Labels: demo, model

#2353 Sb/machine translation en de 0002
  models/intel/index.md
  models/intel/machine-translation-nar-de-en-0002/README.md
  models/intel/machine-translation-nar-de-en-0002/accuracy-check.yml
  models/intel/machine-translation-nar-de-en-0002/tokenizer_src/merges.txt
  models/intel/machine-translation-nar-de-en-0002/tokenizer_src/vocab.json
  models/intel/machine-translation-nar-de-en-0002/tokenizer_tgt/merges.txt
  models/intel/machine-translation-nar-de-en-0002/tokenizer_tgt/vocab.json
  models/intel/machine-translation-nar-en-de-0002/README.md
  models/intel/machine-translation-nar-en-de-0002/accuracy-check.yml
  models/intel/machine-translation-nar-en-de-0002/tokenizer_src/merges.txt
  models/intel/machine-translation-nar-en-de-0002/tokenizer_src/vocab.json
  models/intel/machine-translation-nar-en-de-0002/tokenizer_tgt/merges.txt
  models/intel/machine-translation-nar-en-de-0002/tokenizer_tgt/vocab.json
Labels: demo, model

#2445 AC: fix identificator
  tools/accuracy_checker/accuracy_checker/annotation_converters/dataset_folder.py
Labels: accuracy checker, bugfix

#2411 Added BERT-* models in demo testing
  demos/tests/cases.py
Labels: demo

#2336 Add telemetry to model downloader
  tools/downloader/src/open_model_zoo/model_tools/_common.py
  tools/downloader/src/open_model_zoo/model_tools/converter.py
  tools/downloader/src/open_model_zoo/model_tools/downloader.py
  tools/downloader/src/open_model_zoo/model_tools/quantizer.py
Labels: downloader

#2376 AC: telemetry
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/dataset.py
  tools/accuracy_checker/accuracy_checker/evaluators/base_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/module_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/utils.py
Labels: accuracy checker

#2450 AC: pillow reading with explicit conversion to RGB for SR models
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/image_processing.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/super_resolution_converter.py
  tools/accuracy_checker/accuracy_checker/main.py
  tools/accuracy_checker/accuracy_checker/representation/image_processing.py
Labels: accuracy checker

#2417 update text detection demo
  demos/common/cpp/utils/include/utils/ocv_common.hpp
  demos/text_detection_demo/cpp/README.md
  demos/text_detection_demo/cpp/include/cnn.hpp
  demos/text_detection_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/src/cnn.cpp
  demos/text_detection_demo/cpp/text_detection_demo.hpp
  models/intel/text-recognition-0014/README.md
  models/intel/text-recognition-0015/README.md
Labels: demo
