Repository openvinotoolkit/open_model_zoo, pull requests merged in 2021-07, with the labels that each got.

#2543 Added DETR ResNet50 model
  demos/common/python/models/__init__.py
  demos/common/python/models/detr.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/models.lst
  demos/object_detection_demo/python/object_detection_demo.py
  demos/tests/cases.py
  models/public/detr-resnet50/README.md
  models/public/detr-resnet50/accuracy-check.yml
  models/public/detr-resnet50/model.py
  models/public/detr-resnet50/model.yml
  models/public/device_support.md
  models/public/index.md
  models/public/licenses/APACHE-2.0-FacebookResearch.txt
  tools/accuracy_checker/accuracy_checker/adapters/detection.py
  tools/accuracy_checker/configs/detr-resnet50.yml
Labels: model

#2508 Added DRN-D-38 model
  data/dataset_classes/cityscapes_19cl.txt
  demos/segmentation_demo/cpp/README.md
  demos/segmentation_demo/cpp/models.lst
  demos/segmentation_demo/python/README.md
  demos/segmentation_demo/python/models.lst
  demos/tests/cases.py
  models/public/device_support.md
  models/public/drn-d-38/README.md
  models/public/drn-d-38/accuracy-check.yml
  models/public/drn-d-38/model.py
  models/public/drn-d-38/model.yml
  models/public/index.md
  tools/accuracy_checker/configs/drn-d-38.yml
Labels: model

#2568 Python demos: add "Required" to parameters helping messages
  demos/handwritten_text_recognition_demo/python/README.md
  demos/handwritten_text_recognition_demo/python/handwritten_text_recognition_demo.py
  demos/image_inpainting_demo/python/README.md
  demos/image_inpainting_demo/python/image_inpainting_demo.py
  demos/multi_camera_multi_target_tracking_demo/python/README.md
  demos/multi_camera_multi_target_tracking_demo/python/multi_camera_multi_target_tracking_demo.py
  demos/segmentation_demo/python/README.md
  demos/segmentation_demo/python/segmentation_demo.py
  demos/speech_recognition_deepspeech_demo/python/README.md
  demos/speech_recognition_deepspeech_demo/python/speech_recognition_deepspeech_demo.py
  demos/speech_recognition_quartznet_demo/python/README.md
  demos/speech_recognition_quartznet_demo/python/speech_recognition_quartznet_demo.py
  demos/tests/cases.py
  demos/text_to_speech_demo/python/README.md
  demos/text_to_speech_demo/python/text_to_speech_demo.py
  demos/time_series_forecasting_demo/python/time_series_forecasting_demo.py
Labels: demo

#2569 AC: Updated classification_f1-score metric for MRPC task
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/classification.py
Labels: accuracy checker

#2577 AC: fix argument name for sending
  tools/accuracy_checker/accuracy_checker/main.py
Labels: accuracy checker, bugfix

#2575 AC: support segnet model
  tools/accuracy_checker/accuracy_checker/adapters/segmentation.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/README.md
  tools/accuracy_checker/accuracy_checker/annotation_converters/__init__.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/background_matting.py
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/accuracy_checker/data_readers/annotation_readers.py
  tools/accuracy_checker/accuracy_checker/data_readers/audio_readers.py
  tools/accuracy_checker/accuracy_checker/data_readers/binary_data_readers.py
  tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/accuracy_checker/data_readers/image_readers.py
  tools/accuracy_checker/accuracy_checker/data_readers/medical_imaging_readers.py
  tools/accuracy_checker/accuracy_checker/data_readers/numpy_readers.py
  tools/accuracy_checker/accuracy_checker/data_readers/text_readers.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/segnet_background_matting.py
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
Labels: accuracy checker

#2574 Calculate MAE and MSE as float to prevent integer overflows
  tools/accuracy_checker/accuracy_checker/metrics/regression.py
Labels: accuracy checker

#2578 AC: support reference values per class
  tools/accuracy_checker/accuracy_checker/metrics/README.md
  tools/accuracy_checker/accuracy_checker/metrics/metric.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/accuracy_checker/presenters.py
  tools/accuracy_checker/tests/test_presenter.py
Labels: accuracy checker

#2581 Fix test case for cpp smart classroom demo
  demos/tests/cases.py
Labels: bugfix, demo

#2582 AC: fix metric profiling for detection
  tools/accuracy_checker/accuracy_checker/metrics/coco_metrics.py
  tools/accuracy_checker/accuracy_checker/metrics/detection.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/base_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/object_detection_metric_profiler.py
Labels: accuracy checker, bugfix

#2583 AC: Updated simple_decoder to use for ViTSTR model
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/text_recognition.py
Labels: accuracy checker

#2587 AC: update metric profiler logic
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/base_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/object_detection_metric_profiler.py
Labels: accuracy checker, refactoring

#2588 AC: fix input and output initialization for sequential background mat…
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/segnet_background_matting.py
Labels: accuracy checker, bugfix

#2590 AC: fix missed json reader after refactoring
  tools/accuracy_checker/accuracy_checker/data_readers/__init__.py
Labels: accuracy checker, bugfix

#2591 AC: upd profile report
  tools/accuracy_checker/accuracy_checker/evaluators/custom_evaluators/segnet_background_matting.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_executor.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/base_profiler.py
  tools/accuracy_checker/accuracy_checker/metrics/metric_profiler/object_detection_metric_profiler.py
  tools/accuracy_checker/accuracy_checker/presenters.py
  tools/accuracy_checker/tests/test_presenter.py
  tools/accuracy_checker/tests/test_regression_metrics.py
  tools/accuracy_checker/tests/test_segmentation_metrics.py
Labels: accuracy checker

#2592 AC: add telemetry event for status
  tools/accuracy_checker/accuracy_checker/annotation_converters/convert.py
  tools/accuracy_checker/accuracy_checker/main.py
Labels: accuracy checker

#2585 Added checks for models references in documentation files
  ci/prepare-documentation.py
  demos/classification_demo/cpp/README.md
  demos/multi_channel_object_detection_demo_yolov3/cpp/README.md
  demos/object_detection_demo/cpp/README.md
  demos/text_detection_demo/cpp/README.md
Labels: documentation

#2498 Expand test coverage
  ci/requirements-demos.txt
  demos/formula_recognition_demo/python/utils.py
  demos/requirements.txt
  demos/tests/cases.py
Labels: demo

#2604 AC: handle unexpected device config type for IE
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker, bugfix

#2446 Add suppression list for test cases
  ci/unsupported-devices.txt
  demos/tests/cases.py
  demos/tests/run_tests.py
Labels: demo

#2603 fix object_detection_demo work on hddl
  demos/common/cpp/pipelines/include/pipelines/requests_pool.h
  demos/common/cpp/pipelines/src/async_pipeline.cpp
  demos/common/cpp/pipelines/src/requests_pool.cpp
  demos/object_detection_demo/cpp/main.cpp
Labels: bugfix, demo

#2623 AC: support working with Kaldi nnet3 models with context window
  tools/accuracy_checker/accuracy_checker/adapters/README.md
  tools/accuracy_checker/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/accuracy_checker/adapters/regression.py
  tools/accuracy_checker/accuracy_checker/annotation_converters/kaldi_speech_recognition_pipeline.py
  tools/accuracy_checker/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing_ext.py
Labels: accuracy checker

#2629 AC docs: fix postprocessing documentation
  tools/accuracy_checker/accuracy_checker/postprocessor/README.md
Labels: documentation

#2628 Update YOLO API
  demos/common/python/models/yolo.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/object_detection_demo.py
Labels: demo

#2607 Change how presenter.reportMeans() is printed in python demos.
  demos/action_recognition_demo/python/action_recognition_demo.py
  demos/colorization_demo/python/colorization_demo.py
  demos/deblurring_demo/python/deblurring_demo.py
  demos/face_recognition_demo/python/face_recognition_demo.py
  demos/gesture_recognition_demo/python/gesture_recognition_demo.py
  demos/human_pose_estimation_3d_demo/python/human_pose_estimation_3d_demo.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/image_retrieval_demo/python/image_retrieval_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo.py
  demos/multi_camera_multi_target_tracking_demo/python/multi_camera_multi_target_tracking_demo.py
  demos/object_detection_demo/python/object_detection_demo.py
  demos/place_recognition_demo/python/place_recognition_demo.py
  demos/segmentation_demo/python/segmentation_demo.py
  demos/single_human_pose_estimation_demo/python/single_human_pose_estimation_demo.py
  demos/text_spotting_demo/python/text_spotting_demo.py
  demos/whiteboard_inpainting_demo/python/whiteboard_inpainting_demo.py
Labels: demo

#2596 Add codeowners for dependency track
  CODEOWNERS
Labels: dependencies

#2609 cpp demos: changed getDevices implementation in config factory.
  demos/common/cpp/utils/include/utils/config_factory.h
  demos/common/cpp/utils/src/config_factory.cpp
Labels: demo

#2594 AC: handle undefined input shape provided in IR
  tools/accuracy_checker/accuracy_checker/__init__.py
  tools/accuracy_checker/accuracy_checker/evaluators/model_evaluator.py
  tools/accuracy_checker/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher_config.py
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing.py
  tools/accuracy_checker/accuracy_checker/preprocessor/audio_preprocessing_ext.py
  tools/accuracy_checker/accuracy_checker/preprocessor/brats_preprocessing.py
  tools/accuracy_checker/accuracy_checker/preprocessor/centernet_preprocessing.py
  tools/accuracy_checker/accuracy_checker/preprocessor/crop.py
  tools/accuracy_checker/accuracy_checker/preprocessor/geometric_transformations.py
  tools/accuracy_checker/accuracy_checker/preprocessor/nlp_preprocessors.py
  tools/accuracy_checker/accuracy_checker/preprocessor/preprocessing_executor.py
  tools/accuracy_checker/accuracy_checker/preprocessor/preprocessor.py
  tools/accuracy_checker/accuracy_checker/preprocessor/resize.py
  tools/accuracy_checker/tests/test_dlsdk_launcher.py
  tools/accuracy_checker/tests/test_model_evaluator.py
Labels: accuracy checker, feature

#2638 AC: fix result extraction in vector presenter
  tools/accuracy_checker/accuracy_checker/presenters.py
Labels: accuracy checker, bugfix

#2640 AC: fix search of undefined shapes for blobs
  tools/accuracy_checker/accuracy_checker/launcher/dlsdk_launcher.py
Labels: accuracy checker, bugfix

#2641 Define armv7 instruction set for OMZ demos built natively on ARM
  demos/CMakeLists.txt
Labels: ARM, RaspberryPi, bugfix

#2642 cpp demos: logging fix
  demos/common/cpp/models/src/classification_model.cpp
  demos/common/cpp/models/src/deblurring_model.cpp
  demos/common/cpp/models/src/hpe_model_associative_embedding.cpp
  demos/common/cpp/models/src/hpe_model_openpose.cpp
  demos/smart_classroom_demo/cpp_gapi/main.cpp
Labels: demo

#2646 Added extra requirements for AC
  tools/accuracy_checker/requirements-extra.in
  tools/accuracy_checker/setup.py
Labels: accuracy checker

#2630 tools/downloader: dataset files downloading
  tools/downloader/setup.cfg
  tools/downloader/setup.py
  tools/downloader/src/open_model_zoo/model_tools/data_downloader.py
Labels: downloader

#2651 AC: Moved extra requirements to setup.py
  tools/accuracy_checker/requirements-extra.in
  tools/accuracy_checker/setup.py
Labels: accuracy checker

#2652 AC: Added check for correct selection of HR file in SR converter
  tools/accuracy_checker/accuracy_checker/annotation_converters/super_resolution_converter.py
Labels: accuracy checker
