Repository openvinotoolkit/open_model_zoo, pull requests merged in 2022-03, with the labels that each got.

#3316 comment out sphinx directives
  demos/README.md
  models/intel/index.md
  models/public/index.md
  tools/accuracy_checker/README.md
Labels: documentation

#3319 Add ability to test demos of specific implementation.
  demos/tests/cases.py
  demos/tests/performance_cases.py
  demos/tests/run_tests.py
Labels: demo

#3326 Added missing omz_demos_gesture_recognition_demo_cpp_gapi
  demos/README.md
Labels: documentation

#3361 AC: Added support audio in FLAC format
  tools/accuracy_checker/openvino/tools/accuracy_checker/annotation_converters/librispeech.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/audio_readers.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/preprocessor/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/preprocessor/audio_preprocessing.py
  tools/accuracy_checker/setup.py
Labels: accuracy checker

#3407 Updated output shapes for instance-segmentation models in docs
  models/intel/instance-segmentation-person-0007/README.md
  models/intel/instance-segmentation-security-0002/README.md
  models/intel/instance-segmentation-security-0091/README.md
  models/intel/instance-segmentation-security-0228/README.md
  models/intel/instance-segmentation-security-1039/README.md
  models/intel/instance-segmentation-security-1040/README.md
Labels: documentation

#3373 Added MODNet models
  data/dataset_definitions.yml
  demos/background_subtraction_demo/python/README.md
  demos/background_subtraction_demo/python/background_subtraction_demo.py
  demos/background_subtraction_demo/python/models.lst
  demos/common/python/openvino/model_zoo/model_api/README.md
  demos/common/python/openvino/model_zoo/model_api/models/__init__.py
  demos/common/python/openvino/model_zoo/model_api/models/background_matting.py
  demos/tests/cases.py
  models/public/device_support.md
  models/public/index.md
  models/public/modnet-photographic-portrait-matting/README.md
  models/public/modnet-photographic-portrait-matting/accuracy-check.yml
  models/public/modnet-photographic-portrait-matting/model.py
  models/public/modnet-photographic-portrait-matting/model.yml
  models/public/modnet-webcam-portrait-matting/README.md
  models/public/modnet-webcam-portrait-matting/accuracy-check.yml
  models/public/modnet-webcam-portrait-matting/model.py
  models/public/modnet-webcam-portrait-matting/model.yml
  tools/accuracy_checker/configs/modnet-photographic-portrait-matting.yml
  tools/accuracy_checker/configs/modnet-webcam-portrait-matting.yml
Labels: model

#3412 Add paddle mobilenets
  demos/classification_benchmark_demo/cpp/README.md
  demos/classification_benchmark_demo/cpp/models.lst
  demos/classification_demo/python/README.md
  demos/classification_demo/python/models.lst
  models/public/device_support.md
  models/public/index.md
  models/public/mobilenet-v3-large-1.0-224-paddle/README.md
  models/public/mobilenet-v3-large-1.0-224-paddle/accuracy-check.yml
  models/public/mobilenet-v3-large-1.0-224-paddle/model.yml
  models/public/mobilenet-v3-large-1.0-224-paddle/pre-convert.py
  models/public/mobilenet-v3-small-1.0-224-paddle/README.md
  models/public/mobilenet-v3-small-1.0-224-paddle/accuracy-check.yml
  models/public/mobilenet-v3-small-1.0-224-paddle/model.yml
  models/public/mobilenet-v3-small-1.0-224-paddle/pre-convert.py
  tools/accuracy_checker/configs/mobilenet-v3-large-1.0-224-paddle.yml
  tools/accuracy_checker/configs/mobilenet-v3-small-1.0-224-paddle.yml
Labels: model

#3406 Added NanoDet models
  demos/common/python/openvino/model_zoo/model_api/README.md
  demos/common/python/openvino/model_zoo/model_api/models/__init__.py
  demos/common/python/openvino/model_zoo/model_api/models/image_model.py
  demos/common/python/openvino/model_zoo/model_api/models/nanodet.py
  demos/common/python/openvino/model_zoo/model_api/models/utils.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/models.lst
  demos/object_detection_demo/python/object_detection_demo.py
  demos/tests/cases.py
  models/public/device_support.md
  models/public/index.md
  models/public/licenses/APACHE-2.0-PyTorch-NanoDet.txt
  models/public/nanodet-m-1.5x-416/README.md
  models/public/nanodet-m-1.5x-416/accuracy-check.yml
  models/public/nanodet-m-1.5x-416/model.py
  models/public/nanodet-m-1.5x-416/model.yml
  models/public/nanodet-plus-m-1.5x-416/README.md
  models/public/nanodet-plus-m-1.5x-416/accuracy-check.yml
  models/public/nanodet-plus-m-1.5x-416/model.py
  models/public/nanodet-plus-m-1.5x-416/model.yml
  tools/accuracy_checker/configs/nanodet-m-1.5x-416.yml
  tools/accuracy_checker/configs/nanodet-plus-m-1.5x-416.yml
Labels: model

#3431 Fix text_to_speech demo
  demos/text_to_speech_demo/python/models/forward_tacotron_ie.py
  demos/text_to_speech_demo/python/text_to_speech_demo.py
Labels: demo, bugfix
