Repository openvinotoolkit/open_model_zoo, pull requests merged in 2022-02, with the labels that each got.

#3138 segmentation_demo.py: load default Pascal palette from file
  demos/segmentation_demo/python/README.md
  demos/segmentation_demo/python/segmentation_demo.py
Labels: demo

#2893 OV2.0 c++ demos/multi_channel: move to new API, set PERFORMANCE_HINT THROUGHPUT, remove -nireq
  demos/CMakeLists.txt
  demos/common/cpp/utils/CMakeLists.txt
  demos/common/cpp/utils/include/utils/common.hpp
  demos/common/cpp/utils/include/utils/ocv_common.hpp
  demos/common/cpp/utils/src/config_factory.cpp
  demos/multi_channel_common/cpp/CMakeLists.txt
  demos/multi_channel_common/cpp/graph.cpp
  demos/multi_channel_common/cpp/graph.hpp
  demos/multi_channel_common/cpp/input.cpp
  demos/multi_channel_common/cpp/input.hpp
  demos/multi_channel_common/cpp/multichannel_params.hpp
  demos/multi_channel_face_detection_demo/cpp/CMakeLists.txt
  demos/multi_channel_face_detection_demo/cpp/README.md
  demos/multi_channel_face_detection_demo/cpp/main.cpp
  demos/multi_channel_face_detection_demo/cpp/multichannel_face_detection_params.hpp
  demos/multi_channel_human_pose_estimation_demo/cpp/CMakeLists.txt
  demos/multi_channel_human_pose_estimation_demo/cpp/README.md
  demos/multi_channel_human_pose_estimation_demo/cpp/main.cpp
  demos/multi_channel_object_detection_demo_yolov3/cpp/CMakeLists.txt
  demos/multi_channel_object_detection_demo_yolov3/cpp/README.md
  demos/multi_channel_object_detection_demo_yolov3/cpp/main.cpp
  demos/multi_channel_object_detection_demo_yolov3/cpp/multichannel_object_detection_demo_yolov3_params.hpp
  demos/tests/cases.py
Labels: demo, documentation

#2866 OV2.0 API C++ crossroad barrier demo
  demos/common/cpp/utils/include/utils/common.hpp
  demos/common/cpp/utils/include/utils/threads_common.hpp
  demos/crossroad_camera_demo/cpp/CMakeLists.txt
  demos/crossroad_camera_demo/cpp/crossroad_camera_demo.hpp
  demos/crossroad_camera_demo/cpp/detection_base.hpp
  demos/crossroad_camera_demo/cpp/detection_person.hpp
  demos/crossroad_camera_demo/cpp/detection_person_attr.hpp
  demos/crossroad_camera_demo/cpp/detection_person_reid.hpp
  demos/crossroad_camera_demo/cpp/main.cpp
Labels: demo

#3157 Python demos: unify core.read_model()
  demos/3d_segmentation_demo/python/3d_segmentation_demo.py
  demos/colorization_demo/python/colorization_demo.py
  demos/face_recognition_demo/python/ie_module.py
  demos/formula_recognition_demo/python/utils.py
  demos/gpt2_text_prediction_demo/python/gpt2_text_prediction_demo.py
  demos/human_pose_estimation_3d_demo/python/modules/inference_engine.py
  demos/image_inpainting_demo/python/inpainting.py
  demos/image_retrieval_demo/python/image_retrieval_demo/image_retrieval.py
  demos/image_translation_demo/python/image_translation_demo/models.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo.py
  demos/machine_translation_demo/python/machine_translation_demo.py
  demos/multi_camera_multi_target_tracking_demo/python/utils/ie_tools.py
  demos/place_recognition_demo/python/place_recognition_demo/place_recognition.py
  demos/single_human_pose_estimation_demo/python/detector.py
  demos/single_human_pose_estimation_demo/python/estimator.py
  demos/sound_classification_demo/python/sound_classification_demo.py
  demos/text_to_speech_demo/python/models/forward_tacotron_ie.py
  demos/text_to_speech_demo/python/models/mel2wave_ie.py
  demos/time_series_forecasting_demo/python/time_series_forecasting_demo.py
  demos/whiteboard_inpainting_demo/python/utils/ie_tools.py
Labels: demo

#3192 Fix myriad config in action_recognition_demo
  demos/action_recognition_demo/python/action_recognition_demo.py
Labels: demo, VPU

#2923 OV2.0 c++ smart classroom demo update
  demos/common/cpp/utils/include/utils/kuhn_munkres.hpp
  demos/common/cpp/utils/src/kuhn_munkres.cpp
  demos/smart_classroom_demo/cpp/README.md
  demos/smart_classroom_demo/cpp/include/action_detector.hpp
  demos/smart_classroom_demo/cpp/include/cnn.hpp
  demos/smart_classroom_demo/cpp/include/detector.hpp
  demos/smart_classroom_demo/cpp/include/face_reid.hpp
  demos/smart_classroom_demo/cpp/include/logger.hpp
  demos/smart_classroom_demo/cpp/include/tracker.hpp
  demos/smart_classroom_demo/cpp/main.cpp
  demos/smart_classroom_demo/cpp/smart_classroom_demo.hpp
  demos/smart_classroom_demo/cpp/src/action_detector.cpp
  demos/smart_classroom_demo/cpp/src/align_transform.cpp
  demos/smart_classroom_demo/cpp/src/cnn.cpp
  demos/smart_classroom_demo/cpp/src/detector.cpp
  demos/smart_classroom_demo/cpp/src/logger.cpp
  demos/smart_classroom_demo/cpp/src/reid_gallery.cpp
  demos/smart_classroom_demo/cpp/src/tracker.cpp
  demos/tests/cases.py
Labels: demo

#3155 Python demos: update API configuration
  demos/3d_segmentation_demo/python/3d_segmentation_demo.py
  demos/action_recognition_demo/python/action_recognition_demo.py
  demos/handwritten_text_recognition_demo/python/handwritten_text_recognition_demo.py
Labels: demo

#3080 Update python ModelAPI to OV 2.0
  demos/background_subtraction_demo/python/background_subtraction_demo.py
  demos/bert_named_entity_recognition_demo/python/bert_named_entity_recognition_demo.py
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
  demos/bert_question_answering_embedding_demo/python/bert_question_answering_embedding_demo.py
  demos/classification_demo/python/classification_demo.py
  demos/common/python/openvino/model_zoo/model_api/adapters/__init__.py
  demos/common/python/openvino/model_zoo/model_api/adapters/model_adapter.py
  demos/common/python/openvino/model_zoo/model_api/adapters/openvino_adapter.py
  demos/common/python/openvino/model_zoo/model_api/adapters/ovms_adapter.py
  demos/common/python/openvino/model_zoo/model_api/adapters/utils.py
  demos/common/python/openvino/model_zoo/model_api/models/ctpn.py
  demos/common/python/openvino/model_zoo/model_api/models/deblurring.py
  demos/common/python/openvino/model_zoo/model_api/models/hpe_associative_embedding.py
  demos/common/python/openvino/model_zoo/model_api/models/image_model.py
  demos/common/python/openvino/model_zoo/model_api/models/model.py
  demos/common/python/openvino/model_zoo/model_api/models/open_pose.py
  demos/common/python/openvino/model_zoo/model_api/models/ssd.py
  demos/common/python/openvino/model_zoo/model_api/models/utils.py
  demos/common/python/openvino/model_zoo/model_api/models/yolo.py
  demos/common/python/openvino/model_zoo/model_api/pipelines/async_pipeline.py
  demos/deblurring_demo/python/deblurring_demo.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/monodepth_demo/python/monodepth_demo.py
  demos/object_detection_demo/python/object_detection_demo.py
  demos/segmentation_demo/python/segmentation_demo.py
Labels: demo

#3213 Change callback arg to match callback signature
  demos/security_barrier_camera_demo/cpp/main.cpp
  demos/social_distance_demo/cpp/main.cpp
Labels: demo

#3216 fix config factory
  demos/common/cpp/utils/src/config_factory.cpp
Labels: demo

#3245 return size_t type to result in kuhn munkres
  demos/common/cpp/utils/include/utils/kuhn_munkres.hpp
  demos/common/cpp/utils/src/kuhn_munkres.cpp
  demos/gesture_recognition_demo/cpp_gapi/src/tracker.cpp
  demos/pedestrian_tracker_demo/cpp/src/tracker.cpp
  demos/smart_classroom_demo/cpp/src/tracker.cpp
Labels: demo, bugfix

#3240 text_detection_demo: fix auto resize
  demos/text_detection_demo/cpp/include/cnn.hpp
  demos/text_detection_demo/cpp/include/text_detection.hpp
  demos/text_detection_demo/cpp/include/text_recognition.hpp
  demos/text_detection_demo/cpp/main.cpp
  demos/text_detection_demo/cpp/src/cnn.cpp
  demos/text_detection_demo/cpp/src/text_detection.cpp
  demos/text_detection_demo/cpp/src/text_recognition.cpp
  demos/text_detection_demo/cpp/text_detection_demo.hpp
Labels: demo, bugfix

#3198 G-API: Align limit flag behavior of G-API demos with OMZ
  demos/gesture_recognition_demo/cpp_gapi/include/stream_source.hpp
  demos/gesture_recognition_demo/cpp_gapi/main.cpp
  demos/interactive_face_detection_demo/cpp_gapi/main.cpp
  demos/smart_classroom_demo/cpp_gapi/include/tracker.hpp
  demos/smart_classroom_demo/cpp_gapi/smart_classroom_demo_gapi.hpp
  demos/smart_classroom_demo/cpp_gapi/src/tracker.cpp
Labels: demo, bugfix, refactoring

#3276 instance_segmentation_demo.py: align with recent changes
  demos/background_subtraction_demo/python/background_subtraction_demo.py
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
  demos/classification_demo/python/classification_demo.py
  demos/deblurring_demo/python/deblurring_demo.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo.py
  demos/monodepth_demo/python/monodepth_demo.py
  demos/object_detection_demo/python/object_detection_demo.py
  demos/segmentation_demo/python/segmentation_demo.py
Labels: demo

#3254 Renamed streams property
  demos/background_subtraction_demo/cpp_gapi/src/custom_kernels.cpp
  demos/common/cpp/models/src/segmentation_model.cpp
  demos/common/cpp/utils/include/utils/args_helper.hpp
  demos/common/cpp/utils/include/utils/common.hpp
  demos/common/cpp/utils/src/args_helper.cpp
  demos/common/cpp/utils/src/config_factory.cpp
  demos/mri_reconstruction_demo/cpp/main.cpp
  demos/security_barrier_camera_demo/cpp/main.cpp
  demos/smart_classroom_demo/cpp/src/reid_gallery.cpp
  demos/social_distance_demo/cpp/main.cpp
Labels: demo

#3286 setting output precision in cpp classification model
  demos/common/cpp/models/src/classification_model.cpp
Labels: demo, bugfix

#3300 Supress robust-video-matting-mobilenetv3 model on GPU
  models/public/device_support.md
Labels: demo

#2813 [Tests] Add testing of demos performance
  demos/tests/args.py
  demos/tests/cases.py
  demos/tests/performance_cases.py
  demos/tests/run_tests.py
Labels: demo

#3306 align sphinx table with native docs
  models/intel/index.md
Labels: documentation
