Repository openvinotoolkit/open_model_zoo, pull requests merged in 2022-01, with the labels that each got.

#3046 AC: remove usage MO
  tools/accuracy_checker/openvino/tools/accuracy_checker/argparser.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/config/config_reader.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher_config.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/dlsdk_launcher_readme.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/model_conversion.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher_readme.md
  tools/accuracy_checker/sample/README.md
  tools/accuracy_checker/sample/sample_config.yml
  tools/accuracy_checker/tests/test_config_reader.py
  tools/accuracy_checker/tests/test_dlsdk_launcher.py
  tools/accuracy_checker/tests/test_model_conversion.py
  tools/accuracy_checker/tests/test_pytorch_launcher.py
  tools/accuracy_checker/tests/test_tf_launcher.py
Labels: accuracy checker, refactoring

#2914 OV2.0 AC: migrate POT evaluator on usage new OV API
  tools/accuracy_checker/openvino/tools/accuracy_checker/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/image_processing.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_custom_encoder_decoder_joint.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_decoder_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/asr_encoder_prediction_joint_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_custom_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/base_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/cocosnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/colorization_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/custom_text_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/lpcnet_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_evaluator_utils.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/mtcnn_models.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/opennmt_encoder_decoder_generator_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/segnet_background_matting.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sequential_action_recognition_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/sr_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/tacotron2_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_spotting_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/custom_evaluators/text_to_speech_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/module_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/evaluators/quantization_model_evaluator.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/openvino_launcher.py
Labels: accuracy checker

#3033 OV2.0: GPT2 text generation demo with dynamic input support
  demos/gpt2_text_prediction_demo/python/README.md
  demos/gpt2_text_prediction_demo/python/gpt2_text_prediction_demo.py
  models/intel/bert-small-uncased-whole-word-masking-squad-emb-int8-0001/README.md
  models/public/gpt-2/README.md
  models/public/gpt-2/model.yml
Labels: demo

#3037 ov 2.0: python text_spotting_demo
  demos/text_spotting_demo/python/text_spotting_demo.py
Labels: demo

#3034 ov 2.0: python instance_segmentation_demo
  demos/instance_segmentation_demo/python/README.md
  demos/instance_segmentation_demo/python/instance_segmentation_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo/model_utils.py
Labels: demo

#3016 Updated layouts and names in description for intel models
  models/intel/faster-rcnn-resnet101-coco-sparse-60-0001/README.md
  models/intel/handwritten-score-recognition-0003/README.md
  models/intel/icnet-camvid-ava-0001/README.md
  models/intel/icnet-camvid-ava-sparse-30-0001/README.md
  models/intel/icnet-camvid-ava-sparse-60-0001/README.md
  models/intel/image-retrieval-0001/README.md
  models/intel/person-detection-action-recognition-0006/README.md
  models/intel/person-vehicle-bike-detection-crossroad-yolov3-1020/README.md
  models/intel/text-detection-0003/README.md
  models/intel/text-detection-0004/README.md
  models/intel/text-recognition-0012/README.md
  models/intel/vehicle-license-plate-detection-barrier-0106/README.md
  models/intel/yolo-v2-ava-0001/README.md
  models/intel/yolo-v2-ava-sparse-35-0001/README.md
  models/intel/yolo-v2-ava-sparse-70-0001/README.md
  models/intel/yolo-v2-tiny-ava-0001/README.md
  models/intel/yolo-v2-tiny-ava-sparse-30-0001/README.md
  models/intel/yolo-v2-tiny-ava-sparse-60-0001/README.md
  models/intel/yolo-v2-tiny-vehicle-detection-0001/README.md
Labels: documentation

#3079 AC: fix layouts priority setting
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/input_feeder.py
Labels: accuracy checker, bugfix

#3035 ov 2.0: python single_human_pose_estimation_demo
  demos/single_human_pose_estimation_demo/python/detector.py
  demos/single_human_pose_estimation_demo/python/estimator.py
  demos/single_human_pose_estimation_demo/python/single_human_pose_estimation_demo.py
Labels: demo

#3053 ov 2.0: python speech_recognition_wav2vec_demo and speech_recognition_quartznet_demo
  demos/speech_recognition_quartznet_demo/python/speech_recognition_quartznet_demo.py
  demos/speech_recognition_wav2vec_demo/python/speech_recognition_wav2vec_demo.py
Labels: demo

#3036 ov 2.0: python image_retrieval_demo and place_recognition_demo
  demos/image_retrieval_demo/python/image_retrieval_demo/image_retrieval.py
  demos/place_recognition_demo/python/place_recognition_demo/place_recognition.py
Labels: demo

#3070 ov2.0: modify python non model API demos [Part 2]
  demos/image_translation_demo/python/image_translation_demo.py
  demos/image_translation_demo/python/image_translation_demo/models.py
  demos/mri_reconstruction_demo/python/mri_reconstruction_demo.py
  demos/multi_camera_multi_target_tracking_demo/python/multi_camera_multi_target_tracking_demo.py
  demos/multi_camera_multi_target_tracking_demo/python/utils/ie_tools.py
  demos/multi_camera_multi_target_tracking_demo/python/utils/network_wrappers.py
  demos/time_series_forecasting_demo/python/time_series_forecasting_demo.py
  demos/whiteboard_inpainting_demo/python/utils/ie_tools.py
  demos/whiteboard_inpainting_demo/python/utils/network_wrappers.py
  demos/whiteboard_inpainting_demo/python/whiteboard_inpainting_demo.py
Labels: demo

#2985 OV 2.0: python sound classification demo
  demos/sound_classification_demo/python/sound_classification_demo.py
Labels: demo

#3083 AC: support matching data layout and model input layout
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/binary_data_readers.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/launcher/input_feeder.py
Labels: accuracy checker, bugfix

#2912 add paddle OCRNet
  CONTRIBUTING.md
  ci/requirements-conversion.txt
  ci/update-requirements.py
  demos/segmentation_demo/cpp/README.md
  demos/segmentation_demo/cpp/models.lst
  demos/segmentation_demo/python/README.md
  demos/segmentation_demo/python/models.lst
  demos/tests/cases.py
  models/public/device_support.md
  models/public/index.md
  models/public/ocrnet-hrnet-w48-paddle/README.md
  models/public/ocrnet-hrnet-w48-paddle/accuracy-check.yml
  models/public/ocrnet-hrnet-w48-paddle/model.yml
  models/public/ocrnet-hrnet-w48-paddle/pre-convert.py
  tools/model_tools/README.md
  tools/model_tools/requirements-paddle.in
  tools/model_tools/setup.py
  tools/model_tools/src/openvino/model_zoo/_common.py
Labels: dependencies, model, downloader, documentation

#3088 AC: apply data layout on all readers
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/annotation_readers.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/data_reader.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/image_readers.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/medical_imaging_readers.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/numpy_readers.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/data_readers/text_readers.py
Labels: accuracy checker, bugfix

#3071 OV2.0 python noise_suppression_demo
  demos/noise_suppression_demo/python/noise_suppression_demo.py
Labels: demo

#3031 ov 2.0: python machine_translation_demo
  demos/machine_translation_demo/python/machine_translation_demo.py
Labels: demo

#3087 Cvs 62354/adopt download engine for onezoo
  tools/model_tools/src/openvino/model_zoo/_configuration.py
  tools/model_tools/src/openvino/model_zoo/download_engine/downloader.py
  tools/model_tools/src/openvino/model_zoo/download_engine/file_source.py
  tools/model_tools/src/openvino/model_zoo/omz_downloader.py
Labels: downloader

#3063 Fixed some demo mistakes
  demos/common/cpp/models/src/style_transfer_model.cpp
  demos/gaze_estimation_demo/cpp/src/landmarks_estimator.cpp
  demos/gesture_recognition_demo/cpp_gapi/main.cpp
  demos/gesture_recognition_demo/cpp_gapi/src/custom_kernels.cpp
  demos/interactive_face_detection_demo/cpp_gapi/face.cpp
  demos/interactive_face_detection_demo/cpp_gapi/face.hpp
Labels: demo

#3066 ov2.0: modify python non model API demos [Part 1]
  demos/3d_segmentation_demo/python/3d_segmentation_demo.py
  demos/face_detection_mtcnn_demo/python/face_detection_mtcnn_demo.py
  demos/face_recognition_demo/python/face_detector.py
  demos/face_recognition_demo/python/face_identifier.py
  demos/face_recognition_demo/python/face_recognition_demo.py
  demos/face_recognition_demo/python/ie_module.py
  demos/face_recognition_demo/python/landmarks_detector.py
  demos/face_recognition_demo/python/utils.py
  demos/gesture_recognition_demo/python/gesture_recognition_demo.py
  demos/gesture_recognition_demo/python/gesture_recognition_demo/action_recognizer.py
  demos/gesture_recognition_demo/python/gesture_recognition_demo/common.py
  demos/gesture_recognition_demo/python/gesture_recognition_demo/person_detector.py
  demos/handwritten_text_recognition_demo/python/handwritten_text_recognition_demo.py
  demos/human_pose_estimation_3d_demo/python/human_pose_estimation_3d_demo.py
  demos/human_pose_estimation_3d_demo/python/modules/inference_engine.py
Labels: demo

#2926 Changes in RemoteAdapter implementation
  ci/prepare-documentation.py
  demos/background_subtraction_demo/python/README.md
  demos/background_subtraction_demo/python/background_subtraction_demo.py
  demos/bert_named_entity_recognition_demo/python/README.md
  demos/bert_named_entity_recognition_demo/python/bert_named_entity_recognition_demo.py
  demos/bert_question_answering_demo/python/README.md
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
  demos/classification_demo/python/README.md
  demos/classification_demo/python/classification_demo.py
  demos/common/python/openvino/model_zoo/model_api/adapters/__init__.py
  demos/common/python/openvino/model_zoo/model_api/adapters/ovms_adapter.md
  demos/common/python/openvino/model_zoo/model_api/adapters/ovms_adapter.py
  demos/common/python/openvino/model_zoo/model_api/adapters/remote_adapter.py
  demos/common/python/requirements_ovms.txt
  demos/deblurring_demo/python/README.md
  demos/deblurring_demo/python/deblurring_demo.py
  demos/monodepth_demo/python/README.md
  demos/monodepth_demo/python/monodepth_demo.py
  demos/object_detection_demo/python/README.md
  demos/object_detection_demo/python/object_detection_demo.py
  demos/segmentation_demo/python/README.md
  demos/segmentation_demo/python/segmentation_demo.py
Labels: dependencies, demo, documentation

#3106 Import Python Model API from installed package
  demos/background_subtraction_demo/python/background_subtraction_demo.py
  demos/bert_named_entity_recognition_demo/python/bert_named_entity_recognition_demo.py
  demos/bert_question_answering_demo/python/bert_question_answering_demo.py
  demos/bert_question_answering_embedding_demo/python/bert_question_answering_embedding_demo.py
  demos/classification_demo/python/classification_demo.py
  demos/colorization_demo/python/colorization_demo.py
  demos/common/python/images_capture.py
  demos/deblurring_demo/python/deblurring_demo.py
  demos/face_detection_mtcnn_demo/python/face_detection_mtcnn_demo.py
  demos/face_recognition_demo/python/face_recognition_demo.py
  demos/face_recognition_demo/python/utils.py
  demos/gesture_recognition_demo/python/gesture_recognition_demo.py
  demos/human_pose_estimation_3d_demo/python/human_pose_estimation_3d_demo.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/image_retrieval_demo/python/image_retrieval_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo/model_utils.py
  demos/monodepth_demo/python/monodepth_demo.py
  demos/multi_camera_multi_target_tracking_demo/python/multi_camera_multi_target_tracking_demo.py
  demos/object_detection_demo/python/object_detection_demo.py
  demos/place_recognition_demo/python/place_recognition_demo.py
  demos/segmentation_demo/python/segmentation_demo.py
  demos/single_human_pose_estimation_demo/python/single_human_pose_estimation_demo.py
  demos/text_spotting_demo/python/text_spotting_demo.py
  demos/whiteboard_inpainting_demo/python/whiteboard_inpainting_demo.py
Labels: demo

#3114 Apply fixes to migrated to OV2.0 Python demos, rename prob_threshold to confidence_threshold for HPE wrappers
  demos/common/python/openvino/model_zoo/model_api/models/hpe_associative_embedding.py
  demos/common/python/openvino/model_zoo/model_api/models/open_pose.py
  demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
  demos/instance_segmentation_demo/python/instance_segmentation_demo.py
  demos/mri_reconstruction_demo/python/mri_reconstruction_demo.py
  demos/multi_camera_multi_target_tracking_demo/python/utils/ie_tools.py
  demos/multi_camera_multi_target_tracking_demo/python/utils/network_wrappers.py
  demos/tests/cases.py
  demos/text_spotting_demo/python/text_spotting_demo.py
Labels: demo

#2967 Added t2t-vit-14 model
  demos/classification_demo/python/README.md
  demos/classification_demo/python/models.lst
  models/public/device_support.md
  models/public/index.md
  models/public/t2t-vit-14/README.md
  models/public/t2t-vit-14/accuracy-check.yml
  models/public/t2t-vit-14/model.py
  models/public/t2t-vit-14/model.yml
  tools/accuracy_checker/configs/t2t-vit-14.yml
  tools/model_tools/src/openvino/model_zoo/internal_scripts/pytorch_to_onnx.py
Labels: model

#3078 OV2.0 c++ social_distance_demo
  demos/common/cpp/utils/include/utils/ocv_common.hpp
  demos/social_distance_demo/cpp/CMakeLists.txt
  demos/social_distance_demo/cpp/include/geodist.hpp
  demos/social_distance_demo/cpp/include/net_wrappers.hpp
  demos/social_distance_demo/cpp/include/person_trackers.hpp
  demos/social_distance_demo/cpp/include/social_distance_demo.hpp
  demos/social_distance_demo/cpp/main.cpp
  demos/social_distance_demo/cpp/src/geodist.cpp
Labels: demo

#3056 ov 2.0: python image_inpainting_demo
  demos/image_inpainting_demo/python/image_inpainting_demo.py
  demos/image_inpainting_demo/python/inpainting.py
Labels: demo

#3120 Added adapter for nanodet models
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/README.md
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/__init__.py
  tools/accuracy_checker/openvino/tools/accuracy_checker/adapters/detection.py
Labels: accuracy checker
